<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <nav aria-label="breadcrumb" class="breadcrumb_nav" *ngIf="showCrumbs == true" >
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="small"><a routerLink="/add-case">Cases</a></li>
            <li  class="small active" *ngIf="pageType == 'add'"><span>Create New Case</span></li>
            <li class="small active" *ngIf="pageType == 'edit'"><span>Update Case</span></li>
          </ol>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- Page tab -->
        <div class=" container-fluid p-2">
          <notifier-container></notifier-container>
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow  mb-2">
                <form [formGroup]="caseForm">
                  <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                    <h6 *ngIf="pageType == 'add'" class="m-0 font-weight-bold float-left">Create New Case</h6>
                    <h6 *ngIf="pageType == 'edit'" class="m-0 font-weight-bold float-left">Update Case</h6>
                    <div class=" no-arrow">
                      <!-- <div class="custom-control custom-checkbox custom-control-inline float-right mt-2">
                        <input type="checkbox" class="custom-control-input" checked="" id="print-label" name="saveprint-label">
                        <label class="custom-control-label" for="print-label">Print Label</label>
                      </div> -->
                      <a appRbac featureCode="SPCA-SP" *ngIf="selectedCase.length == 0 && disableAll == false" [routerLink]="" (click)="onlyPrint=false; showSaveModal(2)" class="btn btn-sm submit-button float-right  ">Save & Print</a>
                      <a appRbac featureCode="SPCA-SN" *ngIf="selectedCase.length == 0 && disableAll == false" [routerLink]="" (click)="onlyPrint=false; showSaveModal(1)" class="btn btn-sm submit-button float-right mr-2 ">Save & New</a>
                      <!-- <a appRbac featureCode="SPCA-SN" *ngIf="selectedCase['caseStatusId'] != 1 && disableAll == false" (click)="onlyPrint=false; showSaveModal(1)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Save & New</a> -->
                      <a appRbac featureCode="SPCA-SD" *ngIf="selectedCase['caseStatusId'] == 1 && disableAll == false" (click)="onlyPrint=false; showSaveModal(0)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Update as Draft</a>
                      <a appRbac featureCode="SPCA-SD" *ngIf="selectedCase.length == 0 && disableAll == false && selectedCase['caseStatusId'] != 1" (click)="onlyPrint=false; showSaveModal(0)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Save as Draft</a>
                      <!-- <a appRbac featureCode="SPCA-SD" *ngIf="selectedCase['caseStatusId'] == 1 && disableAll == false" (click)="onlyPrint=false; showSaveModal(0)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Save as Draft</a> -->
                      <a appRbac featureCode="SPCA-UC" *ngIf="selectedCase['caseStatusId'] != 1 && selectedCase.length != 0 && disableAll == false" (click)="onlyPrint=false; showSaveModal(3)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Save</a>
                      <a appRbac featureCode="SPCA-UC" *ngIf="selectedCase['caseStatusId'] == 1 && selectedCase.length != 0 && disableAll == false" (click)="onlyPrint=false; showSaveModal(3)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Save</a>
                      <a appRbac featureCode="SPCA-LPH" *ngIf="selectedCase['caseStatusId'] != 1 && selectedCase.length != 0 && disableAll == false" [routerLink]="" (click)="printHistory(selectedCase['caseNumber'])" class="btn btn-sm submit-button float-right mr-2">Print Label History</a>
                      <a appRbac featureCode="SPCA-PL" *ngIf="selectedCase['caseStatusId'] != 1 && selectedCase.length != 0 && disableAll == false" (click)="onlyPrint=true; printLabel(selectedCase.caseNumber,patLName,patFName,patDob,clientNameToPrint,selectedCase.caseSpecimenTypePRE,selectedCase.clientId)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Print Label</a>


                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <!-- <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="checkbox-detail">
                      <label class="custom-control-label" for="checkbox-detail">Detail View</label>
                    </div> -->
                    <div id="detail-view">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="accordion" id="accordioncases">
                            <div class="card">
                              <div class="card-header " id="headingcase">
                                <h2 class="mb-0" data-toggle="collapse" data-target="#collapsecase" aria-expanded="true" aria-controls="collapsecase">
                                  <i class="fa fa-plus float-right"></i>
                                  <i class="fa fa-minus float-right"></i>
                                </h2>
                              </div>
                            </div>
                          </div>
                          <div class="bg-custom-gray collapse show" id="collapsecase" aria-labelledby="headingcase" data-parent="#accordioncases">
                           <!-- <div class="form-heading">
                            <p>Case Information</p>
                          </div> -->
                          <h5 class="text-dark font-weight-bold">Case Information</h5>

                          <div class="form-group row" *ngIf="pageType == 'edit'">
                            <label class="col-md-4 col-form-label ">Case # </label>
                            <div class="col-md-8">
                              <label class="col-md-4 col-form-label " *ngIf="selectedCase.caseStatusId == 1">Not genetrated </label>
                              <label class="col-md-4 col-form-label " *ngIf="selectedCase.caseStatusId != 1">{{selectedCase.caseNumber}} </label>
                            </div>
                          </div>
                          <div class="form-group row" *ngIf="pageType == 'edit'">
                            <label class="col-md-4 col-form-label ">Case Status </label>
                            <div class="col-md-8">
                              <label class="font-weight-bold" >{{selectedCase?.selectedCaseStatusName}}</label>
                              <!-- <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 1" >Draft</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 2" >Accessioned</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 3" >Triaged</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 4" >In Progress</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 5" >Partial Under Reporting</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 6" >Under Reporting</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 7" >Partial Signed Off</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 8" >Signed Off</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 9" >Partial Delivered</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 10" >Delivered</label>
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId == 11" >Cancelled</label> -->
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="casecategory1-select" class="col-md-4 col-form-label  ">Case Category <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                              <ng-select
                              [items]           ="allCaseCategories"
                              bindLabel         ="caseCategoryName"
                              [virtualScroll]   ="true"
                              dropdownPosition  ="auto"
                              #case_category
                              placeholder       ="Select Case Category"
                              formControlName   ="caseCategory"
                              class             ="form-control select-control-sm"
                              [multiple]        ="false"
                              (change)          = "setCaseCatPrefix()"
                              [(ngModel)]       ="selectedCaseCat"
                              [ngClass]         ="{ 'is-invalid': submitted && f.caseCategory.errors }" required>
                            </ng-select>
                            <div *ngIf="submitted && f.caseCategory.errors" class="invalid-feedback">You did not select Case Category.</div>

                            </div>
                          </div>
                          <!-- <div class="form-heading">
                            <p>Client Information</p>
                          </div> -->
                          <h5 class="text-dark font-weight-bold">Client Information</h5>
                          <div class="form-group row">
                            <label for="clientname1-select" class="col-md-4 col-form-label  ">Client Name <span class="text-danger">*</span></label>

                            <!-- [typeahead]       ="clientInput$" -->
                            <!-- (keyup)           ="loadSearchClients($event)" -->
                            <div class="col-md-8">
                              <ng-select
                              [items]           ="allClientName"
                              bindLabel         ="name"
                              [virtualScroll]   ="true"
                              dropdownPosition  ="auto"
                              #client_name_search
                              placeholder       ="Select Client Name"
                              formControlName   ="clientName"
                              class             ="form-control  select-control-sm"
                              [multiple]        ="false"
                              [loading]         ="clientLoading"
                              (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                              (change)          ="clientChanged()"
                              [(ngModel)]       ="clientSearchString"
                              [ngClass]         ="{ 'is-invalid': submitted && f.clientName.errors }" required>
                            </ng-select>
                            <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">You did not select Client Name.</div>

                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="attendphy1-select" class="col-md-4 col-form-label  ">Attending Physician <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                              <ng-select
                              [items]           ="allAtdPhysicians"
                              bindLabel         ="name"
                              [virtualScroll]   ="true"
                              dropdownPosition  ="auto"
                              #case_category
                              placeholder       ="Select Attending Physician"
                              formControlName   ="atdPhysician"
                              class             ="form-control  select-control-sm"
                              [multiple]        ="false"
                              [(ngModel)]       ="selectedAttPhysician"
                              [ngClass]         ="{ 'is-invalid': submitted && f.atdPhysician.errors }" required>
                            </ng-select>
                            <div *ngIf="submitted && f.atdPhysician.errors" class="invalid-feedback">You did not select Default Physician.</div>

                            </div>
                          </div>
                         <!-- <div class="form-heading">
                            <p>Additional Case Information</p>
                          </div> -->
                          <h5 class="text-dark font-weight-bold">Additional Case Information</h5>
                          <div class="form-group row">
                            <label for="p-dob1" class="col-md-4 col-form-label ">Collection Date <span class="text-danger">*</span></label>
                            <div class="col-md-8 clearable">
                              <input type="datetime-local" required class="form-control form-control-sm"  id="colDate" max="{{maxDateCollection}}" min="{{minDateCollection}}" (change)="chec($event,'c')"
                                aria-describedby="basic-addon1" formControlName="collectionDate" name="collectionDate" [(ngModel)] ="collectionDateToShow"
                                 [ngClass] ="{ 'is-invalid': submitted && f.collectionDate.errors }">
                                 <span class="clearable__clear" (click)="cleanDate($event,'col')"><i class="fa fa-close "></i></span>
                                 <span class="popup__clear"><i class="fa fa-check "></i></span>
                                <div *ngIf="submitted && f.collectionDate.errors" class="invalid-feedback">You did not select Collection Date.</div>

                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="collby1" class="col-md-4 col-form-label ">Collected By <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                              <div class="custom-control custom-radio custom-control-inline" id="collby1">
                                <input type="radio" class="custom-control-input form-control-sm" formControlName="collectedBy" name="collectedBy"
                                 id="sip111" value="1" checked [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                                <label class="custom-control-label " for="sip111" >siP</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="client" formControlName="collectedBy" name="collectedBy"
                                 value="2" [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                                <label class="custom-control-label" for="client">Client</label>
                                <div *ngIf="submitted && f.collectedBy.errors" class="invalid-feedback">Please Select one Personel.</div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="intake-select" class="col-md-4 col-form-label  ">Intake ID</label>
                            <div class="col-md-8">
                              <ng-select
                              [items]           ="allIntakesForClient"
                              bindLabel         ="intakeId"
                              bindValue         ="intakeId"
                              [virtualScroll]   ="true"
                              dropdownPosition  ="auto"
                              #case_category
                              placeholder       ="Intake ID"
                              formControlName   ="intakeid"
                              [loading]         ="intakeLoading"

                              class             ="form-control"
                              [multiple]        ="false"
                              [(ngModel)]       ="saveRequest.data.intakeId"
                              >
                              <!-- (keyup)           ="intakeLoading = true && [searchTermIntake$.next($event.target.value)]" -->
                            </ng-select>


                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="rec-date" class="col-md-4 col-form-label ">Sent Date <span class="text-danger">*</span></label>
                            <div class="col-md-8 clearable">
                              <input type="datetime-local" name="sendDate" formControlName="sendDate"  required class="form-control form-control-sm"  id="send-date"
                                aria-describedby="basic-addon1" [(ngModel)] ="sendDateToShow" (change)="sentDateValidation($event)" max="{{maxSentDate}}"
                                 [ngClass] ="{ 'is-invalid': submitted && f.sendDate.errors }">
                                 <span class="clearable__clear" (click)="cleanDate($event,'sent')"><i class="fa fa-close "></i></span>
                                 <span class="popup__clear"><i class="fa fa-check "></i></span>
                                <div *ngIf="submitted && f.sendDate.errors" class="invalid-feedback">Please Select one Sent Date.</div>

                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="rec-date" class="col-md-4 col-form-label ">Receiving Date <span class="text-danger">*</span></label>
                            <div class="col-md-8 clearable">
                              <input type="datetime-local" name="recievingDate" formControlName="recievingDate" min="{{minDateRecieve}}:00" required class="form-control form-control-sm"  id="rec-date"
                                aria-describedby="basic-addon1" [(ngModel)] ="recievingDateToShow"  (change)="chec($event,'r')"
                                 [ngClass] ="{ 'is-invalid': submitted && f.recievingDate.errors }">
                                 <span class="clearable__clear" (click)="cleanDate($event,'rec')"><i class="fa fa-close "></i></span>
                                 <span class="popup__clear"><i class="fa fa-check "></i></span>
                                <div *ngIf="submitted && f.recievingDate.errors" class="invalid-feedback">Please Select one Recieving Date.</div>

                            </div>
                          </div>
                          <div class="form-group row" *ngIf="pageType == 'edit'">
                            <label class="col-md-4 col-form-label ">Accession Date </label>
                            <div class="col-md-8">
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId != 1" >{{selectedCase?.accessionTimestamp  | momentDateWithTz}}</label>

                            </div>
                          </div>
                          <div class="form-group row" *ngIf="pageType == 'edit'">
                            <label class="col-md-4 col-form-label ">Accession By </label>
                            <div class="col-md-8">
                              <label class="font-weight-bold" *ngIf="selectedCase.caseStatusId != 1" >{{selectedCase?.accessionedByName}}</label>

                            </div>
                          </div>
                        </div>

                        </div>
                        <div class="col-md-4">
                          <div class="accordion" id="accordionpatient">
                            <div class="card">
                              <div class="card-header " id="headingpat">
                                <h2 class="mb-0" data-toggle="collapse" data-target="#collapsepat" aria-expanded="true" aria-controls="collapsepat">
                                  <i class="fa fa-plus float-right"></i>
                                  <i class="fa fa-minus float-right"></i>
                                </h2>
                              </div>
                            </div>
                          </div>
                          <div class="bg-custom-gray collapse show" id="collapsepat" aria-labelledby="headingpat" data-parent="#accordionpatient">
                            <!-- <div class="form-heading">
                              <p>Patient Information</p>
                            </div> -->
                            <h5 class="text-dark font-weight-bold">Patient Information</h5>
                            <div class="form-group row">
                              <label for="p-lastname11" class="col-md-4 col-form-label ">Patient Last Name <span class="text-danger">*</span></label>
                              <div class="col-md-8">
                                <input type="text" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" name="pLastName" minlength="1" maxlength="100" formControlName="pLastName" required class="form-control form-control-sm" placeholder="Last Name" id="p-lastname11"
                                  aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.pLastName.errors }" [(ngModel)]="patLName" (change)="checkPatient()">
                                  <div *ngIf="submitted && f.pLastName.errors?.required" class="invalid-feedback">You did not provide Patient Last Name.</div>
                                  <div *ngIf="submitted && f.pLastName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="p-firstname11" class="col-md-4 col-form-label ">Patient First Name <span class="text-danger">*</span></label>
                              <div class="col-md-8">
                                <input type="text" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" minlength="1" maxlength="100" name="pFirstName" formControlName="pFirstName" required class="form-control form-control-sm" placeholder="First Name" id="p-firstname11"
                                  aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.pFirstName.errors }" [(ngModel)]="patFName" (change)="checkPatient()">
                                  <div *ngIf="submitted && f.pFirstName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                                  <div *ngIf="submitted && f.pFirstName.errors?.required" class="invalid-feedback">You did not provide Patient First Name.</div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="p-dob1" class="col-md-4 col-form-label ">Patient Date of Birth <span class="text-danger">*</span></label>
                              <div class="col-md-8">
                                <input type="date" required class="form-control form-control-sm" id="p-dob1" name="pDOB" formControlName="pDOB" max="{{maxDate}}"
                                  aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.pDOB.errors }" [(ngModel)]="patDob" (change)="checkPatient()">
                              <div *ngIf="submitted && f.pDOB.errors" class="invalid-feedback">You did not provide Patient Date of Birth.</div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="gender-select" class="col-md-4 col-form-label ">Gender <span class="text-danger">*</span></label>
                              <div class="col-md-8">
                                <select class="custom-select select-control-sm dropdown-arrow" name="pGender" formControlName="pGender" required id="gender-select"
                                [ngClass] ="{ 'is-invalid': submitted && f.pGender.errors }"  [(ngModel)]="patGender">
                                  <option value="null" selected disabled>Select Gender</option>
                                  <option value="m">Male</option>
                                  <option value="f">Female</option>
                                  <option value="u">Unsepecified</option>
                                </select>
                              <div *ngIf="submitted && f.pGender.errors" class="invalid-feedback">You did not select Patient Gender.</div>
                            </div>
                            </div>
                            <div class="form-group row">
                              <label for="inscompany-select" class="col-md-4 col-form-label ">Patient Type <span class="text-danger">*</span></label>
                              <div class="col-md-8">
                                <ng-select
                                [items]           ="allpattypes"
                                bindLabel         ="patientTypeName"
                                bindValue         ="patientTypeId"
                                [virtualScroll]   ="true"
                                dropdownPosition  ="auto"
                                #case_category
                                placeholder       ="Select Patient Type"
                                formControlName   ="pType"
                                class             ="form-control  select-control-sm"
                                [multiple]        ="false"
                                [(ngModel)]       ="patType"
                                [ngClass]         ="{ 'is-invalid': submitted && f.pType.errors }" required>
                              </ng-select>
                                <!-- <select class="custom-select select-control-sm" name="pType" formControlName="pType"
                                 [ngClass] ="{ 'is-invalid': submitted && f.pType.errors }" required [(ngModel)]="patType" (change)="checkPatient()">
                                  <option>Select Type</option>
                                  <option value="1">Employee</option>
                                  <option value="2">Resident</option>
                                  <option value="3">General (Other)</option>
                                  <option value="4">General (1)</option>
                                  <option value="5">General (2)</option>
                                </select> -->
                                <div *ngIf="submitted && f.pType.errors" class="invalid-feedback">You did not select Patient Type.</div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="p-ssn" class="col-md-4 col-form-label ">SSN <span class="text-danger"></span></label>
                              <div class="col-md-8">
                                <input type="text" [appUsssn] name="pSSN" formControlName="pSSN" class="form-control form-control-sm" placeholder="SSN" id="p-ssn"
                                  aria-describedby="basic-addon1" maxlength="9" length="9" [(ngModel)]="patSSN">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inscompany-select" class="col-md-4 col-form-label ">Insurance Company <span class="text-danger"></span></label>
                              <div class="col-md-8">
                                <ng-select
                                [items]           ="allInsuraneCompanies"
                                bindLabel         ="insuranceName"
                                bindValue         = "insuranceId"
                                [virtualScroll]   ="true"
                                dropdownPosition  ="auto"
                                [disabled]        ="true"
                                #Company_select
                                placeholder       ="Select Insurance Company"
                                formControlName   ="pInsuranceCompany"
                                [(ngModel)]       ="insuranceCompany"
                                (change)          ="toggleInsurance()"
                                class             ="form-control  select-control-sm"
                                [multiple]        ="false">
                              </ng-select>

                                <!-- <select class="custom-select select-control-sm " required id="inscompany-select" style="width: 100%;">
                                  <option  disabled>Select Insurance Company</option>
                                <option selected value="1">Company A</option>
                                <option value="2">Company B</option>
                                <option value="3">Company C</option>
                                </select> -->
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="p-insuranceid" class="col-md-4 col-form-label ">Insurance ID <span class="text-danger"></span></label>
                              <div class="col-md-6">
                                <input type="text" class="form-control form-control-sm" placeholder="Insurance ID"
                                  aria-describedby="basic-addon1" maxlength="50" length="50"
                                  name="pInsuranceID" formControlName="pInsuranceID" [(ngModel)]="pInsuranceID"
                                  [ngClass] ="{ 'is-invalid': submitted && f.pInsuranceID.errors }">
                                  <div *ngIf="submitted && f.pInsuranceID.errors" class="invalid-feedback">You did not Provide Insurance ID.</div>

                              </div>
                              <div class="col-md-1">
                                <a *ngIf="viewCaseAction == false" [routerLink]="" (click)="resetPatient()" class="btn btn-sm submit-button float-right">Reset</a>
                              </div>
                              <div class="form-group row w-100">
                              <div class="col-md-12">
                                <a appRbac featureCode="PNTA-UP" *ngIf="selectedPatientID != null && viewCaseAction == false"  (click)="setClientIdForPatient(selectedPatientID)" class="btn btn-sm submit-button float-right">Update Patient Profile</a>
                              </div>
                            </div>
                            </div>

                          </div>
                        </div>
                        <div class="col-md-4 ">
                          <div class="accordion" id="accordionspecimen">
                            <div class="card">
                              <div class="card-header " id="headingspec">
                                <h2 class="mb-0" data-toggle="collapse" data-target="#collapsespec" aria-expanded="true" aria-controls="collapsespec">
                                    <i class="fa fa-plus float-right"></i>
                                    <i class="fa fa-minus float-right"></i>
                                </h2>
                              </div>
                            </div>
                          </div>
                          <div class="bg-custom-gray collapse show" id="collapsespec" aria-labelledby="headingspec" data-parent="#accordionspecimen">
                            <ul class="nav nav-tabs" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" href="#specimen_tab" data-toggle="tab" aria-expanded="false">Specimen Info</a>
                              </li>
                              <li class="nav-item" appRbac featureCode="SPCA-CA">
                                <a class="nav-link " href="#caseattach_tab" data-toggle="tab" id="att_button" aria-expanded="true">Case Attachments</a>
                              </li>
                              <li *ngIf="selectedCase.length != 0" class="nav-item">
                                <a class="nav-link " href="#test_tab" data-toggle="tab" aria-expanded="true">Test Info</a>
                              </li>
                              <li class="nav-item">
                              <!-- <li *ngIf="selectedCase.caseStatusId > 6" class="nav-item"> -->
                                <a class="nav-link " href="#underreport_tab" data-toggle="tab" aria-expanded="true">Reports Info</a>
                              </li>
                            </ul>
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane pt-2 active" id="specimen_tab">
                                <!-- <div class="form-heading">
                                  <p>Specimen Information</p>
                                </div> -->
                                <!-- <h5>Specimen Information</h5> -->
                                <div class="form-group row">
                                  <label for="spectype1-select" class="col-md-4 col-form-label ">Specimen Type <span class="text-danger">*</span></label>
                                  <div class="col-md-8">
                                    <ng-select
                                    [items]           ="allSpecimenTypes"
                                    bindLabel         ="labelToShow"
                                    [virtualScroll]   ="true"
                                    dropdownPosition  ="auto"
                                    #SpecimenType_select
                                    placeholder       ="Select Specimen Type"
                                    formControlName   ="specimenType"
                                    [(ngModel)]       ="specimenType"
                                    (change)          ="changespecimenType()"
                                    class             ="form-control select-control-sm"
                                    [multiple]        ="false"
                                    [ngClass] ="{ 'is-invalid': submitted && f.specimenType.errors }">
                                  </ng-select>
                                    <!-- <select class="custom-select select-control-sm" required id="spectype1-select"
                                    name="specimenType" formControlName="specimenType"
                                    [ngClass] ="{ 'is-invalid': submitted && f.specimenType.errors }"
                                    [(ngModel)] ="saveRequest.data.caseSpecimen.specimenId" style="width: 100%;">
                                    <option disabled>Select Specimen Type</option>
                                    <option value="1">Nasal swab</option>
                                    <option selected value="2">Nasopharyngeal swab</option>
                                    <option value="3">Oropharyngeal swab</option>
                                    <option value="4">Saliva</option>
                                    </select> -->
                                    <div *ngIf="submitted && f.specimenType.errors" class="invalid-feedback">You did not select Specimen Type.</div>

                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="s-specsource" class="col-md-4 col-form-label ">Specimen Source <span class="text-danger">*</span></label>
                                  <div class="col-md-8">
                                    <ng-select
                                    [items]           ="allSpecimenSource"
                                    bindLabel         ="specimenSourceName"
                                    [virtualScroll]   ="true"
                                    dropdownPosition  ="auto"
                                    #SpecimenSource_select
                                    placeholder       ="Select Specimen Source"
                                    formControlName   ="specimenSource"
                                    [(ngModel)]       ="specimenSource"
                                    (change)          ="changeSpecimenSource()"
                                    class             ="form-control select-control-sm"
                                    [multiple]        ="false"
                                    [ngClass] ="{ 'is-invalid': submitted && f.specimenSource.errors }">
                                  </ng-select>
                                    <!-- <select class="custom-select select-control-sm" required
                                    name="specimenSource" formControlName="specimenSource"
                                     [(ngModel)] ="saveRequest.data.caseSpecimen.specimenSourceId"
                                    [ngClass] ="{ 'is-invalid': submitted && f.specimenSource.errors }" id="s-specsource">
                                      <option selected disabled>Select Specimen Source</option>
                                      <option value="1">Nasal</option>
                                      <option value="2" selected>Nasopharyngeal</option>
                                      <option value="3">Oropharyngeal</option>
                                      <option value="4">Saliva</option>
                                      </select> -->
                                      <div *ngIf="submitted && f.specimenSource.errors" class="invalid-feedback">You did not select Specimen Source.</div>

                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="s-bodysite" class="col-md-4 col-form-label ">Body Site <span class="text-danger">*</span></label>
                                  <div class="col-md-8">
                                    <ng-select
                                    [items]           ="allSBodySite"
                                    bindLabel         ="bodySiteName"
                                    [virtualScroll]   ="true"
                                    dropdownPosition  ="auto"
                                    #Body_select
                                    placeholder       ="Select Body Site"
                                    formControlName   ="bodySite"
                                    [(ngModel)]       ="bodySite"
                                    (change)          ="changebodySite()"
                                    class             ="form-control select-control-sm"
                                    [multiple]        ="false"
                                    [ngClass] ="{ 'is-invalid': submitted && f.bodySite.errors }">
                                  </ng-select>
                                    <!-- <select class="custom-select select-control-sm" name="bodySite" formControlName="bodySite"
                                     [(ngModel)] ="saveRequest.data.caseSpecimen.bodySiteId"
                                    [ngClass] ="{ 'is-invalid': submitted && f.bodySite.errors }" required id="s-bodysite">
                                      <option selected  disabled>Select body site</option>
                                      <option value="1">Nose</option>
                                      <option value="2" selected>Nasopharynnx</option>
                                      <option value="3">Oropharynnx</option>
                                      <option value="4">Saliva</option>
                                      </select> -->
                                      <div *ngIf="submitted && f.bodySite.errors" class="invalid-feedback">You did not select Body Site.</div>

                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="s-procedure " class="col-md-4 col-form-label ">Procedure <span class="text-danger">*</span> </label>
                                  <div class="col-md-6">
                                    <!-- <select class="custom-select select-control-sm" name="procedure" formControlName="procedure"
                                     [(ngModel)] ="saveRequest.data.caseSpecimen.procedureId"
                                    [ngClass] ="{ 'is-invalid': submitted && f.procedure.errors }" required id="s-procedure">
                                      <option selected disabled>Select procedure</option>
                                      <option value="1" selected>Swab</option>
                                      <option value="2">Collection</option>
                                      </select> -->
                                      <ng-select
                                      [items]           ="allProcedures"
                                      bindLabel         ="procedureName"
                                      [virtualScroll]   ="true"
                                      dropdownPosition  ="auto"
                                      #SpecimenType_select
                                      placeholder       ="Select Procedure"
                                      formControlName   ="procedure"
                                      [(ngModel)]       ="procedure"
                                      (change)          ="changeProcedure()"
                                      class             ="form-control select-control-sm"
                                      [multiple]        ="false"
                                      [ngClass] ="{ 'is-invalid': submitted && f.procedure.errors }" required>
                                    </ng-select>
                                      <div *ngIf="submitted && f.procedure.errors" class="invalid-feedback">You did not select Procedure.</div>

                                  </div>
                                  <div class="col-md-1">
                                    <a *ngIf="viewCaseAction == false" [routerLink]="" (click)="popSpecTable()" class="btn btn-sm submit-button ">Add</a>
                                </div>
                                </div>
                                <div class="table mb-1">
                                  <table class="table table-sm table-bordered mb-1">
                                    <thead>
                                      <tr class="table-secondary">
                                        <th>Specimen Type</th>
                                        <th>Specimen Source</th>
                                        <th>Body Site</th>
                                        <th>Procedure</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of specimenTable; let i = index" id="STR-{{i}}">
                                        <td>{{item.spType}}</td>
                                        <td>{{item.spSource}}</td>
                                        <td>{{item.spBody}}</td>
                                        <td>{{item.spProcedure}}</td>
                                        <td>
                                          <a *ngIf="item?.hasOwnProperty('deleteBackend') && viewCaseAction == false" [routerLink]="" (click)="specToRemove = i" data-toggle="modal" data-target="#removespecModal"
                                           title="Remove"><i class="fa fa-trash text-danger"></i></a>
                                           <a *ngIf="!item?.hasOwnProperty('deleteBackend') && viewCaseAction == false" [routerLink]="" (click)="showDelModal(item?.caseSpecimenId)"
                                            title="Remove"><i class="fa fa-trash text-danger"></i></a>
                                         </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane pt-2" id="caseattach_tab" appRbac featureCode="SPCA-CA">
                                  <!-- <div class="form-heading">
                                    <p>Case Attachments</p>
                                  </div> -->
                                  <!-- <h5>Case Attachments</h5> -->
                                  <div class="form-group row">
                                    <label for="attachment-select" class="col-md-4 col-form-label  ">Attachment Type <span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                      <select class="custom-select dropdown-arrow form-control select-control-sm" name="attType" formControlName="attType"
                                      [(ngModel)]="selectattachmentTypeId"
                                      [ngClass] ="{ 'is-invalid': submitted && f.attType.errors }" id="attachment-select" style="width: 100%;">
                                        <option  selected disabled>Select Attachment Type</option>
                                        <option *ngFor="let att of allAttachmentTypes"  value="{{att?.attachmentTypeId}}" [attr.attname]="att?.attachmentTypeName">{{att?.attachmentTypeName}}</option>
                                      <!-- <option value="1" attname="Consent Form">Consent Form</option>
                                      <option value="2" attname="Insurance Card">Insurance Card</option> -->

                                      </select>
                                      <div *ngIf="submitted && f.attType.errors" class="invalid-feedback">You did not select Attachment Type.</div>

                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="upload-att" class="col-md-4 col-form-label ">Select File <span class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                      <input type="file" accept="application/pdf,image/png,image/jpeg,image/jpg" class="form-control form-control-sm"  id="upload-att" name="attFile" formControlName="attFile"
                                        aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.attFile.errors }" (change)="popFile($event)">
                                        <div *ngIf="submitted && f.attFile.errors" class="invalid-feedback">You did not select Attachment Type.</div>

                                    </div>
                                  </div>
                                  <div class="table mb-1">
                                    <table class="table table-sm table-bordered mb-1" style="table-layout: fixed;">
                                      <thead>
                                        <tr class="table-secondary">
                                          <th>Attachment Type</th>
                                          <th>File Name</th>
                                          <th *ngIf="selectedCase.length != 0">Download</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let item of attachmentTable; let i = index" >
                                          <td>{{item?.type}}</td>
                                          <td>{{item?.file}}</td>
                                          <td *ngIf="!item?.hasOwnProperty('notDownload')" >
                                            <a *ngIf="selectedCase.length == 0 && viewCaseAction == false"  href="{{item?.fileurl}}" target="_blank"></a>
                                            <a *ngIf="selectedCase.length != 0 && viewCaseAction == false"  [routerLink]="" (click)="downloadFile(selectedCase.caseId,item?.fileUrl,item?.fileType,item?.fileId)"><i class="fa fa-download"></i></a>
                                          </td>

                                        </tr>
                                        <!-- <tr>
                                          <td>Consent Form</td>
                                          <td>abc.pdf</td>
                                          <td><a href="img/insurance-card.pdf"><i class="fa fa-download"></i></a></td>
                                        </tr> -->
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                              <div role="tabpanel" class="tab-pane pt-2" id="test_tab">
                                <div class="table mb-1">
                                  <table class="table table-sm table-bordered mb-1">
                                    <thead>
                                      <tr class="table-secondary">
                                        <th>Batch#</th>
                                        <th>Test</th>
                                        <th>Status</th>
                                        <th>Result</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of resultsTableData; let i = index" >
                                        <td>{{item?.batchId}}</td>
                                        <td>{{item?.test}}</td>
                                        <td>{{item?.status}}</td>
                                        <td>{{item?.result}}</td>
                                      </tr>
                                      <!-- <tr>
                                        <td>7882</td>
                                        <td>COVID-19</td>
                                        <td>Triaged</td>
                                        <td></td>
                                      </tr> -->
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane pt-2" id="underreport_tab">
                                <div class="table mb-1">
                                  <table datatable [dtOptions]="dtOptions[3]" [dtTrigger]="dtTrigger" id="rep-history" class="table nowrap table-sm table-hover table-bordered" style="width:100%">
                                    <thead class="bg-light">
                                      <tr>
                                        <th>Sent Date</th>
                                        <th>Sent By</th>
                                        <th>Download</th>
                                        <th>Deliver</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of allReportsData" >
                                        <td>{{item?.sendDate | date:'MM/dd/yyyy hh:mm'}}</td>
                                        <td>{{item?.sentByName}}</td>
                                        <td>
                                          <button (click)="downloadOldReport(item?.reportId,clientSearchString.name,item?.reportPackageId)" class="ml-1 btn bt-sm"><a [routerLink]=""><i class="fa fa-download" title="Download Latest Report"></i></a></button>

                                          <!-- <a  appRbac featureCode="MRMA-DLR" [routerLink]="" (click)="setCaseReorcdForDownloadReport(clientSearchString.clientId, selectedIntakeforClient, item?.jobOrderId)" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></a> -->
                                        </td>
                                        <td>
                                          <button (click)="resendReport(item?.reportId,item?.reportPackageId)" class="ml-1 btn bt-sm"><a [routerLink]=""><i class="fa fa-paper-plane" title="Resend"></i></a></button>

                                          <!-- <a [routerLink]="" (click)="setCaseReorcdForResendReport(selectedCase?.clientId, selectedCase?.intakeId, item?.jobOrderId)" class="ml-1"><i class="fa fa-paper-plane" title="Resend"></i></a> -->
                                        </td>

                                      </tr>



                                    </tbody>

                                  </table>
                                </div>

                            </div>
                            </div>



                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">{{saveModalTitle}}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">{{saveModalText}}</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="saveCase(saveTypeGlobal)" [routerLink]="">Submit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="removespecModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Remove</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to remove ?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="removeSpec()" [routerLink]="">Remove</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="removespecModalSavedSpecimen" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Remove</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to remove ?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="deletSPecimen()" [routerLink]="">Remove</a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="update-patient-Modal" data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <app-add-patient></app-add-patient>
        </div>
        <div class="modal-footer">
          <!-- <a href="edit-case.html" class="btn submit-button" type="button" >Save</a> -->
          <button class="btn btn-warning" type="button" (click)="clearPatienId()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="spec-labelhistory-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Label Print History</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table id="spec-col-history" class="table nowrap table-sm table-hover table-bordered"
            style="width:100%">
            <thead class="bg-light">
              <tr>
                <th>Printed by</th>
                <th>Date/Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of labelHistory" >
                <td>{{item?.printedByName}}</td>
                <td>{{item?.printedDate | momentDateWithTz}}</td>
              </tr>


            </tbody>

          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
