<!-- <app-navbar></app-navbar> -->
<!-- Sidebar -->
<!-- <app-sidebar></app-sidebar> -->
<!-- End of Sidebar -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- End of Topbar -->

    <!-- Begin Page Content -->

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-arrow">
        <li class="small"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="small active"><span>Dashboard</span></li>
      </ol>
    </nav>

    <div class="container-fluid pt-4">
      <div class="row">
        <!-- <div class="col-xl-12 col-md-12">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="fa fa-warning"></i> You have not defined any users. <a href="#">Define now</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span class="btn btn-sm btn-danger" aria-hidden="true">Dismiss</span>
            </button>
          </div>
        </div> -->

        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total No of Clients</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{totalClients}}</div>
                    </div>

                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total No of Users
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalUsers}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->


      </div>



    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
<app-footer></app-footer>
  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
