
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Open Sans', sans-serif ;
    font-size: 14px;}
textarea:hover, textarea:active, textarea:focus,label:focus,.select2-container--default.select2-container--focus .select2-selection--multiple
{outline:0px !important;  -webkit-appearance:none; box-shadow: none !important; border: 1px solid #ccc; }
.logo-login{margin: auto; text-align: center;}
.bg-gradient-primary {
    background-color: #939498;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#003c71),to(#003c71));
    background-image: linear-gradient(120deg, #CAC3C3, #DF4661, #DF4661);
    background-size: cover;
}
.bg-admin-gradiant {
    background-color: #939498;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#003c71),to(#003c71));
    background-image: linear-gradient(120deg, #003c71, #003c71) ;
    background-size: cover;
}
.shadow-loginbox {
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(126,50,36,0.7)!important;
}
.text-siteblue{color: #003c71;}

/* .bg-sired{background: linear-gradient(120deg, #df4661, #df4661) !important;} */
.bg-sired{background:linear-gradient(120deg, #ffffff, #DF4661, #df4661) !important; }
.bg-sired-withoutgrad{background:#df4661 ;}
/* .navbar.topbar{min-height: 2.5rem; height: 0;} */
/* .nav-custom{} */
.nav-custom span{color:#fff;}
.sidebar {min-height: 91vh; height: 100%;}
.sidebar .nav-item:hover {background:#df4661 ;}
/* .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #003c71; color:#ffffff ;
} */
.topbar .nav-item .nav-link{height: 2.5em;}
.dropdown-item.active, .dropdown-item:active {background-color: #003c71 !important;}
nav.navbar{padding-left: 0;}
nav.navbar .navbar-brand{ padding:14px;}
nav.navbar .navbar-brand h1{font-weight:600; margin-left: 10px; font-size: 15px; margin: 5px 10px; color: #ffffff;}
nav.navbar .navbar-brand h1 span{ font-weight: 500; font-size: 13px; color: #ffffff;}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem;
    margin: 0;
    font-size: 11px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0 !important;
    white-space: nowrap;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item i, .sidebar .nav-item .collapsing .collapse-inner .collapse-item i
{font-size: 11px;}
.sidebar.toggled .nav-item .nav-link span {font-size: 11px;}
.sidebar.toggled .nav-item .dropdown button{font-size: 11px;}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover{background: #003c71; color: #ffffff;}
.sidebar-toggled .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover{background: #df4661 !important; color: #ffffff;}
.sidebar-toggled .sidebar .nav-item .collapse .collapse-inner, .sidebar-toggled .sidebar .nav-item .collapsing .collapse-inner {
    padding: 0 0 !important; background: #003c71;}
.sidebar.toggled .nav-item .collapse {
    left: 102% !important;
    top: 0;}
.sidebar.toggled .nav-item .collapse .collapse-inner {border-radius: 0;}
.sidebar .nav-item .collapse-item[data-toggle=collapse].collapsed::after {content: '\f105';}
.sidebar.toggled .nav-item .collapse-item[data-toggle=collapse]::after { content: '\f105';}
.sidebar .nav-item .collapse-item[data-toggle=collapse]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: rgba(255,255,255,.5);
}
.recent-link{position: absolute !important; bottom: 0 !important;}
.table{overflow-x: auto;}
/* tbody.t_sortable tr{cursor:pointer} */
/* .dataTables_filter{display: none;}
.dataTables_length{float:right;}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    float: left;;} */
table.dataTable.table-sm>thead>tr>th {background: #eaecf4; font-weight: 500; color: #003c71;}
table.dataTable tr th:first-child input,
table.dataTable tr th:last-child input{display: none;}
/* td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
} */
td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
.details-control tr td{padding: 0;}
tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}

.page-item.active .page-link {z-index: 1;  color: #fff; background-color: #003c71; border-color: #003c71;}
.card{border-radius: 0;}
.card-header {background-color: #ffffff; }
.card-header h6{font-size: 15px; color: #003c71;}
.card-header .form-group{margin-bottom: 0;}
/* .form-row{align-items: center;} */
.form-control{line-height: 1 !important; border-radius: 0; }
.form-control:focus { color: none !important; background-color: #fff; border-color: none !important;
    outline: 0;}
.main-form-heading{background: #df4661; text-align: center; padding: 2px 10px; width: 100%; margin-bottom: 10px;}
.main-form-heading p{color: #ffffff; font-size: 15px;  margin: 0;}
.form-heading{background: #003c71; padding: 2px 10px; width: -moz-fit-content;  width: fit-content; min-width: 160px; margin-bottom: 10px;}
.form-heading p{color: #ffffff; font-size: 15px;  margin: 0;}
form.user .form-control-user {border-radius: 0;height: 42px; padding: 10px;}
form.user .btn-user {min-width: 100px; border-radius: 0;}
.form-group label{color: #003c71; border-radius: 0;}
.custom-control-label{color: #003c71;}
.button-fac:hover{background:#df4661; color: #ffffff !important; border-radius: 0;}
.button-fac{background:#df4661; color: #ffffff !important; border-radius: 0;}
.submit-button{background:#df4661; color: #ffffff !important; border-radius: 0;}
.submit-button:hover{background:#003c71; color: #ffffff; border-radius: 0;}
.btn-warning{border-radius: 0; color: #ffffff !important;}
.btn-info{border-radius: 0;}
 option:hover{background-color:yellow !important;}

.input-group .custom-file , .input-group .custom-select {border-radius: 0;}
.custom-select.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border: 2px solid #1cc88a;}
.form-control.is-invalid, .was-validated .form-control:invalid{
    border: 2px solid #e74a3b !important;}
/* .custom-select.is-valid, .was-validated .custom-select:valid + .select2-container--default .select2-selection--multiple {
    border: 2px solid #1cc88a; background: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px,url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231cc88a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e) #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem);} */
.was-validated .form-control:invalid + .select2-container--default .select2-selection--multiple{
    border: 2px solid #e74a3b !important; }
.validation-panel{border: 2px solid #e74a3b ; padding-bottom: 0; border-radius: 0;}
.validation-panel ul{padding-left: 20px;}
.validation-panel ul li{margin-top: 5px;}
/* .was-validated.is-invalid .select2-container--default .select2-selection--multiple{
    border: 2px solid #e74a3b !important;} */
/* .select2-container{width: 100% !important;} */
.select2-container--default .select2-results__option .select2-results__option {
    /* padding-left: 1em; */ padding: 5px 10px; font-size: 11px;}
.select2-results__option {padding: 5px 10px; font-size: 12px;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #003c71;}
.select2-container--default .select2-selection--single{border-radius: 0;  border: 1px solid #d1d3e2;height: 34px}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e707e;
    line-height: 34px;
}
.select2-container .select2-search--inline .select2-search__field {margin-top: 4px;}
.select2-container--default .select2-selection--multiple{border-radius: 0;  border: 1px solid #d1d3e2;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{ margin-right: 2px; margin-top: 3px; font-size: 10px; padding: 0 3px;}
.custom-select{border-radius: 0;}
.input-group-text{border-radius: 0;}
.add_button{background:#df4661; color: #ffffff !important; border-radius: 0;}
.add_button:hover{background:#003c71; color: #ffffff; border-radius: 0;}
.container-search .card{background:#f8f9fc; margin-top: 10px;}
.container-search .link{text-decoration: underline; color: #003c71;}
.progress{border-radius: 0; height: 1.5rem;}
.progress-bar{background: #003c71;}
.header-wizards{background: #df4661; padding: 10px 10px; margin-bottom: 10px;}
.header-wizards h5{color: #ffffff; font-weight: 600; margin: 0;}
#wizardsModal .modal-body { min-height: calc(100vh - 100px); overflow-y: auto;}
/* .card-management .table td .form-control {width: 65%;} */
/* .breadcrumb_nav{margin-bottom: 20px;} */
.breadcrumb-arrow { height: 30px; padding: 0; line-height: 36px; list-style: none; margin-bottom: 0; background-color: #f8f9fc }
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span { display: inline-block; vertical-align: top;}

.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 30px;
    padding: 0 10px 0 25px;
    line-height: 30px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #003c71;
    border: 1px solid #003c71
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -12px;
    z-index: 3;
    border-left-color: #003c71;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -13px;
    z-index: 2;
    border-left: 11px solid #df4661
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #df4661;
    border: 1px solid #df4661
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #df4661
}
.breadcrumb-arrow li a:active {
    background-color: #003c71;
    border: 1px solid #003c71
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #003c71
}
.breadcrumb-arrow li span {
    color: #434a54
}
.tabs-pages{margin-bottom: 20px; background-color: #eaecf4; padding-top: 10px;}
.tabs-pages .nav-item{position: relative;}
.tabs-pages .nav-item .nav-link:hover{border-color: #dddfeb #dddfeb #dddfeb;}
.tabs-pages .arrow-down { position: absolute;  width: 0;  height: 0;  border-left: 8px solid transparent;
    border-right: 8px solid transparent;  border-top: 8px solid #df4661; left: 50%; margin-left: -8px;}
/* .tabs-pages .nav-item .nav-link.active {
    color: #003c71 !important;
    background: none !important;
    border-color: #dddfeb #dddfeb #dddfeb;
    font-weight: bold;} */
.tabs-pages .nav-item i.fa{background: white;position: absolute;border-radius: 50%;
    color: #003c71; top: -5px ; right: -5px; display: none; z-index: 9;}

.tabs-pages .nav-item:hover i.fa{display: block; cursor: pointer;}
.nav-tabs .nav-link.active {color: #ffffff; background: #df4661; border: 1px solid #df4661;}
.tabs-pages .nav-tabs .nav-links + .arrow-down{display: none}
.tabs-pages .nav-tabs .nav-link.active + .arrow-down{display: block}
.nav-link{color:#003c71 ;}
.nav-tabs .nav-link {border: 1px solid #cccdd0; background: #dddfeb;}
.radiotab-service{background:#cccdd0 ; }
.radiotab-service .custom-control{padding: 5px 10px 5px 25px;}
.radiotab-service .custom-control.active-raidodiv {background: #df4661;  }
.radiotab-service .custom-control .active + .custom-control-label{color: #fff; }
footer.sticky-footer{padding: 1rem 0 !important;}
.table td, .table th {
    vertical-align: middle !important;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified a.btn{border: 1px solid #003c71 !important;}
.table-batch-tray tbody td{min-width: 100px !important;}
 table.dataTable tbody tr.selected {
    background-color: #cccccc;
    color: #ffffff;
}
.t_sortable tr, .ui-sortable-helper {
    cursor: move;}
 /* add to all */
.card-header {padding: .3rem 1.25rem !important;}
.col-form-label{font-size: 90% !important;}
.form-group{margin-bottom: 5px !important;}

.select-control-sm {
  height: calc(1.8125rem + 2px) !important;
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}
.select-control-sm + .select2-container .select2-selection--single .select2-selection__rendered{height: calc(1.8125rem + 2px) !important;
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;}
.select-control-sm + .select2-container--default .select2-selection--single{border-radius: 0 !important;
  border: 1px solid #d1d3e2 !important;
  height: 28px !important;}
.nav-tabs  .nav-link {
  display: block !important;
  padding: .3rem .5rem !important;
  font-size: 12px !important;
}
.table-sm td, .table-sm th {
  padding: .2rem !important;
  font-size: 12px !important;
}
div.dataTables_wrapper div.dataTables_length label{font-size: 12px !important;}
.page-link{padding: .2rem .75rem !important;}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 7px; font-size: 12px !important;}
table.dataTable{margin-top:0 !important}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc !important;
    opacity: 1; /* Firefox */
  }
input[type=date]:invalid::-webkit-datetime-edit  , input[type=datetime-local]:invalid::-webkit-datetime-edit {
    color: #ccc !important;    }
.bg-custom-gray{background: #edeef1; padding: 10px;}
.table-dashboard thead th{vertical-align: middle;}
/* select:invalid {
    color: #ccc !important;
  }
  select option:first-child{
    color: #ccc;
  }
  select option { color: #6e707e; } */

/* add to all end */
table.dataTable.no-footer {border-bottom: 0 !important;}
table.dataTable thead th, table.dataTable thead td {border-bottom: 0 !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding: 0}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Open Sans', sans-serif ;
    font-size: 14px;}
textarea:hover, textarea:active, textarea:focus,label:focus,.select2-container--default.select2-container--focus .select2-selection--multiple
{outline:0px !important;  -webkit-appearance:none; box-shadow: none !important; border: 1px solid #ccc; }
.logo-login{margin: auto; text-align: center;}
.bg-gradient-primary {
    background-color: #939498;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#003c71),to(#003c71));
    background-image: linear-gradient(120deg, #CAC3C3, #DF4661, #DF4661);
    background-size: cover;
}
.bg-admin-gradiant {
    background-color: #939498;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#003c71),to(#003c71));
    background-image: linear-gradient(120deg, #003c71, #003c71) ;
    background-size: cover;
}
.shadow-loginbox {
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(126,50,36,0.7)!important;
}
.text-siteblue{color: #003c71;}

.bg-sired{background:linear-gradient(120deg, #ffffff, #DF4661, #df4661) !important; }
.bg-sired-withoutgrad{background:#df4661 ;}
/* .navbar.topbar{min-height: 2.5rem; height: 0;} */
/* .nav-custom{} */
.nav-custom span{color:#fff;}
.sidebar {min-height: 91vh;}
.sidebar .nav-item:hover {background:#df4661 ;}
/* .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #003c71; color:#ffffff ;
} */
.topbar .nav-item .nav-link{height: 2.5em;}
.dropdown-item.active, .dropdown-item:active {background-color: #003c71 !important;}
nav.navbar{padding-left: 0;}
nav.navbar .navbar-brand{ padding:14px;}
.navbar-brand h1{font-weight:600; margin-left: 10px; font-size: 15px; margin: 5px 10px; color: #ffffff;}
.navbar-brand h1 span{ font-weight: 500; font-size: 13px; color: #ffffff;}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem;
    margin: 0;
    font-size: 11px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0 !important;
    white-space: nowrap;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item i, .sidebar .nav-item .collapsing .collapse-inner .collapse-item i
{font-size: 11px;}
.sidebar.toggled .nav-item .nav-link span {font-size: 11px;}
.sidebar.toggled .nav-item .dropdown button{font-size: 11px;}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover{background: #003c71; color: #ffffff;}
.sidebar-toggled .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover{background: #df4661; color: #ffffff;}
.sidebar-toggled .sidebar .nav-item .collapse .collapse-inner, .sidebar-toggled .sidebar .nav-item .collapsing .collapse-inner {
    padding: 0 0 !important; background: #003c71;}
.sidebar.toggled .nav-item .collapse {
    left: 102% !important;
    top: 0;}
.sidebar.toggled .nav-item .collapse .collapse-inner {border-radius: 0;}
.sidebar .nav-item .collapse-item[data-toggle=collapse].collapsed::after {content: '\f105';}
.sidebar.toggled .nav-item .collapse-item[data-toggle=collapse]::after { content: '\f105';}
.sidebar .nav-item .collapse-item[data-toggle=collapse]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: rgba(255,255,255,.5);
}
.recent-link{position: absolute !important; bottom: 0 !important;}
.table{overflow-x: auto;}
.table.table-hover{cursor:pointer}
/* .dataTables_filter{display: none;}
.dataTables_length{float:right;}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    float: left;;} */
table.dataTable.table-sm>thead>tr>th {background: #eaecf4; font-weight: 500; color: #003c71;}
table.dataTable tr th:last-child input{display: none;}
/* td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
} */
td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
.details-control tr td{padding: 0;}
tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}

.page-item.active .page-link {z-index: 1;  color: #fff; background-color: #003c71; border-color: #003c71;}
.card{border-radius: 0;}
.card-header {background-color: #ffffff; }
.card-header h6{font-size: 15px; color: #003c71;}
.card-header .form-group{margin-bottom: 0;}
/* .form-row{align-items: center;} */
.form-control{line-height: 1 !important; border-radius: 0; }
.form-control:focus { color: none !important; background-color: #fff; border-color: none !important;
    outline: 0;}
.main-form-heading{background: #df4661; text-align: center; padding: 2px 10px; width: 100%; margin-bottom: 10px;}
.main-form-heading p{color: #ffffff; font-size: 15px;  margin: 0;}
.form-heading{background: #003c71; padding: 2px 10px; width: -moz-fit-content;  width: fit-content; min-width: 160px; margin-bottom: 10px;}
.form-heading p{color: #ffffff; font-size: 15px;  margin: 0;}
form.user .form-control-user {border-radius: 0;height: 42px; padding: 10px;}
form.user .btn-user {min-width: 100px; border-radius: 0;}
.form-group label{color: #003c71; border-radius: 0;}
.custom-control-label{color: #003c71;}
.button-fac:hover{background:#df4661; color: #ffffff !important; border-radius: 0;}
.button-fac{background:#df4661; color: #ffffff !important; border-radius: 0;}
.submit-button{background:#df4661; color: #ffffff !important; border-radius: 0;}
.submit-button:hover{background:#003c71; color: #ffffff; border-radius: 0;}
.btn-warning{border-radius: 0; color: #ffffff !important;}
.btn-info{border-radius: 0;}
 option:hover{background-color:yellow !important;}

.input-group .custom-file , .input-group .custom-select {border-radius: 0;}
.custom-select.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border: 2px solid #1cc88a;}
.form-control.is-invalid, .was-validated .form-control:invalid{
    border: 2px solid #e74a3b !important;}
/* .custom-select.is-valid, .was-validated .custom-select:valid + .select2-container--default .select2-selection--multiple {
    border: 2px solid #1cc88a; background: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px,url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231cc88a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e) #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem);} */
.was-validated .form-control:invalid + .select2-container--default .select2-selection--multiple{
    border: 2px solid #e74a3b !important; }
.validation-panel{border: 2px solid #e74a3b ; padding-bottom: 0; border-radius: 0;}
.validation-panel ul{padding-left: 20px;}
.validation-panel ul li{margin-top: 5px;}
/* .was-validated.is-invalid .select2-container--default .select2-selection--multiple{
    border: 2px solid #e74a3b !important;} */
/* .select2-container{width: 100% !important;} */
.select2-container--default .select2-results__option .select2-results__option {
    /* padding-left: 1em; */ padding: 5px 10px; font-size: 11px;}
.select2-results__option {padding: 5px 10px; font-size: 12px;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #003c71;}
.select2-container--default .select2-selection--single{border-radius: 0;  border: 1px solid #d1d3e2;height: 34px}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #6e707e;
    line-height: 34px;
}
.select2-container .select2-search--inline .select2-search__field {margin-top: 4px;}
.select2-container--default .select2-selection--multiple{border-radius: 0;  border: 1px solid #d1d3e2;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{ margin-right: 2px; margin-top: 3px; font-size: 10px; padding: 0 3px;}
.custom-select{border-radius: 0;}
.input-group-text{border-radius: 0;}
.add_button{background:#df4661; color: #ffffff !important; border-radius: 0;}
.add_button:hover{background:#003c71; color: #ffffff; border-radius: 0;}
.container-search .card{background:#f8f9fc; margin-top: 10px;}
.container-search .link{text-decoration: underline; color: #003c71;}
.progress{border-radius: 0; height: 1.5rem;}
.progress-bar{background: #003c71;}
.header-wizards{background: #df4661; padding: 10px 10px; margin-bottom: 10px;}
.header-wizards h5{color: #ffffff; font-weight: 600; margin: 0;}
#wizardsModal .modal-body { min-height: calc(100vh - 100px); overflow-y: auto;}
/* .card-management .table td .form-control {width: 65%;} */
/* .breadcrumb_nav{margin-bottom: 20px;} */
.breadcrumb-arrow { height: 30px; padding: 0; line-height: 36px; list-style: none; margin-bottom: 0; background-color: #f8f9fc }
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span { display: inline-block; vertical-align: top;}

.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 30px;
    padding: 0 10px 0 25px;
    line-height: 30px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #003c71;
    border: 1px solid #003c71
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -12px;
    z-index: 3;
    border-left-color: #003c71;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -13px;
    z-index: 2;
    border-left: 11px solid #df4661
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #df4661;
    border: 1px solid #df4661
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #df4661
}
.breadcrumb-arrow li a:active {
    background-color: #003c71;
    border: 1px solid #003c71
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #003c71
}
.breadcrumb-arrow li span {
    color: #434a54
}
.tabs-pages{margin-bottom: 20px; background-color: #eaecf4; padding-top: 10px;}
.tabs-pages .nav-item{position: relative;}
.tabs-pages .nav-item .nav-link:hover{border-color: #dddfeb #dddfeb #dddfeb;}
.tabs-pages .arrow-down { position: absolute;  width: 0;  height: 0;  border-left: 8px solid transparent;
    border-right: 8px solid transparent;  border-top: 8px solid #003c71; left: 50%; margin-left: -8px;}
.tabs-pages .nav-item .nav-link.active {
    color: #003c71 !important;
    background: none !important;
    border-color: #dddfeb #dddfeb #dddfeb;
    font-weight: bold;}
.tabs-pages .nav-item i.fa{position: absolute; top: -5px ; right: -5px; display: none; z-index: 9;}
.tabs-pages .nav-item:hover i.fa{display: block; cursor: pointer;}
.nav-tabs .nav-link.active {color: #ffffff; background: #df4661; border: 1px solid #df4661;}
.nav-link{color:#003c71 ;}
.nav-tabs .nav-link {border: 1px solid #cccdd0; background: #dddfeb;}
.radiotab-service{background:#cccdd0 ; }
.radiotab-service .custom-control{padding: 5px 10px 5px 25px;}
.radiotab-service .custom-control.active-raidodiv {background: #df4661;  }
.radiotab-service .custom-control .active + .custom-control-label{color: #fff; }
footer.sticky-footer{padding: 1rem 0 !important;}



  /* add to all */
.card-header {padding: .3rem 1.25rem !important;}
    .col-form-label{font-size: 90% !important;}
    .form-group{margin-bottom: 5px !important;}

    .select-control-sm {
      height: calc(1.8125rem + 2px) !important;
      padding: 0.25rem 0.5rem !important;
      font-size: 0.875rem !important;
      line-height: 1.5 !important;
      border-radius: 0.2rem !important;
  }
  .select-control-sm + .select2-container .select2-selection--single .select2-selection__rendered{height: calc(1.8125rem + 2px) !important;
      padding: 0.25rem 0.5rem !important;
      font-size: 0.875rem !important;
      line-height: 1.5 !important;
      border-radius: 0.2rem !important;}
  .select-control-sm + .select2-container--default .select2-selection--single{border-radius: 0 !important;
      border: 1px solid #d1d3e2 !important;
      height: 28px !important;}
  .nav-link {
      display: block !important;
      padding: .3rem .5rem !important;
      font-size: 12px !important;
  }
  .table-sm td, .table-sm th {
      padding: .2rem !important;
      font-size: 12px !important;
  }
  div.dataTables_wrapper div.dataTables_length label{font-size: 12px !important;}
  .page-link{padding: .2rem .75rem !important;}
  div.dataTables_wrapper div.dataTables_info {
      padding-top: 7px; font-size: 12px !important;}
  table.dataTable{margin-top:0 !important}
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ccc !important;
        opacity: 1; /* Firefox */
      }
  input[type=date]:invalid::-webkit-datetime-edit  , input[type=datetime-local]:invalid::-webkit-datetime-edit {
        color: #ccc !important;    }
.bg-custom-gray{background: #edeef1; padding: 10px;}
.table-dashboard thead th{vertical-align: middle;}
    /* select:invalid {
        color: #ccc !important;
      }
      select option:first-child{
        color: #ccc;
      }
      select option { color: #6e707e; } */

.accordion, .accordion .card h2.collapsed .fa-plus {display: block;  }
.accordion .card h2 .fa-plus, .accordion .card h2.collapsed .fa-minus{ display: none; }
.accordion>.card .card-header {margin-bottom: 0;}

/* add to all end */
/*Custom Style by Sarmad*/
.mainComponentStyle{
  display: contents !important;
}
.select2-container--default .select2-selection--multiple{
  border-radius: 1px !important;
  outline: 0px !important;
-webkit-appearance: none;
box-shadow: none !important;
border: 1px solid #ccc !important;
}
table.dataTable thead > tr > th.sorting_asc{
  padding-right: 20px !important;
}
div.dataTables_info{
  color: #858796 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0em 0em !important;
  margin-left: 0px !important;
}
.ng-select .ng-select-container {
    color: #333 !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    border: 0px !important;
    min-height: 0px !important;
    align-items: center !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option span{
  font-size: 12px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #003c71 !important;
    color: #fff !important;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border: 1px solid #e74a3b !important;
}
.table thead th {
    border-bottom: 2px solid #e3e6f0 !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #eaecf4 !important;
}
.ng-select.ng-select-single .ng-select-container {
    height: 22px !important;
}
.ng-select .ng-select-container .ng-value-container {
    padding-left: 0px !important;
}
.ng-input input{
  border: none !important;
}
.sidebar {
    height: 100%;
}
.client-user-tabpan{
  display: inline-block !important;
}
table.dataTable.display tbody tr.odd {
    /* display: none !important; */
}
#contactDetailModal .modal-dialog{
  max-width: 85% !important;
}
.invalid-feedback-custom{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e74a3b;
}
.dataTables_empty{
  display:none !important;
}
.my-swal-success {
    background: #df4661 !important;
    border-color: #df4661 !important;
    color: #ffffff !important;
    border-radius: 0;
}
.alert-success {
    color: #000000 !important;
    /* background-color: #d2f4e8; */
    background-color: #5CB85C;
    /* border-color: #bff0de; */
    border-color: #5CB85C;
}
.alert-danger {
  /* color: #78261f; */
    color: #000000 !important;
    background-color: #D9534F;
    border-color: #D9534F;
}
.spinner-border {
    width: 1rem !important;
    height: 1rem !important;

    /* border: .15em solid currentColor !important; */

}
a{
  cursor: pointer !important;
}
td a{
  margin-left: 1px;
  margin-right: 1px;
}
.table-sm td, .table-sm th {
    padding: .3rem !important;
}
table.dataTable.table-sm>thead>tr>th {
    padding-right: 20px !important;
}
.notifier__notification--sucess {
  background-color: #5CB85C !important;
  border-color: #5CB85C !important;
}
.notifier__notification--error {
  background-color: #D9534F !important;
  border-color: #D9534F !important;
}
.custom-select{
      /* padding: .375rem 0rem .375rem .75rem !important; */
      padding: 3px 0rem 2px .75rem !important;
      background: none !important;
      background-color: white !important;
      height: auto !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 0px !important;
}
div.dataTables_wrapper div.dataTables_processing {

    padding: 7px 0 !important;

    background-color: #9bb0c1 !important;
}
.dataTables_wrapper .dataTables_processing{
  background: none !important;
}

div.dataTables_wrapper div.dataTables_length select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
    padding: .375rem 1.75em .375rem .75rem !important;
}
.fa-circle-o-notch {
  position:absolute !important;
  right:1px !important;
  top:3px !important;
  z-index:1 !important;
  -webkit-animation: fa-spin 1s infinite linear !important;
  animation: fa-spin 1s infinite linear !important;
}

.canvasjs-chart-credit{
  display: none !important;
}
.bgGreen{
    background-color: #1cc88a !important;
    color: black !important;
}
.dropdown-arrow{
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAADeAAAA3gHd6oNqAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAAlQTFRF////AAAAAAAAflGpXQAAAAJ0Uk5TAICbK04YAAAALklEQVQIHW3BMQEAIAwDsPAgYmqmBzWI4KEqMUDCx0quSo6ZbCNp1kUdzI3Rfh7ocQqhSrAE5gAAAABJRU5ErkJggg==) !important; */
   background: url("http://i.stack.imgur.com/RGBNj.png") no-repeat center right !important;
  background-color: #fff !important;
}
.ng-select{
  display: inline-table !important;
}
.bgDisabled{
  background-color: grey;
  color:#fff;
  display: none;
}


/*Custom Style by Sarmad End*/
