<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Topbar -->
    <!-- End of Topbar -->

    <!-- Begin Page Content -->

    <nav aria-label="breadcrumb" class="breadcrumb_nav" *ngIf="selectedIntakeIdForCases == null" >
      <ol class="breadcrumb breadcrumb-arrow">
        <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
        <li class="small"><a routerLink="/manage-cases">Cases</a></li>
        <li class="small active"><span>Manage Cases</span></li>
      </ol>
    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <!-- Page tab -->
    <div class=" container-fluid p-2">
      <notifier-container></notifier-container>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="dropdown no-arrow">
            <a appRbac featureCode="SPCA-CQ" *ngIf="selectedIntakeIdForCases == null" [routerLink]="" data-target="#createnewcaseModal" data-toggle="modal" class="btn btn-link pull-right mb-1 collapsed">Create New Case</a>

            <!-- <a  data-toggle="collapse" href="#collapsecases_list" aria-expanded="false" class="btn btn-link pull-right mb-1 collapsed">Create New Case</a> -->
          </div>
          <div class="clearfix"></div>
          <div class="card shadow collapse mb-1" id="collapsecases_list">

      </div>
      <div class="clearfix"></div>
      <ul *ngIf="selectedIntakeIdForCases == null" class="nav nav-tabs" role="tablist">
        <li class="nav-item" appRbac featureCode="SPCA-AC">
          <a class="nav-link active" href="#active_casestab" (click)="activeClick()" [ngClass]="{ 'active': activecasesTabPan }"  data-toggle="tab" aria-expanded="false">Active
            Cases</a>
          </li>
          <li class="nav-item" appRbac featureCode="SPCA-ALC">
            <a class="nav-link " [ngClass]="{ 'active': allcasesTabPan }" (click)="allClick()"  href="#all_casestab" data-toggle="tab" aria-expanded="true">All
              Cases</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="active_casestab" appRbac featureCode="SPCA-AC">
              <div class="card shadow mb-2">
                <!-- <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                <h6 class="m-0 font-weight-bold float-left">Active Cases</h6>
              </div> -->
              <!-- Card Body -->
              <div class="card-body pt-2">

                <div class="table-responsive mt-1">
                  <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" id="addactive_cases" class="table  table-sm table-hover table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>Case #</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Date of Birth</th>
                        <th>Client Name</th>
                        <th>Intake ID</th>
                        <th>Batch ID</th>
                        <th>Specimen Type</th>
                        <th>Collection Date</th>
                        <th>Collected By</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <!-- <th></th> -->
                      </tr>
                    </thead>
                    <tfoot style="display: table-header-group;">
                      <tr>
                        <th><input style="display:inline !important;" class="form-control form-control-sm" type="text" id="caseNoSearch" placeholder="Search ID" name="search-id"/></th>
                        <th><input class="form-control form-control-sm" type="text" id="pLnameSearch" placeholder="Search last name" name="search-first-name"/></th>
                        <th><input class="form-control form-control-sm" type="text" id="pFnameSearch" placeholder="Search first name" name="search-last-name"/></th>
                        <th><input class="form-control form-control-sm" type="date" id="dobFilter" class="form-control form-control-sm"></th>
                        <th>
                          <input class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient" placeholder="Search Client" name="search-collected-by"/>
                          <!-- <ng-select
                          [items]           ="allClientNameSearch"
                          bindLabel         ="name"
                          bindValue         ="clientId"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_name_search
                          placeholder       ="Search Client Name"
                          class             ="form-control select-control-sm"
                          [multiple]        ="false"
                          [loading]         ="clientLoadingSearch"
                          (change)          = "popSearch()"
                          [(ngModel)]       ="cNameforSearch"
                          (keyup)           ="clientLoadingSearch = true && [searchTermSearch$.next($event.target.value)]"
                          >
                        </ng-select>
                          <input hidden class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient" placeholder="Search Client" name="search-collected-by"/>
                           -->
                         </th>
                         <th><input [(ngModel)]       ="cNameforSearch" class="form-control form-control-sm" [disabled]="selectedIntakeIdForCases != null" type="text" id="intakeIdFilter" placeholder="Search Intake" class="form-control form-control-sm"></th>
                         <th>
                           <input class="form-control form-control-sm"  type="text" id="batchIdFilter" placeholder="Search Batch" class="form-control form-control-sm">
                         </th>
                         <th>
                           <!-- <input class="form-control form-control-sm" type="text" id="searchStatus" Value="Triaged" placeholder="Search status" name="search-status"/> -->
                           <select id="searchSpecimenType" class="form-control form-control-sm">
                             <option selected="" value="">All</option>
                             <option *ngFor="let type of allSpecimenTypes"  value="{{type?.labelToSearch}}" >{{type?.labelToShow}}</option>

                           </select>
                         </th>
                         <th><input class="form-control form-control-sm" type="date" id="collectionDateFilter" class="form-control form-control-sm"></th>
                        <th>
                          <select id="collectedBySearch" class="form-control form-control-sm">
                            <option selected="" value="">All</option>
                            <option value="sip">siP</option>
                            <option value="client">client</option>
                          </select>
                        </th>
                        <!-- <th><input class="form-control form-control-sm" type="text" id="collectedBySearch" placeholder="Search collected by" name="search-collected-by"/></th> -->
                        <th>
                          <!-- <input class="form-control form-control-sm" type="text" id="searchStatus" Value="Triaged" placeholder="Search status" name="search-status"/> -->
                          <select id="searchStatus" class="form-control form-control-sm">
                            <option selected="" value="">All</option>
                            <option *ngFor="let type of allStatusTypeForActive"  value="{{type?.caseStatusName}}" >{{type?.caseStatusName}}</option>

                            <!-- <option value="1" >Draft</option>
                            <option value="2" >Accessioned</option>
                            <option value="3" >Triaged</option>
                            <option value="4" >In Progress</option>
                            <option value="5" >Partial Under Reporting</option>
                            <option value="6" >Under Reporting</option>
                            <option value="7" >Partial Signed Off</option>
                            <option value="8" >Signed Off</option>
                            <option value="9" >Partial Delivered</option>
                            <option value="10" >Delivered</option>
                            <option value="11" >Cancelled</option> -->
                          </select>
                        </th>
                        <th></th>
                      </tr>
                    </tfoot>

                    <tbody id="active_tbody">
                      <tr *ngFor="let case of activeCases; let i = index;"  role="row" [ngClass]="{'bgGreen': case?.greenColor == true}" class="odd" id="TRACTIVE-{{case?.caseId}}">
                        <td *ngIf="case?.caseStatusId == 1 && selectedIntakeIdForCases != null"><a *ngIf="viewCaseAction == true" (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a><span *ngIf="viewCaseAction == false">No Generated</span>
                        <td *ngIf="case?.caseStatusId == 1 && selectedIntakeIdForCases == null"><a *ngIf="viewCaseAction == true" (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a><span *ngIf="viewCaseAction == false">No Generated</span>
                          <td *ngIf="case?.caseStatusId != 1 && selectedIntakeIdForCases != null"><a *ngIf="viewCaseAction == true" [routerLink]="" (click)="openEditModalFromIntake(case?.caseId)">{{case?.caseNumber}}</a><span *ngIf="viewCaseAction == false">{{case?.caseNumber}}</span>
                          <!-- <td *ngIf="case?.caseStatusId != 1 && selectedIntakeIdForCases == null"><a *ngIf="viewCaseAction == true" routerLink="/edit-case/{{case?.caseNumber}}/1">{{case?.caseNumber}}</a><span *ngIf="viewCaseAction == false">{{case?.caseNumber}}</span> -->
                          <td *ngIf="case?.caseStatusId != 1 && selectedIntakeIdForCases == null"><a *ngIf="viewCaseAction == true" [routerLink]="" (click)="goToEditonCaseNumber(case?.caseNumber)">{{case?.caseNumber}}</a><span *ngIf="viewCaseAction == false">{{case?.caseNumber}}</span>
                        </td>
                        <td class="sorting_1">{{case?.patientLastName | decrypted}}</td>
                        <td>{{case?.patientFirstName | decrypted}}</td>
                        <td>{{case?.patientDateOfBirth | date:'MM/dd/yyyy'}}</td>
                        <td>{{case?.clientName}}</td>
                        <td *ngIf="case?.intakeId != null" >
                          <a [hidden]="selectedIntakeIdForCases != null" [routerLink]="" (click)="goToIntake(case?.intakeId)">{{case?.intakeId}}</a>
                          <a [hidden]="selectedIntakeIdForCases == null"  >{{case?.intakeId}}</a>
                        </td>
                        <td *ngIf="case?.intakeId == null" >{{case?.intakeId}}</td>
                        <td>

                          <span *ngFor="let item of case?.batchIdToShow; let k = index" >
                            <a *ngIf="showBatchHyperLink == true && case?.batchIdToShowStatus[k] == '1'"  [routerLink]="" (click)="goToBatch(item)">{{item}}<span *ngIf="item != null && item != '' && item != ' ' && case?.batchIdToShow.length > 0 && k < (case?.batchIdToShow.length -1)" >,</span></a>
                            <span *ngIf="showBatchHyperLink == true && case?.batchIdToShowStatus[k] != '1'">{{item}}<span *ngIf="item != null && item != '' && item != ' ' && case?.batchIdToShow.length > 0 && k < (case?.batchIdToShow.length -1)" >,</span></span>


                            <span *ngIf="showBatchHyperLink == false" >{{item}}</span>

                            <!-- <a *ngIf="showBatchHyperLink == true"  [routerLink]="" (click)="goToBatch(item)">{{item}}<span *ngIf="item != null && case?.batchId.length > 0 && k < (case?.batchId.length -1)" >,</span></a>
                            <span *ngIf="showBatchHyperLink == false" >{{item}}<span *ngIf="item != null && case?.batchId.length > 0 && k < (case?.batchId.length -1)" >,</span></span> -->
                          </span>
                        </td>
                        <td>{{case?.specimenType}}</td>
                        <!-- <td *ngIf="case?.hasOwnProperty('specimenTypeId') == true"><span *ngFor="let item of case?.specimenTypeId; let j = index" >
                          <span *ngIf="item == 1" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> N</span>
                          <span *ngIf="item == 2" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> NP</span>
                          <span *ngIf="item == 3" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> OP</span>
                          <span *ngIf="item == 4" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> S</span>
                        </span></td> -->
                        <!-- <td *ngIf="case?.hasOwnProperty('specimenTypeId') == false"><span *ngFor="let item of case?.caseSpecimen; let j = index" >
                          <span *ngIf="item?.specimenTypeId == 1" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> N</span>
                          <span *ngIf="item?.specimenTypeId == 2" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> NP</span>
                          <span *ngIf="item?.specimenTypeId == 3" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> OP</span>
                          <span *ngIf="item?.specimenTypeId == 4" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> S</span>
                        </span></td> -->
                        <td *ngIf="case?.collectionDate !== null">{{case?.collectionDate | momentDate}}</td>
                        <td *ngIf="case?.collectionDate === null">{{case?.collectionDate}}</td>
                        <!-- <td *ngIf="case?.collectedBy == 1" >siP</td>
                        <td *ngIf="case?.collectedBy == 2" >Client</td> -->
                        <td>{{case?.collectedBy}}</td>
                        <td>{{case?.caseStatus}}</td>

                        <!-- <td *ngIf="case?.caseStatusId == 1" >Draft</td>
                        <td *ngIf="case?.caseStatusId == 2">Accessioned</td>
                        <td *ngIf="case?.caseStatusId == 3">Triaged</td>
                        <td *ngIf="case?.caseStatusId == 4">In Progress</td>
                        <td *ngIf="case?.caseStatusId == 5">Partial Under Reporting</td>
                        <td *ngIf="case?.caseStatusId == 6">Under Reporting</td>
                        <td *ngIf="case?.caseStatusId == 7">Partial Signed Off</td>
                        <td *ngIf="case?.caseStatusId == 8">Signed Off</td>
                        <td *ngIf="case?.caseStatusId == 9">Partial Delivered</td>
                        <td *ngIf="case?.caseStatusId == 10">Delivered</td>
                        <td *ngIf="case?.caseStatusId == 11">Cancelled</td>
                        <td *ngIf="case?.caseStatusId == 12">Not Delivered</td> -->
                        <!-- <td>Triaged</td> -->
                        <!-- <td>Triaged</td> -->
                        <td>
                          <a appRbac featureCode="SPCA-PL" *ngIf="case?.caseStatusId != 1" [routerLink]="" (click)="printLabel(case?.caseNumber,case?.patientLastName ,case?.patientFirstName ,case?.patientDateOfBirth,case?.clientName,case?.specimenTypeId,case?.clientId,case?.specimens,case?.specimenType)" class=""><i class="fa fa-print" title="Print Label"></i></a>
                           <a appRbac featureCode="SPCA-LPH" *ngIf="case?.caseStatusId != 1"  (click)="printHistory(case?.caseNumber)" class="ml-1"><i class="fa fa-clock-o" title="Label Print History"></i></a>
                           <!-- <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId != 1 && case?.caseStatusId != 4"  (click)="updatecasestatus(case?.caseId, 11, case?.caseCategoryId)" [routerLink]="" class="ml-1"><i class="fa fa-ban text-danger" title="Cancel"></i></a> -->
                           <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId == 2 || case?.caseStatusId == 3"  (click)="updatecasestatus(case?.caseId, 11, case?.caseCategoryId)" [routerLink]="" class="ml-1"><i class="fa fa-ban text-danger" title="Cancel"></i></a>
                           <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId == 1"  (click)="submitCase(case?.caseId, 3, case?.caseCategoryId)"  [routerLink]="" class="ml-1"><i class="fa fa-check text-danger" title="Submit"></i></a>
                           <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId == 1"  (click)="deleteCase(case?.caseId)" [routerLink]="" class="ml-1"><i class="fa fa-close text-danger" title="Remove"></i></a>
                           <a appRbac featureCode="SPCA-DCC" *ngIf="selectedIntakeIdForCases != null"  (click)="deleteCaseFromIntake(case?.caseId)" [routerLink]="" class="ml-1"><i class="fa fa-close text-danger" title="Remove case from the intake"></i></a>
                        </td>
                        <!-- <td>{{case?.createdTimestamp}}</td> -->
                      </tr>


                    </tbody>
                    <!--  -->


                  </table>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="all_casestab" appRbac featureCode="SPCA-ALC">
            <div class="card shadow mb-2">
              <!-- <div class="card-header d-flex justify-content-between align-items-center flex-row ">
              <h6 class="m-0 font-weight-bold float-left">All Cases</h6>
            </div> -->
            <!-- Card Body -->
            <div class="card-body pt-2">
              <div class="table-responsive mt-1">
                <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" id="addall_cases" class="table  table-sm table-hover table-bordered" style="width:100%">
                  <thead>
                    <tr>
                      <th>Case #</th>
                      <th>Last Name</th>
                      <th>First Name</th>
                      <th>Date of Birth</th>
                      <th>Client Name</th>
                      <th>Intake ID</th>
                      <th>Batch ID</th>
                      <th>Specimen Type</th>
                      <th>Collection Date</th>
                      <th>Collected By</th>
                      <th>Status</th>
                      <th>Actions</th>
                      <!-- <th></th> -->
                    </tr>
                  </thead>
                  <tfoot style="display: table-header-group;">
                    <tr>
                      <th><input style="display:inline !important;" class="form-control form-control-sm" type="text" id="caseNoSearch2" placeholder="Search ID" name="search-id"/></th>
                      <th><input class="form-control form-control-sm" type="text" id="pLnameSearch2" placeholder="Search Last name" name="search-first-name"/></th>
                      <th><input class="form-control form-control-sm" type="text" id="pFnameSearch2" placeholder="Search First name" name="search-last-name"/></th>
                      <th><input class="form-control form-control-sm" type="date" id="dobFilter2" class="form-control form-control-sm"></th>
                      <th>
                        <!-- <ng-select
                        [items]           ="allClientNameSearch2"
                        bindLabel         ="name"
                        bindValue         ="clientId"
                        [virtualScroll]   ="true"
                        dropdownPosition  ="auto"
                        #client_name_search
                        placeholder       ="Search Client Name"
                        class             ="form-control select-control-sm"
                        [multiple]        ="false"
                        [loading]         ="clientLoadingSearch2"
                        (change)          = "popSearch2()"
                        [(ngModel)]       ="cNameforSearch2"
                        (keyup)           ="clientLoadingSearch2 = true && [searchTermSearch2$.next($event.target.value)]"
                        >
                      </ng-select> -->
                      <!-- <input hidden class="form-control form-control-sm" [(ngModel)]="searchtextHolder2" type="text" id="searchClient2" placeholder="Search Client" name="search-collected-by"/> -->
                        <input [(ngModel)]       ="cNameforSearch2" class="form-control form-control-sm" [(ngModel)]="searchtextHolder2" type="text" id="searchClient2" placeholder="Search Client" name="search-collected-by"/>


                       </th>
                       <th><input class="form-control form-control-sm" type="text" id="intakeIdFilter2" placeholder="Search Intake" class="form-control form-control-sm"></th>
                       <th>
                         <input class="form-control form-control-sm"  type="text" id="batchIdFilter2" placeholder="Search Batch" class="form-control form-control-sm">

                       </th>
                       <th>
                         <!-- <input class="form-control form-control-sm" type="text" id="searchStatus" Value="Triaged" placeholder="Search status" name="search-status"/> -->
                         <select id="searchSpecimenType2" class="form-control form-control-sm">
                           <option selected="" value="">All</option>
                           <option *ngFor="let type of allSpecimenTypes"  value="{{type?.specimenTypeId}}" >{{type?.labelToShow}}</option>

                         </select>
                       </th>
                      <th><input class="form-control form-control-sm" type="date" id="collectionDateFilter2" class="form-control form-control-sm"></th>
                      <th>
                        <select id="collectedBySearch2" class="form-control form-control-sm">
                          <option selected="" value="">All</option>
                          <option value="1">siP</option>
                          <option value="2">client</option>
                        </select>
                      </th>
                      <!-- <th><input class="form-control form-control-sm" type="text" id="collectedBySearch" placeholder="Search collected by" name="search-collected-by"/></th> -->
                      <th>
                        <!-- <input class="form-control form-control-sm" type="text" id="searchStatus" Value="Triaged" placeholder="Search status" name="search-status"/> -->
                        <select id="searchStatus2" class="form-control form-control-sm">
                          <option selected="" value="">All</option>
                          <!-- <option  value="Draft">Draft</option>
                          <option value="Accessioned">Accessioned</option>
                          <option value="Triaged">Triaged</option>
                          <option value="In Progress">In Progress</option>
                          <option value="Partial Under Reporting">Partial Under Reporting</option>
                          <option value="Under Reporting">Under Reporting</option>
                          <option value="Partial Signed Off">Partial Signed Off</option>
                          <option value="Signed Off">Signed Off</option>
                          <option value="Partial Delivered">Partial Delivered</option>
                          <option value="Delivered">Delivered</option>
                          <option value="Cancelled">Cancelled</option>
                          <option value="Not Delivered">Not Delivered</option> -->
                          <option *ngFor="let type of allStatusType"  value="{{type?.caseStatusName}}" >{{type?.caseStatusName}}</option>

                        </select>

                      </th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody id="all_tbody">

                    <tr *ngFor="let case of allCases" [ngClass]="{'bgGreen': case?.greenColor == true}" role="row" class="odd" id="TRACTIVE-{{case?.caseId}}">
                      <!-- <tr *ngFor="let case of activeCases; let i = index;"  role="row" [ngClass]="{'bgGreen': case?.greenColor == true}" class="odd" id="TRACTIVE-{{case?.caseId}}"> -->
                        <td *ngIf="case?.caseStatusId == 1 && selectedIntakeIdForCases != null"><a *ngIf="viewCaseAction == true" (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a><span *ngIf="viewCaseAction == false">No Generated</span>
                        <td *ngIf="case?.caseStatusId == 1 && selectedIntakeIdForCases == null"><a *ngIf="viewCaseAction == true" (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a><span *ngIf="viewCaseAction == false">No Generated</span>
                          <td *ngIf="case?.caseStatusId != 1 && selectedIntakeIdForCases != null"><a *ngIf="viewCaseAction == true" [routerLink]="" (click)="openEditModalFromIntake(case?.caseId)">{{case?.caseNumber}}</a><span *ngIf="viewCaseAction == false">{{case?.caseNumber}}</span>
                          <!-- <td *ngIf="case?.caseStatusId != 1 && selectedIntakeIdForCases == null"><a *ngIf="viewCaseAction == true" routerLink="/edit-case/{{case?.caseNumber}}/1">{{case?.caseNumber}}</a><span *ngIf="viewCaseAction == false">{{case?.caseNumber}}</span> -->
                          <td *ngIf="case?.caseStatusId != 1 && selectedIntakeIdForCases == null"><a *ngIf="viewCaseAction == true" [routerLink]="" (click)="goToEditonCaseNumber(case?.caseNumber)">{{case?.caseNumber}}</a><span *ngIf="viewCaseAction == false">{{case?.caseNumber}}</span>
                        </td>
                        <td class="sorting_1">{{case?.patientLastName | decrypted}}</td>
                        <td>{{case?.patientFirstName | decrypted}}</td>
                        <td>{{case?.patientDateOfBirth | date:'MM/dd/yyyy'}}</td>
                        <td>{{case?.clientName}}</td>
                        <td *ngIf="case?.intakeId != null" ><a [routerLink]="" (click)="goToIntake(case?.intakeId)">{{case?.intakeId}}</a></td>
                        <td *ngIf="case?.intakeId == null" >{{case?.intakeId}}</td>
                        <td>

                          <span *ngFor="let item of case?.batchIdToShow; let k = index" >
                            <a *ngIf="showBatchHyperLink == true"  [routerLink]="" (click)="goToBatch(item)">{{item}}<span *ngIf="item != null && item != '' && item != ' ' && case?.batchIdToShow.length > 0 && k < (case?.batchIdToShow.length -1)" >,</span></a>


                            <span *ngIf="showBatchHyperLink == false" >{{item}}</span>

                            <!-- <a *ngIf="showBatchHyperLink == true"  [routerLink]="" (click)="goToBatch(item)">{{item}}<span *ngIf="item != null && case?.batchId.length > 0 && k < (case?.batchId.length -1)" >,</span></a>
                            <span *ngIf="showBatchHyperLink == false" >{{item}}<span *ngIf="item != null && case?.batchId.length > 0 && k < (case?.batchId.length -1)" >,</span></span> -->
                          </span>
                        </td>
                        <td>{{case?.specimenType}}</td>
                        <!-- <td *ngIf="case?.hasOwnProperty('specimenTypeId') == true"><span *ngFor="let item of case?.specimenTypeId; let j = index" >
                          <span *ngIf="item == 1" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> N</span>
                          <span *ngIf="item == 2" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> NP</span>
                          <span *ngIf="item == 3" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> OP</span>
                          <span *ngIf="item == 4" ><span *ngIf="j > 0 && j < (case?.specimenTypeId.length)">,</span> S</span>
                        </span></td> -->
                        <!-- <td *ngIf="case?.hasOwnProperty('specimenTypeId') == false"><span *ngFor="let item of case?.caseSpecimen; let j = index" >
                          <span *ngIf="item?.specimenTypeId == 1" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> N</span>
                          <span *ngIf="item?.specimenTypeId == 2" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> NP</span>
                          <span *ngIf="item?.specimenTypeId == 3" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> OP</span>
                          <span *ngIf="item?.specimenTypeId == 4" ><span *ngIf="j > 0 && j < (case?.caseSpecimen.length)">,</span> S</span>
                        </span></td> -->
                        <td *ngIf="case?.collectionDate !== null">{{case?.collectionDate | momentDate}}</td>
                        <td *ngIf="case?.collectionDate === null">{{case?.collectionDate}}</td>
                        <!-- <td *ngIf="case?.collectedBy == 1" >siP</td>
                        <td *ngIf="case?.collectedBy == 2" >Client</td> -->
                        <td>{{case?.collectedBy}}</td>
                        <td>{{case?.caseStatus}}</td>

                        <!-- <td *ngIf="case?.caseStatusId == 1" >Draft</td>
                        <td *ngIf="case?.caseStatusId == 2">Accessioned</td>
                        <td *ngIf="case?.caseStatusId == 3">Triaged</td>
                        <td *ngIf="case?.caseStatusId == 4">In Progress</td>
                        <td *ngIf="case?.caseStatusId == 5">Partial Under Reporting</td>
                        <td *ngIf="case?.caseStatusId == 6">Under Reporting</td>
                        <td *ngIf="case?.caseStatusId == 7">Partial Signed Off</td>
                        <td *ngIf="case?.caseStatusId == 8">Signed Off</td>
                        <td *ngIf="case?.caseStatusId == 9">Partial Delivered</td>
                        <td *ngIf="case?.caseStatusId == 10">Delivered</td>
                        <td *ngIf="case?.caseStatusId == 11">Cancelled</td>
                        <td *ngIf="case?.caseStatusId == 12">Not Delivered</td> -->
                        <!-- <td>Triaged</td> -->
                        <!-- <td>Triaged</td> -->
                      <td>
                        <a appRbac featureCode="SPCA-PL" *ngIf="case?.caseStatusId != 1" [routerLink]="" (click)="printLabel(case?.caseNumber,case?.pLName ,case?.pFName ,case?.pDob,case?.clientName,case?.specimenTypeId,case?.clientId,case?.specimens,case?.specimenType)" class=""><i class="fa fa-print" title="Print Label"></i></a>
                         <a appRbac featureCode="SPCA-LPH" *ngIf="case?.caseStatusId != 1"  (click)="printHistory(case?.caseNumber)" class="ml-1"><i class="fa fa-clock-o" title="Label Print History"></i></a>
                         <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId ==2 || case?.caseStatusId ==3"  (click)="updatecasestatus(case?.caseId, 11, case?.caseCategoryId)" [routerLink]="" class="ml-1"><i class="fa fa-ban text-danger" title="Cancel"></i></a>
                         <!-- <a *ngIf="case?.caseStatusId != 1 && case?.caseStatusId != 4 && case?.caseStatusId != 11"  (click)="updatecasestatus(case?.caseId, 11, case?.caseCategoryId)" [routerLink]="" class="ml-1"><i class="fa fa-ban text-danger" title="Cancel"></i></a> -->
                         <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId == 1"  (click)="updatecasestatus(case?.caseId, 3, case?.caseCategoryId)"  [routerLink]="" class="ml-1"><i class="fa fa-check text-danger" title="Submit"></i></a>
                         <a appRbac featureCode="SPCA-DCC" *ngIf="case?.caseStatusId == 1"  (click)="deleteCase(case?.caseId)" [routerLink]="" class="ml-1"><i class="fa fa-close text-danger" title="Delete"></i></a>
                      </td>
                        <!-- <td>{{case?.createdTimestamp}}</td> -->
                    </tr>

                  </tbody>


                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Content Row -->

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<div *ngIf="selectedIntakeIdForCases == null" class="">
  <app-footer></app-footer>
</div>

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Cancel</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to cancel the case?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="#">Cancel</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="specimenlabel-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Printed successfully</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Case No: <a [routerLink]="" (click)="goToEditonCaseNumber(printedCaseNumber)">NV20-0010</a> has been created successfully</p>
      <!-- <p>Case No: <a routerLink="/edit-case/{{printedCaseNumber}}/1">NV20-0010</a> has been created successfully</p> -->
      <!-- <img src="assets/img/label-print.jpg" width="100%"> -->
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="save-draftModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Save as Draft</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">The case has been saved as Draft</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="add-case?.html">Save</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deactivate">{{saveModalTitle}}</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">{{saveModalText}}</div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
      <a class="btn submit-button" (click)="saveCase(saveTypeGlobal)" [routerLink]="">Submit</a>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="submitnewModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Submit</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to submit, the case cannot be deleted after submission</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a onclick="reset_function()" class="btn submit-button" data-dismiss="modal">Submit</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="spec-labelhistory-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Label Print History</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="spec-col-history" class="table  table-sm table-hover table-bordered"
          style="width:100%">
          <thead class="bg-light">
            <tr>
              <th>Printed by</th>
              <th>Date/Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of labelHistory" >
              <td>{{item?.printedByName}}</td>
              <td>{{item?.printedDate | momentDateWithTz}}</td>
            </tr>


          </tbody>

        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Cancel</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to remove the case?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="add-case?.html">Remove</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="createnewcaseModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document" style="max-width: 90%;">
    <div class="modal-content">

      <div class="modal-body p-0">
        <app-minimum-case [fromCreateIntake]="dataForCreateCaseFromIntake"></app-minimum-case>

      </div>

    </div>
  </div>
</div>
