
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->

                <nav aria-label="breadcrumb navbar-light bg-light">
                    <ol class="breadcrumb breadcrumb-arrow">
                        <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
                        <li class="small"><a routerLink="/all-clients">Clients</a></li>
                        <li class=" small active"><span>Add Clients</span></li>
                    </ol>
                </nav>
                <!-- <input type="text" [(ngModel)]="input1" (ngModelChange)="input2=input1" name="one" value="">
                <input type="text" name="fieldinput2" [{ngModel}]="input2" value="{{input2}}" name="we"> -->
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-2">
                  <notifier-container></notifier-container>
                    <div class="row">

                        <div class="col-xl-12 col-lg-12">
                            <ul class="nav nav-tabs nav-continue-back" role="tablist" style="display: none;">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#addclient-detail" data-toggle="tab"
                                        aria-expanded="true">Organization
                                        Detail</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#client-user" data-toggle="tab"
                                        aria-expanded="false">client-user</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="addclient-detail" *ngIf="addClientTabPan">
                                  <!-- <button type="button" (click)="changeTabsCheck()" class="btn submit-button continue pull-right">Next2</button> -->
                                    <div class="clearfix"></div>
                                    <div class="card shadow mb-2">
                                        <form [formGroup]="clientForm">
                                            <div
                                                class="card-header d-flex justify-content-between align-items-center flex-row ">
                                                <h6 class="m-0 font-weight-bold float-left">Add New Client</h6>
                                                <div class="form-group dropdown no-arrow">
                                                    <button type="submit" (click)="submitClient()" class="btn btn-sm submit-button continue pull-right"  [disabled]="accNumberExist == true">Next</button>

                                                    <!-- <a routerLink = "/all-clients" class="btn btn-warning btn-sm pull-right mr-2 ">Cancel</a> -->
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div class="form-heading">
                                                    <p>Basic Information</p>
                                                    <!-- <button type="button" (click)="populateUpdateForm()" name="button"> client DTO</button> -->

                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-3">
                                                        <label>Account Type <span
                                                                class="text-danger">*</span></label>
                                                                <ng-select  [items]           ="defaultAccountTypes"
                                                                            bindLabel         ="name"
                                                                            [virtualScroll]   ="true"
                                                                            dropdownPosition  ="auto"
                                                                            #account_type
                                                                            placeholder       ="Select Type"
                                                                            (change)          ="accountTypeChange()"
                                                                            formControlName   ="accountType"
                                                                            [(ngModel)]       ="ClientTypeHolder"
                                                                            class             ="form-control "
                                                                            [multiple]        ="false"
                                                                            [ngClass]         ="{ 'is-invalid': submitted && f.accountType.errors }" required>
                                                              </ng-select>
                                                              <div *ngIf="submitted && f.accountType.errors" class="invalid-feedback">You did not select Account Type.</div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Account ID <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <input formControlName="accountId" name="accountId" [(ngModel)]="requestData.data.accountNumber"  type="text" required class="form-control"
                                                                placeholder="Account ID" maxlength="50" length="50" (change)="checkAccountNumber()"
                                                                aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.accountId.errors }">
                                                                <div *ngIf="submitted && f.accountId.errors" class="invalid-feedback">You did not specify Account ID.</div>
                                                                <div *ngIf="accNumberExist" class="invalid-feedback-custom">Account Number Already Exist.</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Client Name <span class="text-danger">*</span></label>

                                                        <input formControlName="clientName" name="clientName" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" maxlength="100" length="100" [(ngModel)]="requestData.data.name" type="text" required class="form-control"
                                                            placeholder="Client Name" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }">
                                                            <div *ngIf="submitted && f.clientName.errors?.required" class="invalid-feedback">You did not specify Client Name.</div>
                                                            <div *ngIf="submitted && f.clientName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                                                    </div>

                                                    <div class="form-group col-md-3">
                                                        <label>Priority <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <ng-select  [items]           ="defaultAccountPriority"
                                                                        bindLabel         ="priorityName"
                                                                        bindValue         ="priorityId"
                                                                        [(ngModel)]       ="requestData.data.defaultPriority"
                                                                        [virtualScroll]   ="true"
                                                                        dropdownPosition  ="auto"
                                                                        #select_priority
                                                                        placeholder       ="Select Priority"
                                                                        formControlName   ="priority"
                                                                        name              ="priority"
                                                                        class             ="form-control "
                                                                        [multiple]        ="false"
                                                                        [ngClass]         ="{ 'is-invalid': submitted && f.priority.errors }" required>
                                                          </ng-select>
                                                          <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">You did not select Priority.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Parent Client Organization</label>
                                                        <div class="input-group">
                                                          <ng-select
                                                          [items]           ="clientsDropdown"
                                                          bindLabel         ="clientName"
                                                          bindValue         ="clientId"
                                                          [virtualScroll]   ="true"
                                                          dropdownPosition  ="auto"
                                                          #client_select
                                                          placeholder       ="Select Organization"
                                                          class             ="form-control"
                                                          [multiple]        ="false"
                                                          formControlName   ="pcOrganization"
                                                          [loading]         ="clientLoading"
                                                          (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                                                          (change)          ="clientChanged()"
                                                          [(ngModel)]       ="clientSearchString"
                                                          >
                                                        </ng-select>
                                                            <!-- <ng-select  [items]           ="defaultPCOrganization"
                                                                        bindLabel         ="name"
                                                                        bindValue         ="clientId"
                                                                        [(ngModel)]       ="requestData.data.parentClientId"
                                                                        [virtualScroll]   ="true"
                                                                        dropdownPosition  ="auto"
                                                                        (change)          ="attTypeChanged()"
                                                                        #parent_client_organization
                                                                        placeholder       ="Select Organization"
                                                                        formControlName   ="pcOrganization"
                                                                        class             ="form-control "
                                                                        [multiple]        ="false">
                                                          </ng-select> -->
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Upload Client Logo</label>
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input  (change)="onFileSelect($event.target)" type="file" class="custom-file-input"
                                                                    id="clientLogo" accept="image/*,image/svg+xml,application/postscript">
                                                                    <!-- <input (change)="onFileSelect($event.target)" type="file" class="form-control" id="clientLogo" accept="image/*"> -->
                                                                <label class=" custom-file-label" for="inputGroupFile01"
                                                                    >Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Special Note</label>
                                                        <textarea (keyup)="checkChange()" formControlName="notes" name="notes" maxlength="50" length="50" [(ngModel)]="requestData.data.notes" rows="5" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-heading">
                                                    <p>Contact Details</p>
                                                </div>
                                                <div class="form-row">
                                                    <div class="table-responsive">
                                                        <table id="table-contact"
                                                            class="table table-sm table-hover table-bordered table-contact-client"
                                                            style="width:100%">
                                                            <thead class="bg-light">
                                                                <tr>
                                                                    <th>Contact No</th>
                                                                    <th>Fax</th>
                                                                    <th>Email</th>
                                                                    <th>Default</th>
                                                                    <th></th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr *ngFor="let item of contactTableData; let i = index;" >
                                                                <td><input type="text" class="form-control"
                                                                        placeholder="Contact No" id="PHONE-{{i}}" value="{{item?.ContactNo}}" (keyup)="ToggleContactButton($event,i,'phone')"
                                                                        length="13" maxlength="13"
                                                                      ></td>
                                                                <td><input type="text" id="FAX-{{i}}" class="form-control" (keyup)="ToggleContactButton($event,i,'fax')"
                                                                        placeholder="Fax Number" value="{{item?.Fax}}" length="13" maxlength="13"

                                                                      ></td>
                                                                <td><input type="email" class="form-control" id="EMAIL-{{i}}"
                                                                        placeholder="Email" value="{{item?.Email}}" length="254" maxlength="254"
                                                                        (keyup)="ToggleContactButton($event,i,'email')">
                                                                        <div class="invalid-feedback-custom" id="EMAILERROR-{{i}}" style="display:none;">Invalid Email.</div>
                                                                      </td>
                                                                <td class="text-center align-middle">
                                                                    <input *ngIf="i == 0"  type="radio" id="CHECKBOX-{{i}}" value="{{item?.Default}}"
                                                                        name="default-contact" class="" checked
                                                                        >
                                                                        <input *ngIf="i != 0" type="radio" id="CHECKBOX-{{i}}" value="{{item?.Default}}"
                                                                            name="default-contact" disabled class=""
                                                                            >

                                                                </td>
                                                                <td>
                                                                    <button *ngIf="item.Button == 1" type="button" class="btn addC submit-button" id="BTN-{{i}}" disabled="true" (click)="addRow(i)" ><i
                                                                            class="fa fa-plus"></i></button>
                                                                    <button *ngIf="item.Button == 0" type="button" class="btn addC submit-button" id="BTN-{{i}}" (click)="remRow(i)" ><i
                                                                              class="fa fa-remove"></i></button>
                                                                </td>
                                                              </tr>


                                                                <!-- <tr>
                                                                    <td><input type="text" class="form-control"
                                                                            placeholder="Contact No" value="" (keyup)="enableAddContactButton($event)"
                                                                            length="50" maxlength="50"
                                                                          ></td>
                                                                    <td><input type="text" class="form-control" (keyup)="enableAddContactButton($event)"
                                                                            placeholder="Fax Number" value="" length="50" maxlength="50"

                                                                          ></td>
                                                                    <td><input type="email" class="form-control"
                                                                            placeholder="Email" value="" length="254" maxlength="254"
                                                                            (keyup)="checkContactEmail($event)">
                                                                            <div class="invalid-feedback-custom" *ngIf="!contactEmailValidity">Invalid Email.</div>
                                                                          </td>
                                                                    <td class="text-center align-middle">
                                                                        <input type="radio" id="default-contact1"
                                                                            name="default-contact" class="" checked
                                                                            >
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn addC submit-button" [ngClass]="{'disabled': contactRowValid == false}" (click)="addFieldValue('i')" id="addC"><i
                                                                                class="fa fa-plus"></i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr *ngFor="let field of fieldArray; let i = index">
                                                                    <td><input type="text" class="form-control"
                                                                            placeholder="Contact No" value=""
                                                                            length="50" maxlength="50"
                                                                            (keyup)="enableAddContactButton($event)"

                                                                          ></td>
                                                                    <td><input type="text" class="form-control"
                                                                            placeholder="Fax Number" value=""
                                                                            length="50" maxlength="50"
                                                                            (keyup)="enableAddContactButton($event)"

                                                                          ></td>
                                                                    <td><input type="email" class="form-control"
                                                                            placeholder="Email" value="" (keyup)="checkContactEmail($event)" length="254" maxlength="254"></td>
                                                                    <td class="text-center align-middle">
                                                                        <input type="radio" id="default-contact1"
                                                                            name="default-contact" class=""
                                                                            >
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn addC submit-button" (click)="deleteFieldValue(i)" id="addC"><i
                                                                                class="fa fa-remove"></i></a>
                                                                    </td>
                                                                </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="form-heading">
                                                    <p>Address Detail</p>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label>Street Address <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <input formControlName="streetAddress" name="streetAddress" [(ngModel)]="requestData.data.AddressDetailsDto.street" type="text" class="form-control"
                                                                placeholder="Street Address"
                                                                aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.streetAddress.errors }">
                                                                <div *ngIf="submitted && f.streetAddress.errors" class="invalid-feedback">You did not specify Street Address.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Suite/Floor/Building</label>
                                                        <div class="input-group">
                                                            <input formControlName="building" name="building" [(ngModel)]="requestData.data.AddressDetailsDto.suiteFloorBuilding" type="text" class="form-control"
                                                                placeholder="Suite/Floor/Building"
                                                                aria-describedby="basic-addon1">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Zip/Postal Code <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <input formControlName="zip" name="zip" [(ngModel)]="requestData.data.AddressDetailsDto.zip" type="text" required class="form-control"
                                                                placeholder="Zip/Postal Code"
                                                                aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
                                                                <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">You did not specify Zip/Postal Code.</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Country <span class="text-danger">*</span></label>
                                                        <!-- <select formControlName="country" name="country" [(ngModel)]="requestData.data.AddressDetailsDto.countryId" class="custom-select" required
                                                            id="inputGroupSelectcountry" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                                            <option>Select Country</option>
                                                            <option *ngFor="let country of allCountries" vlaue="country.id">{{country.name}}</option>
                                                            <option selected value="1">United State of America</option>
                                                            <option value="1">Pakistan</option>
                                                            <option value="2">Egypt</option>
                                                        </select> -->
                                                        <ng-select  [items]           ="allCountries"
                                                                    bindLabel         ="countryName"
                                                                    bindValue         ="countryId"
                                                                    [(ngModel)]       ="requestData.data.AddressDetailsDto.countryId"
                                                                    [virtualScroll]   ="true"
                                                                    dropdownPosition  ="auto"
                                                                    #country
                                                                    placeholder       ="Select Country"
                                                                    formControlName   ="country"
                                                                    (change)          ="changeCountry()"
                                                                    class             ="form-control"
                                                                    [multiple]        ="false"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }" required>
                                                      </ng-select>
                                                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">You did not select Country.</div>

                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>State/Province <span class="text-danger">*</span></label>
                                                        <!-- <select formControlName="state" name="state" [(ngModel)]="requestData.data.AddressDetailsDto.stateId" class="custom-select" required
                                                            id="inputGroupSelectstate" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                                            <option >State/Province</option>
                                                            <option *ngFor="let pro of allProvinces" vlaue="pro.id">{{pro.name}}</option>
                                                        </select> -->
                                                        <ng-select  [items]           ="allProvinces"
                                                                    bindLabel         ="stateName"
                                                                    bindValue         ="stateId"
                                                                    [(ngModel)]       ="requestData.data.AddressDetailsDto.stateId"
                                                                    [virtualScroll]   ="true"
                                                                    dropdownPosition  ="auto"
                                                                    #country
                                                                    placeholder       ="Select State"
                                                                    formControlName   ="state"
                                                                    (change)          ="changeState()"
                                                                    class             ="form-control "
                                                                    [multiple]        ="false"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }" required>
                                                      </ng-select>
                                                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">You did not select State/Province.</div>

                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>City <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <!-- <select formControlName="city" name="city" [(ngModel)]="requestData.data.AddressDetailsDto.city" class="custom-select" required id="inputGroupcity" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                                                <option >Select City</option>
                                                                <option *ngFor="let city of allCities" vlaue="city.id">{{city.name}}</option>
                                                            </select> -->
                                                            <ng-select  [items]           ="allCities"
                                                                        bindLabel         ="cityName"
                                                                        bindValue         ="cityId"
                                                                        [(ngModel)]       ="requestData.data.AddressDetailsDto.city"
                                                                        [virtualScroll]   ="true"
                                                                        dropdownPosition  ="auto"
                                                                        #country
                                                                        placeholder       ="Select City"
                                                                        formControlName   ="city"
                                                                        class             ="form-control "
                                                                        [multiple]        ="false"
                                                                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }" required>
                                                          </ng-select>
                                                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">You did not select City.</div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-heading">
                                                    <p>Sales Representative</p>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label>Internal User <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                          <!-- <select formControlName="internalUser" name="internalUser" [(ngModel)]="requestData.data.salesRepresentativeId" class="custom-select" required id="input-user" [ngClass]="{ 'is-invalid': submitted && f.internalUser.errors }"> -->
                                                            <select formControlName="internalUser" required name="internalUser" (change)="changeSalesRep($event)" [(ngModel)]="requestData.data.salesRepresentativeId" class="form-control" id="input-user" [ngClass]="{ 'is-invalid': submitted && f.internalUser.errors }">
                                                              <option value="">Select a Sales Representative</option>
                                                                <!-- <option value="">asdsd</option> -->
                                                                <!-- <option value="1">Ali Ahmed - Sales Rep</option> -->
                                                                <option *ngFor="let reps of defaultSalesReps" value="{{reps?.userCode}}">{{reps?.firstName}} {{reps?.lastName}}</option>
                                                            </select>
                                                            <div *ngIf="submitted && f.internalUser.errors" class="invalid-feedback">Please fill out this field.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">

                                                        <label>First Name <span class="text-danger"></span></label>
                                                        <div class="input-group">
                                                          <!-- [attr.disabled]="disabledSalesRepFields == true ? true : null" -->
                                                            <input disabled formControlName="srFirstName" name="srFirstName" type="text" class="form-control"
                                                                placeholder="First Name" [attr.disabled]="disabledSalesRepFields == true ? true : true" length="50" maxlength="50"
                                                                aria-describedby="basic-addon1">
                                                                <!-- aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.srFirstName.errors }"> -->
                                                                <!-- <div *ngIf="submitted && f.srFirstName.errors" class="invalid-feedback">Please fill out this field.</div> -->

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Last Name <span class="text-danger"></span></label>
                                                        <div class="input-group">
                                                            <input disabled formControlName="srLastName" name="srLastName" type="text" class="form-control" length="50" maxlength="50"
                                                            placeholder="Last Name" [attr.disabled]="disabledSalesRepFields == true ? true : true" aria-describedby="basic-addon1" >
                                                                <!-- placeholder="Last Name" [attr.disabled]="disabledSalesRepFields == true ? true : true" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.srLastName.errors }"> -->
                                                                <!-- <div *ngIf="submitted && f.srLastName.errors" class="invalid-feedback">Please fill out this field.</div> -->

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label>Email <span class="text-danger"></span></label>
                                                        <div class="input-group">
                                                            <input disabled [attr.disabled]="disabledSalesRepFields == true ? true : true" formControlName="srEmail" name="srEmail" type="email" class="form-control"
                                                            placeholder="Email" aria-describedby="basic-addon1" length="254" maxlength="254">
                                                                <!-- placeholder="Email" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.srEmail.errors}" length="254" maxlength="254"> -->
                                                            <!-- <div *ngIf="submitted && f.srEmail.touched && f.srEmail.errors" class="invalid-feedback">Please fill out this field.</div> -->
                                                            <!-- <div *ngIf="submitted && f.srEmail.touched && f.srEmail.errors.email" class="invalid-feedback">Email must be a valid email address</div> -->

                                                        </div>
                                                    </div>
                                                    <!-- <div class="form-group col-md-4">
                                                        <label>Last Name check<span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <input formControlName="check" name="check" type="text" required class="form-control"
                                                                placeholder="Last Name" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.check.errors }">
                                                                <div *ngIf="submitted && f.check.errors" class="invalid-feedback">Please fill out this field.</div>

                                                        </div>
                                                    </div> -->
                                                    <div class="form-group col-md-4">
                                                        <label>Contact No <span class="text-danger"></span></label>
                                                        <div class="input-group">
                                                            <input disabled [attr.disabled]="disabledSalesRepFields == true ? true : true" formControlName="srContact" name="srContact" type="text" class="form-control"
                                                                placeholder="Contact No"
                                                                aria-describedby="basic-addon1">
                                                                <!-- aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.srContact.errors }"> -->
                                                                <!-- <div *ngIf="submitted && f.srContact.errors" class="invalid-feedback">Please fill out this field.</div> -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-heading">
                                                    <p>Medical Reports Information</p>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-3">
                                                        <label>Default Report Format <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                          <ng-select  [items]           ="reportFormat"
                                                                      bindLabel         ="attachmentFileTypeName"
                                                                      bindValue         ="attachmentFileTypeId"
                                                                      [(ngModel)]       ="requestData.data.defaultReportFormatId"
                                                                      [virtualScroll]   ="true"
                                                                      dropdownPosition  ="auto"
                                                                      #parent_client_organization
                                                                      placeholder       ="Select Format"
                                                                      formControlName   ="reportFormat"
                                                                      class             ="form-control "
                                                                      [multiple]        ="false"
                                                                      [ngClass]="{ 'is-invalid': submitted && f.reportFormat.errors }" required>
                                                        </ng-select>
                                                            <!-- <select formControlName="reportFormat" name="reportFormat" [(ngModel)]="requestData.data.defaultReportFormatId" class="custom-select" required
                                                                id="inputreport-format" [ngClass]="{ 'is-invalid': submitted && f.reportFormat.errors }">
                                                                <option>Select</option>
                                                                <option *ngFor="let format of reportFormat" vlaue="format.id">{{format.name}}</option>
                                                            </select> -->
                                                            <div *ngIf="submitted && f.reportFormat.errors" class="invalid-feedback">You did not select Default Report Format.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label></label>
                                                        <div class="input-group">
                                                            <div
                                                                class="custom-control custom-checkbox custom-control-inline">
                                                                <input formControlName="wordFile" name="wordFile" [(ngModel)]="requestData.data.showWordFile" type="checkbox" class="custom-control-input"
                                                                    id="word_file">
                                                                <label class="custom-control-label" for="word_file">Show Word
                                                                    File</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Delivery Method <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group" >
                                                          <div class="form-check mr-2" *ngFor="let data of deliverMethod; let i=index" >
                                                            <input class="form-check-input" type="checkbox" [value]="data.deliveryMethodId" (change)="onCheckboxChange($event)" required>

                                                            <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> -->
                                                            <label class="form-check-label" >
                                                              {{data.name}}
                                                            </label>
                                                          </div>
                                                          <!-- <div *ngFor="let data of deliverMethod; let i=index" >
                                                                <div class="custom-control custom-checkbox custom-control-inline">

                                                                  <input class="" type="checkbox" [value]="data.deliveryMethodId" (change)="onCheckboxChange($event)" required>
                                                                  <label class="">
                                                                    {{data.name}}
                                                                  </label>
                                                                </div>

                                                            </div> -->

                                                            <div *ngIf="submitted &&  this.clientForm.controls['delivery'].errors" class="invalid-feedback d-block">Please select at least one method.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Encryption Code </label>
                                                        <div class="input-group">
                                                            <input formControlName="encryption" name="encryption" [(ngModel)]="requestData.data.encryptionCode" type="text" class="form-control"
                                                                placeholder="Encryption Code" length="100" maxlength="100" (keyup)="setEncrypptionCheckFalse()"
                                                                aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.encryption.errors }">
                                                            <div *ngIf="submitted && f.encryption.errors" class="invalid-feedback">Please provide Encryption Code or Unselect Email Delivery.</div>

                                                        </div>

                                                        <!-- <div *ngIf="encryptionCodeRequired" class="invalid-feedback d-block">Please provide Encryption Code or Unselect Email Delivery.</div> -->

                                                    </div>
                                                </div>
                                                <div class="form-heading">
                                                    <p>e-Requisition</p>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-3">
                                                        <label>Requisition Type <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <ng-select  [items]           ="defaultReqType"
                                                                        bindLabel         ="requisitionTypeName"
                                                                        [(ngModel)]       ="requisitionDTOTEMP"
                                                                        [virtualScroll]   ="true"
                                                                        dropdownPosition  ="auto"
                                                                        [addTag]          ="false"
                                                                        (add)             ="onAddItem($event)"
                                                                        #req_type
                                                                        placeholder       ="Select Requisition Type"
                                                                        formControlName   ="reqType"
                                                                        class             ="form-control reqTypeLength"
                                                                        [multiple]        ="true"
                                                                        length            = "50"
                                                                        maxlength         = "50"
                                                                        [ngClass]="{ 'is-invalid': submitted && f.reqType.errors }" required>
                                                          </ng-select>
                                                          <div *ngIf="submitted && f.reqType.errors" class="invalid-feedback">You did not select Requisition Type.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Allowed File size <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <input (change)="checkChange()" formControlName="fileSize" name="fileSize" [(ngModel)]="requestData.data.allowedFilesize" type="text" class="form-control"
                                                                placeholder="Allowed File size" length="5" maxlength="5" (change) ="checkChange()" [ngClass]="{ 'is-invalid': submitted && f.fileSize.errors }">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"
                                                                    id="basic-addon2">KB</span>
                                                            </div>
                                                            <div *ngIf="submitted && f.fileSize.errors" class="invalid-feedback">You did not specify Allowed File size.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Attachment Type <span
                                                                class="text-danger">*</span></label>
                                                                <!-- (change)          ="attTypeChanged()" -->
                                                        <div class="input-group">
                                                            <ng-select  [items]           ="defaultAttType"
                                                                        bindLabel         ="attachmentTypeName"

                                                                        [(ngModel)]       ="AttachmentTypeHolder"
                                                                        (change)          ="attachmentTypeChange($event)"
                                                                        [virtualScroll]   ="true"
                                                                        dropdownPosition  ="auto"
                                                                        #att_type
                                                                        placeholder       ="Select Attachment Type"
                                                                        formControlName   ="attType"
                                                                        class             ="form-control reqTypeLength"
                                                                        [multiple]        ="true"
                                                                        [ngClass]="{ 'is-invalid': submitted && f.attType.errors }" required>
                                                          </ng-select>
                                                          <div *ngIf="submitted && f.attType.errors" class="invalid-feedback">You did not select Attachment type.</div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Allowed File Types <span
                                                                class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <ng-select  [items]           ="defaultFileType"
                                                                        bindLabel         ="attachmentFileTypeName"
                                                                        [(ngModel)]       ="AttachmentFileHolder"
                                                                        (change)          ="allowedAttachmentTypeChange($event)"
                                                                        [virtualScroll]   ="true"
                                                                        dropdownPosition  ="auto"
                                                                        #file_type
                                                                        placeholder       ="Select File Types"
                                                                        formControlName   ="fileType"
                                                                        class             ="form-control reqTypeLength"
                                                                        [multiple]        ="true"
                                                                        [ngClass]="{ 'is-invalid': submitted && f.fileType.errors }" required>
                                                          </ng-select>
                                                          <div *ngIf="submitted && f.fileType.errors" class="invalid-feedback">You did not select Allowed file types.</div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-xl-12 col-lg-12">

                        </div>
                    </div>
                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        <!-- delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deactivate">Delete</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <div class="modal-body">Ready to delete user?</div>
                <input type="hidden" [(ngModel)]="deleteuserCode"  name="deleteuserCode" value="">
                <div class="modal-footer">
                    <button class="btn btn-warning" routerLink="/all-clients" type="button" data-dismiss="modal">Cancel</button>
                    <a (click)="deleteClientUser()" class="btn btn-danger" style="cursor: pointer">Delete</a>
                </div>
            </div>
        </div>
    </div>
