/* You can add global styles to this file, and also import other style files */
.dataTables_wrapper .dataTables_paginate .paginate_button{padding: 0;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid transparent;
    background-color: none;
    background: none;
}