
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <!-- End of Topbar -->

      <!-- Begin Page Content -->

      <nav aria-label="breadcrumb" class="breadcrumb_nav">
        <ol class="breadcrumb breadcrumb-arrow">
          <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
          <li class="small"><a routerLink="/create-intake">Intakes</a></li>
          <li class="small active"><span>Create New Intake</span></li>
        </ol>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <!-- Page tab -->
      <div class=" container-fluid p-2">
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="dropdown no-arrow">
                <a appRbac featureCode="SPCA-CI" data-toggle="modal" (click)="setCollectionTime()" data-target="#createnewintakeModal" href="" class="btn btn-link pull-right mb-1">Create New Intake</a>
              </div>
              <div class="clearfix"></div>
            <div class="card shadow mb-2">
              <!-- <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                <h6 class="m-0 font-weight-bold float-left">Active Cases</h6>
              </div> -->
              <!-- Card Body -->
              <div class="card-body pt-2">
               <div class="table-responsive mt-1">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-hover table-bordered" style="width:100%">
                    <thead class="nowrap">
                      <tr class="table-secondary">
                        <th>Intake ID</th>
                        <th>Client Name</th>
                        <th>Collected By</th>
                        <th>Collection Date</th>
                        <th>Creation Date</th>
                        <th>NP</th>
                        <th>N</th>
                        <th>O</th>
                        <th>S</th>
                        <th>Total</th>
                        <th>Accessioned</th>
                        <th>Last Reported By</th>
                        <th>Last Reported Date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tfoot style="display: table-header-group;">
                        <tr>
                          <th><input style="display:inline !important;" id='intakeNoSearch' class="form-control form-control-sm" type="text" placeholder="Intake ID" name="search-id"/></th>
                          <th>
                            <!-- <ng-select
                            [items]           ="allClientNameSearch"
                            bindLabel         ="name"
                            bindValue         ="clientId"
                            [virtualScroll]   ="true"
                            dropdownPosition  ="auto"
                            #client_name_search
                            placeholder       ="Search Client Name"
                            class             ="form-control select-control-sm"
                            [multiple]        ="false"
                            [loading]         ="clientLoadingSearch"
                            (change)          = "popSearch()"
                            [(ngModel)]       ="cNameforSearch"
                            (keyup)           ="clientLoadingSearch = true && [searchTermSearch$.next($event.target.value)]"
                            >
                          </ng-select>
                          <input hidden class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient" placeholder="Search Client" name="search-collected-by"/> -->
                          <input class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient" placeholder="Search Client" name="search-collected-by"/>

                          </th>
                          <th>
                            <select id="collectedBySearch" class="form-control form-control-sm">
                              <option selected="" value="">All</option>
                              <option value="sip">siP</option>
                              <option value="client">client</option>
                            </select>
                          </th>
                          <th><input class="form-control form-control-sm" id="collectionDateFilter" type="date"  placeholder="Collection Date" name="search-last-name"/></th>
                          <th><input class="form-control form-control-sm" id="createdDateFilter" type="date"  placeholder="Creation Date" name="search-last-name"/></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>
                            <input style="display:inline !important;" class="form-control form-control-sm" type="text" placeholder="Reported by" name="search-id" id="reportedbySearch"/></th>
                          <th>
                            <input class="form-control form-control-sm" type="date" placeholder="" name="search-repoterd-date" id="reportedDateSearch"/></th>

                          <!-- <th><input class="form-control form-control-sm" type="text" id="collectedBySearch" placeholder="Search collected by" name="search-collected-by"/></th> -->
                          <th>
                            <!-- <select id="searchStatus2" class="form-control form-control-sm">
                              <option selected="" value="">All</option>
                              <option value="1" >Draft</option>
                              <option value="2" >Accessioned</option>
                              <option value="3" >Triaged</option>
                              <option value="4" >In Progress</option>
                              <option value="5" >Partial Under Reporting</option>
                              <option value="6" >Under Reporting</option>
                              <option value="7" >Partial Signed Off</option>
                              <option value="8" >Signed Off</option>
                              <option value="9" >Partial Delivered</option>
                              <option value="10" >Delivered</option>
                              <option value="11" >Cancelled</option>
                            </select> -->
                          </th>
                        </tr>
                      </tfoot>
                    <tbody>
                      <tr *ngFor="let data of allIntakes; let i = index" [ngClass]="{'bgGreen': data?.greenColor == true}">
                        <td>
                        <a *ngIf="updateIntakeAction != true" class="">{{data?.intakeId}}</a>
                        <a *ngIf="updateIntakeAction == true" (click)="goToEditIntake(data?.intakeId)" [routerLink]=""  class="">{{data?.intakeId}}</a>
                        <!-- <a *ngIf="updateIntakeAction == true" routerLink="/edit-intake/{{data?.intakeId}}"  class="">{{data?.intakeId}}</a> -->
                        <!-- <a routerLink="/edit-intake/{{data?.intakeId}}"  class="">{{data?.intakeId}}</a> -->
                        </td>
                        <td>{{data?.clientName}}</td>
                        <td >{{data?.intakeCollectedBy}}</td>
                        <!-- <td *ngIf="data?.collectionTimestamp !== null">{{data?.collectionTimestamp | momentDate:'MM/dd/yyyy hh:mm a'}}</td> -->
                        <td *ngIf="data?.intakeCollectionDate !== null">{{data?.intakeCollectionDate | momentDate}}</td>
                        <td *ngIf="data?.intakeCollectionDate === null">{{data?.intakeCollectionDate}}</td>

                        <td *ngIf="data?.createdTimestamp !== null">{{data?.createdTimestamp | momentDate}}</td>
                        <td *ngIf="data?.createdTimestamp === null">{{data?.createdTimestamp}}</td>
                        <!-- <ng-container *ngFor="let spcm of data?.specimenWiseCountForEachIntake" > -->
                          <td>{{data?.np}}</td>
                          <td>{{data?.n}}</td>
                          <td>{{data?.o}}</td>
                          <td>{{data?.s}}</td>
                          <td>{{data?.total}}</td>
                          <!-- <td>{{spcm?.specimenNP}}+{{spcm?.specimenN}}+{{spcm?.specimenO}}+{{spcm?.specimenS}}</td> -->
                        <!-- </ng-container> -->


                        <td>
                          <a [routerLink]=""  *ngIf="data?.accessioned > 0" (click)="loadSepcimenSearch('',data?.intakeId)"> {{data?.accessioned}} </a>
                          <span *ngIf="data?.accessioned <= 0" > 0 </span>
                          <!-- {{data?.accessionedCount}} -->
                        </td>
                        <td>{{data?.lastReportedBy}}</td>
                        <td>{{data?.lastReportedDate | momentDateWithTz}}</td>
                        <td>
                          <!-- <a href="edit-intake.html" class=""><i class="fa fa-edit text-info" title="Edit"></i> </a> -->
                          <a [routerLink]="" (click)="loadFiles(data?.intakeId)" data-toggle="modal" class=""><i class="fa fa-paperclip text-danger" title="Attachments"></i> </a>
                          <a [routerLink]="" appRbac featureCode="SPCA-CQ" (click)="loadCreateMinAccession(data?.intakeId,data?.clientId,data?.intakeCollectionDate,data?.intakeCollectedBy,null)" class=""><i class="fa fa-medkit text-danger" title="Add Case"></i> </a>
                          <a [routerLink]="" appRbac featureCode="TWMA-CNB"  (click)="goToAddBatch(data?.intakeId)" class=""><i class="fa fa-server text-danger" title=" Create Batch"></i> </a>
                          <!-- <a routerLink="/add-batch/{{data?.intakeId}}" target="_blank" class=""><i class="fa fa-server text-danger" title=" Create Batch"></i> </a> -->
                        </td>
                      </tr>

                    </tbody>
                    <!--  -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Content Row -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->

  </div>
  <div class="modal fade" id="createnewintakeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width:90%">
      <div class="modal-content">

        <div class="modal-body p-0">
          <div class="card shadow collapse show" id="collapsecases_list">
            <form [formGroup]="intakeForm">
              <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                <h6 class="m-3 font-weight-bold float-left">Create New Intake
                </h6>
                <div class="form-group no-arrow">
                  <!-- <div class="custom-control custom-checkbox custom-control-inline float-right mt-2">
                    <input type="checkbox" class="custom-control-input" checked="" id="print-label" name="saveprint-label">
                    <label class="custom-control-label" for="print-label">Print Label</label>
                  </div> -->
                  <button class="btn btn-warning btn-sm mr-2" type="button" data-dismiss="modal">Close</button>
                  <a  href="" data-target="#submitModal" data-toggle="modal" class="btn submit-button btn-sm float-right">Submit</a>

                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body pt-2 pb-1">
                <div id="normal-view">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="attachment-select" class="col-md-4 col-form-label  ">Client Name <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                          <ng-select
                          [items]           ="allClientName"
                          bindLabel         ="name"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_name_search
                          placeholder       ="Select Client Name"
                          formControlName   ="clientName"
                          class             ="form-control"
                          [multiple]        ="false"
                          (change)          = "clientChanged()"
                          [loading]         ="clientLoading"
                          (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                          [(ngModel)]       ="clientSearchString"
                          [ngClass]         ="{ 'is-invalid': submitted && f.clientName.errors }" required>
                        </ng-select>
                        <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">You did not select Client Name.</div>

                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label ">Collection Date <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                          <input style="font-size: 11px;" type="datetime-local" required class="form-control" max="{{maxDate}}T00:00:00"
                          [(ngModel)] ="saveRequestCollectionDate" id="coll-date" name="collectionDate" formControlName="collectionDate" (change)="collectDateChange($event)"
                            aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.collectionDate.errors }">
                            <div *ngIf="submitted && f.collectionDate.errors" class="invalid-feedback">You did not select Collection Date.</div>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label ">By <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input " formControlName="collectedBy" name="collectedBy"
                             id="sip11" value="1" checked [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                            <label class="custom-control-label " for="sip11" >siP</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="client1" formControlName="collectedBy" name="collectedBy"
                             value="2" [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                            <label class="custom-control-label" for="client1">Client</label>
                            <div *ngIf="submitted && f.collectedBy.errors" class="invalid-feedback">Please Selct one Personel.</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label ">Notes <span class="text-danger"></span></label>
                        <div class="col-md-8">
                          <textarea pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" [ngClass] ="{ 'is-invalid': submitted && f.notes.errors }" [(ngModel)] ="saveRequest.data.notes" name="notes" maxlength="250" length="250" formControlName="notes" class="form-control" cols="" rows="3" placeholder="Notes" resize="none"></textarea>
                          <div *ngIf="submitted && f.notes.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>

                        </div>

                      </div>

                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label  class="col-md-4 col-form-label "># of Initial Empty Kits <span class="text-danger">*</span></label>
                        <div class="col-md-3">
                          <div class="input-group input-group-sm ">

                            <input [(ngModel)] ="saveRequest.data.countKits" name="countKits" formControlName="countKits" type="text" pattern="\d*" maxlength="3" (keyup)="toNumeric($event)"
                            class="form-control" aria-label="Small" placeholder="# of swabs/ transport started with" [ngClass] ="{ 'is-invalid': submitted && f.countKits.errors }">
                            <div *ngIf="submitted && f.countKits.errors?.required" class="invalid-feedback">You did not provided Empty Kits.</div>
                            <div *ngIf="submitted && f.countKits.errors?.pattern" class="invalid-feedback">only numbers are  allowed.</div>

                          </div>
                        </div>
                        <label  class="col-md-2 col-form-label ">Left </label>
                        <div class="col-md-3">
                          <div class="input-group input-group-sm">

                            <input [(ngModel)] ="saveRequest.data.countKitsLeft" name="countKitsLeft" formControlName="countKitsLeft" (keyup)="toNumeric($event)"
                            type="text" class="form-control" aria-label="Small" pattern="\d*" maxlength="3"
                             placeholder="# of swabs/ transport started with">
                            <!-- <div *ngIf="submitted && f.countKitsLeft.errors" class="invalid-feedback">You did not provided Empty Kits.</div>
                            <div *ngIf="submitted && f.countKitsLeft.errors?.pattern" class="invalid-feedback">only numbers are  allowed.</div> -->

                          </div>
                        </div>

                      </div>
                      <div class="table mb-0">
                        <table class="table table-bordered table-sm mb-0" width="100%" style="vertical-align: middle;">
                          <thead>
                            <tr class="table-secondary">
                              <th></th>
                              <th>NP</th>
                              <th>N</th>
                              <th>O</th>
                              <th>S</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td> # of Swabs</td>
                              <td><input type="text" maxlength="3" class="form-control form-control-sm" placeholder="# of Nasopharyngeal Swabs"
                                aria-describedby="basic-addon1" name="nP" (keyup)="swabChange($event)" [(ngModel)]="swabNP"
                                 formControlName="nP" min="0" pattern="\d*">

                                <!-- <div *ngIf="submitted && f.nP.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->

                              </td>
                              <td><input type="text" maxlength="3" class="form-control form-control-sm" placeholder="# of Nasal Swabs"
                                aria-describedby="basic-addon1" name="n" formControlName="n" min="0" (keyup)="swabChange($event)"  [(ngModel)]="swabN"
                                 formControlName="n" min="0" pattern="\d*">

                                <!-- <div *ngIf="submitted && f.n.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->
                             </td>
                              <td><input type="text" maxlength="3"  class="form-control form-control-sm" placeholder="# of Oropharyngeal Swabs"
                                aria-describedby="basic-addon1" name="o" formControlName="o" min="0" (keyup)="swabChange($event)"  [(ngModel)]="swabO"
                                 formControlName="o" min="0" pattern="\d*">

                                <!-- <div *ngIf="submitted && f.o.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->
                              </td>
                              <td><input type="text" maxlength="3" class="form-control form-control-sm" placeholder="# of Saliva Swabs"
                                aria-describedby="basic-addon1" name="s" formControlName="s" min="0" (keyup)="swabChange($event)"  [(ngModel)]="swabS"
                                 formControlName="s" min="0" pattern="\d*">

                                <!-- <div *ngIf="submitted && f.s.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->
                              </td>
                              <td align="center">{{totalSpecimen}}</td>

                            </tr>

                            <!-- <tr>
                              <td>Accessioned</td>
                              <td align="center">0 <a href="" data-toggle="modal" data-target="#createnewcaseModal" class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                              <td align="center"><a href="add-case.html" >3</a> <a href="" data-toggle="modal" data-target="#createnewcaseModal" class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                              <td align="center">0 <a href="" data-toggle="modal" data-target="#createnewcaseModal" class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                              <td align="center">0 <a href="" data-toggle="modal" data-target="#createnewcaseModal" class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                              <td align="center">3 </td>


                            </tr> -->

                          </tbody>
                        </table>
                        <div *ngIf="submitted && allemptySpecError" class="invalid-feedback-custom">Please provide atleast one Specimen.</div>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label for="attachment-select" class="col-md-4 col-form-label  ">Attachment Type <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                          <select class="custom-select dropdown-arrow form-control select-control-sm" name="attType" formControlName="attType"
                          [(ngModel)]="selectattachmentTypeId"
                          [ngClass] ="{ 'is-invalid': submitted && f.attType.errors }" id="attachment-select" style="width: 100%;">
                            <!-- <option  selected disabled value="null">Select Attachment Type</option> -->
                            <option *ngFor="let att of allAttachmentTypes"  value="{{att?.attachmentTypeId}}" [attr.attname]="att?.attachmentTypeName">{{att?.attachmentTypeName}}</option>

                            <!-- <ng-container
                             *ngFor="let att of allAttachmentTypes">
                              <option selected *ngIf="att?.attachmentTypeId == 6" value="{{att?.attachmentTypeId}}" [attr.attname]="att?.attachmentTypeName">{{att?.attachmentTypeName}}</option>
                              <option *ngIf="att?.attachmentTypeId != 6"  value="{{att?.attachmentTypeId}}" [attr.attname]="att?.attachmentTypeName">{{att?.attachmentTypeName}}</option>

                            </ng-container> -->

                          </select>
                          <div *ngIf="submitted && f.attType.errors" class="invalid-feedback">You did not select Attachment Type.</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="upload-att" class="col-md-4 col-form-label ">Select File <span class="text-danger">*</span></label>
                        <div class="col-md-8">
                          <input type="file" accept="application/pdf,image/png,image/jpeg,image/jpg" class="form-control form-control-sm"  id="upload-att" name="attFile" formControlName="attFile"
                            aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.attFile.errors }" (change)="popFile($event)">
                            <div *ngIf="submitted && f.attFile.errors" class="invalid-feedback">You did not select Attachment Type.</div>
                        </div>
                      </div>
                      <div class="table mb-0">
                        <table class="table table-sm table-bordered mb-1">
                          <thead>
                            <tr class="table-secondary">
                              <th>Attachment Type</th>
                              <th>File Name</th>
                              <th >Download</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of attachmentTable; let i = index" >
                              <td>{{item?.type}}</td>
                              <td> <a [routerLink]="" (click)="downloadStatic(item?.fileurl,item?.nameToDownload)">{{item?.file}}</a></td>
                              <td >

                                <a [routerLink]="" (click)="downloadStatic(item?.fileurl,item?.nameToDownload)"><i class="fa fa-download"></i></a>
                              </td>

                            </tr>
                            <!-- <tr>
                              <td>Consent Form</td>
                              <td>abc.pdf</td>
                              <td><a href="img/insurance-card.pdf"><i class="fa fa-download"></i></a></td>
                            </tr> -->
                          </tbody>
                        </table>
                        <span class="small">Maximum 3 files can be attached </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Cancel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to cancel the case?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" href="#">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="attachment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attachments</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="table mb-0">
              <table class="table table-sm table-bordered mb-1">
                <thead>
                  <tr class="table-secondary">
                    <th>Attachment Type</th>
                    <th>File Name</th>
                    <th>Download</th>
                  </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of attachmentTableSelected; let i = index" >
                      <td>{{item?.type}}</td>
                      <td>{{item?.file}}</td>
                      <td>

                        <a [routerLink]="" (click)="downloadFile(item?.intakeId,item?.fileUrl,item?.fileType,item?.fileId)"><i class="fa fa-download"></i></a>
                      </td>

                    </tr>

                </tbody>
              </table>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Submit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to submit, the Intake</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="saveIntake()">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createnewcaseModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 90%;">
      <div class="modal-content">

        <div class="modal-body p-0">
          <app-minimum-case [fromCreateIntake]="dataForCreateCaseFromIntake"></app-minimum-case>

        </div>

      </div>
    </div>
  </div>
