<nav aria-label="breadcrumb navbar-light bg-light">
    <ol class="breadcrumb breadcrumb-arrow">
      <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
      <li class="small"><a routerLink="/all-patients">Patients</a></li>
      <li class="small active"><span>{{breadcrumbActivePage}}</span></li>
    </ol>
  </nav>
