<ul class="navbar-nav bg-admin-gradiant sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#batchmodule" aria-expanded="true"
        aria-controls="batchmodule">
        <i class="fas fa-fw fa-handshake"></i>
        <span>Batches</span>
      </a>
      <div id="batchmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="py-2 collapse-inner">
          <a class="collapse-item" routerLink="/add-batch/1"><i class="fas fa-fw fa-plus"></i> Create New Batch</a>          
          <a class="collapse-item" routerLink="/manage-batches"><i class="fas fa-fw fa-eye"></i> Manage Batches</a>
        </div>
      </div>
    </li>
    <!-- <li class="nav-item recent-link">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#recentmodule" aria-expanded="true"
        aria-controls="recentmodule">
        <i class="fas fa-fw fa-folder"></i>
        <span>Recent Visited</span>
      </a>
      <div id="recentmodule" class="collapse open" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="py-2 collapse-inner">
          <a class="collapse-item" href="create-batch.html"><i class="fas fa-fw fa-plus"></i> Create New Batch</a>
          <a class="collapse-item" href="manage-batch.html"><i class="fas fa-fw fa-eye"></i> Manage Batches</a>
        </div>
      </div>
    </li> -->


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle mt-3 border-0" id="sidebarToggle"></button>
    </div>
  </ul>
