<ul class="navbar-nav bg-admin-gradiant sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#wizardsModal">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->

  <li class="nav-item">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#clientsmodule" aria-expanded="true"
      aria-controls="clientsmodule">
      <i class="fas fa-fw fa-user"></i>
      <span>Patients</span>
    </a>
    <div id="clientsmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" routerLink="/add-patient"><i class="fas fa-fw fa-plus"></i> Add Patient</a>
        <a class="collapse-item" routerLink="/all-patients"><i class="fas fa-fw fa-tasks"></i> Manage Patient</a>
      </div>
    </div>
  </li>
  <li class="nav-item recent-link">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#recentmodule" aria-expanded="true"
      aria-controls="recentmodule">
      <i class="fas fa-fw fa-folder"></i>
      <span>Recent Visited</span>
    </a>
    <div id="recentmodule" class="collapse open" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" href="add-user.html"><i class="fas fa-fw fa-plus"></i> Add Users (Internal)</a>
        <a class="collapse-item" href="all-users.html"><i class="fas fa-fw fa-eye"></i> Manage Users</a>
      </div>
    </div>
  </li>


  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle mt-3 border-0" id="sidebarToggle"></button>
  </div>
</ul>
