<!-- Sidebar -->
<!-- <app-sidebar></app-sidebar> -->
<!-- End of Sidebar -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Topbar -->
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <nav aria-label="breadcrumb navbar-light bg-light">
      <ol class="breadcrumb breadcrumb-arrow">
        <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
        <li class="small"><a routerLink="/all-users">Users</a></li>
        <li class=" small active"><span>Update User</span></li>
      </ol>
    </nav>

    <div class=" container-fluid p-2">
      <notifier-container></notifier-container>
      <div class="row ">
        <div class="col-xl-12 col-lg-12">
          <div [hidden]="!showSuccess" class="alert alert-success" id="successMSG">
          <!-- <div [hidden]="!showSuccess" class="alert alert-success" id="successMSG"> -->
            <strong>Success!</strong> {{responseMSG}}
          </div>
          <div [hidden]="!showError" class="alert alert-danger" id="errorMSG">
            <strong>Error!</strong> {{responseMSG}}
          </div>
          <!-- <div class="alert alert-danger" id="errorMSGnoUser" style="display:none;">
            <strong>Error!</strong> {{}}.
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="card shadow mb-2">
            <form [formGroup]="userForm" (submit)="updateUser()">
              <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                <h6 class="m-0 font-weight-bold float-left">Update User</h6>
                <div class="form-group dropdown no-arrow">
                  <button type="submit" class="btn submit-button float-right btn-sm" [disabled]="inValidUsernpi">Update</button>
                  <a class="btn btn-warning float-right btn-sm mr-2" (click)="navigateOnCancel()">Cancel</a>
                  <!-- <a class="btn btn-warning float-right btn-sm mr-2" routerLink="/all-users" >Cancel</a> -->
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="form-heading">
                  <p>User Profile</p>
                </div>
                <div class="row">
                  <div class="col-md-2 mb-3">
                    <div class="d-flex justify-content-center align-items-center rounded"
                    style="height: 140px; background-color: rgb(233, 236, 239);">
                    <img src="{{imgSrc}}" height="100%" width="100%" accept="image/*">
                  </div>
                  <button class="btn btn-block submit-button" (click)="selectPicClick()" id="btnFileUpload" type="button">
                    <i class="fa fa-fw fa-camera"></i>
                    <span>Change Photo</span>
                  </button>

                  <span id="spnFilePath"></span>
                  <input (change)="onFileSelect($event.target)" accept="image/*" type="file" class="form-control selectPicture" hidden>
                </div>
                <div class="col-md-10">
                  <div class="form-row">
                    <div class="form-group col-md-1">
                      <label>Title</label>
                      <div class="input-group">
                        <select formControlName='title' name="title" [(ngModel)]="requestData.data.user.title" class="custom-select" id="inputGroupSelecttitle" >
                          <option disabled>Select Title</option>
                          <option *ngFor="let item of allTittles"  value="{{item.titleId}}">{{item.titleValue}}</option>
                          <!-- <option value="1">Mr.</option>
                          <option value="2">Dr.</option>
                          <option value="3">Mrs.</option> -->
                        </select>
                        <!-- <div *ngIf="submitted && f.title.errors" class="invalid-feedback">Please fill out this field.</div> -->

                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label>First Name <span class="text-danger">*</span></label>
                      <div class="input-group">
                        <input formControlName='firstName' pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" name="firstName"  maxlength="50" length="50" [(ngModel)]="selctedUser.firstName"  type="text" class="form-control" placeholder="First Name"
                        aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                        <div *ngIf="submitted && f.firstName.errors?.required" class="invalid-feedback">You did not specify First Name.</div>
                        <div *ngIf="submitted && f.firstName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Last Name <span class="text-danger">*</span></label>
                      <div class="input-group">
                        <input formControlName='lastName' pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" name="lastName"  maxlength="50" length="50" [(ngModel)]="selctedUser.lastName" type="text" value="Ali" class="form-control" placeholder="Last Name"
                        aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                        <div *ngIf="submitted && f.lastName.errors?.required" class="invalid-feedback">You did not specify Last Name.</div>
                        <div *ngIf="submitted && f.lastName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>

                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>NPI Number</label>
                      <div class="input-group">
                        <input formControlName='npiNumber' name="npiNumber" size="10"  maxlength="10" [(ngModel)]="selctedUser.npi" type="text" class="form-control" placeholder="NPI Number"
                        aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.npiNumber.errors }" (change)="getNPI()">
                        <div *ngIf="submitted && f.npiNumber.errors" class="invalid-feedback">You did not specify NPI.</div>
                        <div *ngIf="inValidUsernpi" class="invalid-feedback-custom">NPI already exists.</div>

                      </div>
                      <div id="NPI-spiner" class="spinner-border" style="display:none;" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Post-Nominal</label>
                      <div class="input-group">
                        <ng-select
                        [items]           ="dPostNominal"
                        bindLabel         ="value"
                        bindValue         ="postnomId"
                        [(ngModel)]       ="selectedPostNominal"
                        [virtualScroll]   ="true"
                        dropdownPosition  ="auto"
                        #selectrole
                        placeholder       ="Select Post Nominal"
                        formControlName   ="postNominal"
                        class             ="form-control"
                        [multiple]        ="true"
                        [ngClass]="{ 'is-invalid': submitted && f.postNominal.errors }" required>
                      </ng-select>

                    </div>

                    <div *ngIf="submitted && f.postNominal.errors" class="invalid-feedback">You did not select Post Nominal.</div>


                  </div>
                  <div class="form-group col-md-6">
                    <label>Role(s) <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <ng-select
                      [items]           ="defaultRoles"
                      bindLabel         ="name"
                      [(ngModel)]       = "requestData.data.user.roles"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #selectrole
                      placeholder       ="Select role"
                      formControlName   ="role"
                      class             ="form-control"
                      (change)          = "rolesChanged()"
                      [multiple]        ="true"
                      [ngClass]="{ 'is-invalid': submitted && f.role.errors }" required>
                    </ng-select>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">You did not select Role(s).</div>

                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Department</label>
                  <div class="input-group">
                    <ng-select
                    [items]           ="allDepartment"
                    bindLabel         ="departmentName"
                    bindValue         ="departmenId"
                    [(ngModel)]       = "requestData.data.user.departmentId"
                    [virtualScroll]   ="true"
                    dropdownPosition  ="auto"
                    #selectrole
                    placeholder       ="Select department"
                    formControlName   ="department"
                    (change)          ="departmentChange()"
                    class             ="form-control"
                    [multiple]        ="false"
                    [ngClass]="{ 'is-invalid': submitted && f.department.errors }" required>
                  </ng-select>
                    <!-- <select formControlName='department' name="department" (change)="departmentChange(1)" class="custom-select" id="department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" required>
                      <option>Select Specialty</option>
                      <option value="1">Oncology</option>
                      <option value="2">Histology</option>
                      <option value="3">Hematology</option>
                      <option value="4">Cell</option>
                      <option value="5">Molecular</option>
                    </select> -->
                    <div *ngIf="submitted && f.department.errors" class="invalid-feedback">You did not select Department.</div>

                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Reports to</label>
                  <div class="input-group">
                    <select formControlName='reportsTo' (change)="changeCheck()" name="reportsTo" [(ngModel)]="reportingUser"  class="custom-select" id="select-report">
                    <!-- <select formControlName='reportsTo' (change)="changeCheck()" name="reportsTo" [(ngModel)]="requestData.data.user.reportingTo"  class="custom-select" id="select-report"> -->
                      <option value="select">Select</option>
                      <!-- <option value="1">Existing User of the Department</option> -->
                      <option *ngFor="let item of reportsTo" [value]="item.userCode">{{item.firstName}} {{item.lastName}}</option>
                    </select>

                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label></label>
                  <div class="input-group">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="1" disabled name="userType" formControlName="userType"
                      class="custom-control-input" value="1" [(ngModel)]="userTypeCheckbox" >
                      <label class="custom-control-label" for="internal-user">Internal
                        User</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="2" name="userType" formControlName="userType" disabled
                        class="custom-control-input" value="2" [(ngModel)]="userTypeCheckbox">
                        <label class="custom-control-label" for="client-user">Client
                          User</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="custom-control custom-switch">
                        <input formControlName='isDoctor' name="isDoctor"  maxlength="50" length="50" (change) = "changeIsDoctor($event)" [(ngModel)]="selctedUser.isDoctor" type="checkbox" class="custom-control-input" id="switchdoctor">
                        <label class="custom-control-label" for="switchdoctor">Is
                          Doctor</label>
                        </div>
                      </div>
                      <div *ngIf="selctedUser.userType == 2"  class="form-group col-md-6">
                        <label>Working with clients</label>
                        <div class="input-group">
                          <ng-select
                          [items]           ="userClients"
                          bindLabel         ="name"
                          bindValue         ="clientId"
                          [(ngModel)]       = "selctedUser.clientsAssociated"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          formControlName   = "workingWithClient"
                          #clientsassoc
                          placeholder       ="Working with clients"
                          class             ="form-control"
                          [multiple]        ="true">
                        </ng-select>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-heading">
                  <p>Contact Detail</p>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>Mobile No<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input formControlName='mobileNo' name="mobileNo"  maxlength="13" length="13" [(ngModel)]="selctedUser.phone" type="text" class="form-control" placeholder="Mobile No"
                       aria-describedby="basic-addon1" (keyup)="formatePhoneUS($event)" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                      <div *ngIf="submitted && f.mobileNo.errors?.required" class="invalid-feedback">You did not specify Mobile Number.</div>
                      <div *ngIf="submitted && f.mobileNo.errors?.minlength" class="invalid-feedback">Please Provide a complete phone number.</div>

                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Personal Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input formControlName='userEmail' name="userEmail" [(ngModel)]="selctedUser.email" type="email" maxlength="254" length="254" class="form-control" placeholder="Email"
                      aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }">
                      <div *ngIf="submitted && f.userEmail.errors?.required" class="invalid-feedback">You did not specify Personal Email.</div>
                      <div *ngIf="submitted && f.userEmail.errors?.email" class="invalid-feedback">Please Provide Valid email.</div>

                    </div>
                  </div>
                </div>
                <div class="form-heading">
                  <p>User Detail</p>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>Username<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input formControlName='userName' name="userName" disabled [(ngModel)]="selctedUser.username" type="text" value="ahmedali" class="form-control" placeholder="Username"
                      aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                      <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">You did not specify User Name.</div>

                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Password <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <a style="cursor: pointer" *ngIf ="logedInUserRoles.userType == 1"  appRbac featureCode="USRA-RPI" (click)="showPasswordModal()">Reset Password</a>
                      <a style="cursor: pointer" *ngIf ="logedInUserRoles.userType == 2"  appRbac featureCode="USRA-RPE" (click)="showPasswordModal()">Reset Password</a>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>User Status <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="active" formControlName="userStatus" [(ngModel)]="requestData.data.user.active" value="active" name="userStatus" class="custom-control-input" >
                        <label class="custom-control-label" for="active">Active</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="inactive" formControlName="userStatus" [(ngModel)]="requestData.data.user.active" value="inactive" name="userStatus" class="custom-control-input">
                        <label class="custom-control-label" for="inactive">Inactive</label>
                      </div>
                      <div *ngIf="submitted && f.userStatus.errors" class="invalid-feedback">Please fill out this field.</div>

                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Content Row -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Version 1.0 Copyright &copy; Tiger 2020</span>
        </div>
      </div>
    </footer> -->
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  <!-- Reset Modal-->
  <div class="modal fade" id="resetpassModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="alert alert-success" id="successMSGPassword" style="display:none;">
          <strong>Success!</strong> Password updated successfully.
        </div>
        <div class="alert alert-danger" id="errorMSGPassword" style="display:none;">
          <strong>Error!</strong> Error while updating password.
        </div>
        <h5 class="modal-title" id="resetModalLabel">Reset Password</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Please enter the detail Information to reset your
              password.</label>
              <input type="password" [(ngModel)]="newPassword" (keyup)="passwordRegex($event)" (change)="passwordCheckRealTime($event)" name="newPassword" size="50" minlength="8" maxlength="50"  class="form-control " placeholder="New Password">
              <div *ngIf="passwordError == true" class="invalid-feedback-custom"> Password Must contain:
                <ul >
                <li style="font-size: 10px;">Minimum 8 Characters</li>
                <li style="font-size: 10px;">At least 1 Upper, 1 Lower, 1 number, and 1 special character(!@#$&*_).</li>
              </ul>
            </div>
              <div *ngIf="passMisMatch" class="invalid-feedback-custom">Password Must Match.</div>
              <div *ngIf="passEmpty" class="invalid-feedback-custom">Please fill in this field.</div>
              <!-- <div *ngIf="minLength" class="invalid-feedback-custom">Password must be 8 Characters long.</div> -->
              <div *ngIf="maxLength" class="invalid-feedback-custom">Password must be less then 50 Characters.</div>


            </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="CNewPassword" (keyup)="passwordCheckRealTime($event)" name="CNewPassword" size="50" minlength="8" maxlength="50" class="form-control" placeholder="Confirm Password">
              <div *ngIf="passMisMatch" class="invalid-feedback-custom">Password Must Match.</div>
              <div *ngIf="CPassEmpty" class="invalid-feedback-custom">Please fill in this field.</div>
            </div>

            <button type="button" (click)="updatePassword()" class="btn submit-button float-right">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
