
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->

                <nav aria-label="breadcrumb navbar-light bg-light">
                    <ol class="breadcrumb breadcrumb-arrow">
                        <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
                        <li class="small"><a routerLink="/all-users">Users</a></li>
                        <li class=" small active"><span>Add Users (Internal)</span></li>
                    </ol>
                </nav>

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid p-2">
                  <notifier-container></notifier-container>
                    <!-- <div class="row">
                      <div class="col-xl-12 col-lg-12 mt-2">
                        <div class="alert alert-success" id="successMSG" style="display:none;">
                          <strong>Success!</strong> User added successfully.
                        </div>
                        <div class="alert alert-danger" id="errorMSG" style="display:none;">
                          <strong>Error!</strong> Error While adding User.
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                          <div class="collapse" id="collapse-div">
                            <div class="card shadow mb-2">
                                <form [formGroup]="userForm" (ngSubmit)="submitUser()">
                                    <div
                                        class="card-header d-flex justify-content-between align-items-center flex-row ">
                                        <h6 class="m-0 font-weight-bold float-left">Add Users</h6>
                                        <div class="form-group dropdown no-arrow">
                                          <!-- <button type="submit" class="btn submit-button pull-right">Add</button> -->
                                            <button type="submit" class="btn submit-button pull-right btn-sm" [disabled]="validUsername == false || inValidUseremail == true">Add</button>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label>User Type <span class="text-danger">*</span></label>
                                                <select formControlName="userType" name="userType" [(ngModel)]="requestData.data.user.userType"  class="custom-select" required id="user-type" [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
                                                    <!-- <option>Select User</option> -->
                                                    <option value="1" selected>System User</option>
                                                    <!-- <option value="2">Active Directory User</option> -->
                                                </select>
                                                <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">You did not select User Type.</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-1">
                                                <label>Title</label>
                                                <div class="input-group">
                                                    <select formControlName="title" name="title" [(ngModel)]="requestData.data.user.title" class="custom-select" id="inputGroupSelecttitle">
                                                        <option disabled>Select Title</option>
                                                        <option *ngFor="let item of allTittles"  value="{{item.titleId}}">{{item.titleValue}}</option>
                                                        <!-- <option selected value="1">Mr.</option>
                                                        <option value="2">Dr.</option>
                                                        <option value="3">Mrs.</option> -->
                                                    </select>
                                                    <!-- <div *ngIf="submitted && f.title.errors" class="invalid-feedback">Please fill out this field.</div> -->
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>First Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input formControlName="firstName" name="firstName" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" (change)="setUserName()" [(ngModel)]="FName" maxlength="50" length="50" type="text" class="form-control" required
                                                        placeholder="First Name" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                                        <div *ngIf="submitted && f.firstName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                                                        <div *ngIf="submitted && f.firstName.errors?.required" class="invalid-feedback">You did not specify First name.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Last Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                  <!-- <input formControlName="lastName" name="lastName" [(ngModel)]="LName" maxlength="50" length="50" (change)="UName=FName+''+LName" type="text" class="form-control" required -->
                                                    <input formControlName="lastName" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" name="lastName" [(ngModel)]="LName" maxlength="50" length="50" (change)="setUserName()" type="text" class="form-control" required
                                                        placeholder="Last Name" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                                        <div *ngIf="submitted && f.lastName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                                                        <div *ngIf="submitted && f.lastName.errors?.required" class="invalid-feedback">You did not specify Last Name.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Mobile No <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                  <!-- phoneMask [preValue]="userForm.value.mobileNo" -->
                                                    <input formControlName="mobileNo" name="mobileNo" [(ngModel)]="requestData.data.user.phone" type="text" maxlength="13" length="13" minlength="13" class="form-control" required
                                                        placeholder="Mobile No" aria-describedby="basic-addon1" (keyup)="formatePhoneUS($event)" (paste)="formatePhoneUS($event)"
                                                        [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                                        <div *ngIf="submitted && f.mobileNo.errors?.required" class="invalid-feedback">You did not specify Mobile Number.</div>
                                                        <div *ngIf="submitted && f.mobileNo.errors?.minlength" class="invalid-feedback">Please Provide a complete phone number.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Username <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input formControlName="userName" name="userName"  id="user_name" (keyup)="checkUserName()" [(ngModel)]="UName" disabled type="text" class="form-control" required
                                                        placeholder="Username" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                                                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">You did not specify UserName.</div>
                                                    <div *ngIf="inValidUsername" class="invalid-feedback-custom">User Name already exists.</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Login Email <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input formControlName="useremail" name="useremail" [(ngModel)]="requestData.data.user.email" type="Email" maxlength="256" length="256" class="form-control" required
                                                        placeholder="Email" (change)  = "getEMAIL()" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.useremail.errors }">
                                                    <div *ngIf="submitted && f.useremail.errors" class="invalid-feedback">Please enter a valid email address.</div>
                                                    <div *ngIf="inValidUseremail" class="invalid-feedback-custom">Email already exists.</div>

                                                </div>
                                                <div id="EMAIL-spiner" class="spinner-border" style="display:none;" role="status">
                                                  <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Role <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                  <!-- bindValue         ="id" -->
                                                <ng-select  [items]           ="defaultRoles"
                                                            bindLabel         ="name"
                                                            [virtualScroll]   ="true"
                                                            dropdownPosition  ="auto"
                                                            #selectrole
                                                            placeholder       ="Select role"
                                                            formControlName   ="role"
                                                            class             ="form-control"
                                                            [multiple]        ="true"
                                                            [(ngModel)]       = "requestData.data.user.roles"
                                                            [ngClass]         ="{ 'is-invalid': submitted && f.role.errors }"required>
                                              </ng-select>
                                              <!-- (change)          = "rolesChanged()" -->
                                                    <!-- <select formControlName="role" name="role" [(ngModel)]       = "requestData.data.user.roles" class="custom-select form-control" required id="select-role"
                                                        multiple>
                                                        <option value="1">Medical Director</option>
                                                        <option value="2">Organization Admin</option>
                                                        <option value="3">Pathologist</option>
                                                        <option value="4">Technician</option>
                                                    </select> -->
                                                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">You did not select Role(s).</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                          </div>

                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                    <h6 class="m-0 font-weight-bold float-left">Users</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="link" data-toggle="collapse" href="#collapse-div" role="button"
                                            aria-expanded="false" aria-controls="collapse-div"  appRbac featureCode="USRA-AUI" >
                                            Add User
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="users" class="table table-sm table-hover table-bordered"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Serial No #</th>
                                                    <th>Role</th>
                                                    <th>Name</th>
                                                    <th>Mobile No</th>
                                                    <th>User Name</th>
                                                    <th>Login Email</th>
                                                    <!-- <th>OTP</th> -->
                                                    <th>Action</th>
                                                </tr>


                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let user of allUsers; let i = index" id="TR-{{user?.userCode}}">
                                                  <td>{{user?.userCode | decrypted}}</td>
                                                  <td style="width:20%;">{{user?.userRoles}}</td>
                                                  <!-- <td *ngIf="user.userRoles != 'undefined'" >user.userRoles</td>
                                                  <td *ngIf="user.userRoles == 'undefined'" >{{user?.roles[0].name}}</td> -->
                                                  <td style="width:15%;">{{user?.firstName}} {{user?.lastName}}</td>
                                                  <td style="width:15%;">{{user?.phone}}</td>
                                                  <td style="width:15%;">{{user?.username}}</td>
                                                  <td style="width:15%;">{{user?.email}}</td>

                                                  <td>
                                                      <a (click)="getSelectedUserData(user.userCode)" appRbac featureCode="USRA-UU" class=""><i
                                                              class="fa fa-edit text-info"></i></a>
                                                              <a *ngIf="user.active == true"  appRbac featureCode="USRA-ADUI"  (click)="disableUser(user.userCode, 0, i)" class="px-1"><i class="fa fa-ban text-danger"></i></a>
                                                              <a *ngIf="user.active == false" appRbac featureCode="USRA-ADUI" (click)="disableUser(user.userCode, 1, i)" class="px-1"><i class="fa fa-check-circle text-info"></i></a>
                                                  </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
