<ul class="navbar-nav bg-admin-gradiant sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#spec_case_module" aria-expanded="true"
        aria-controls="spec_case_module">
        <i class="fa fa-medkit"></i>
        <span>Reports</span>
      </a>
      <div id="spec_case_module" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="py-2 collapse-inner">
          <a class="collapse-item" routerLink="/manage-reports"><i class="fas fa-fw fa-tasks"></i> Manage Reports</a>
        </div>
      </div>
    </li>
    <!-- <li class="nav-item recent-link">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#recentmodule" aria-expanded="true"
        aria-controls="recentmodule">
        <i class="fas fa-fw fa-folder"></i>
        <span>Recent Visited</span>
      </a>
      <div id="recentmodule" class="collapse open" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="py-2 collapse-inner">
          <a class="collapse-item" href="add-case.html"><i class="fas fa-fw fa-plus"></i> Create New Case</a>
          <a class="collapse-item" href="all-cases.html"><i class="fas fa-fw fa-tasks"></i> Manage Cases</a>
        </div>
      </div>
    </li> -->


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle mt-3 border-0" id="sidebarToggle"></button>
    </div>
  </ul>