
<!-- <router-outlet></router-outlet>
<ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader> -->
<app-navbar></app-navbar>
  <div id="wrapper">
    <router-outlet></router-outlet>
    <ngx-ui-loader bgsColor="#df4661" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)" bgsPosition= "center-center"></ngx-ui-loader>
</div>

<div class="modal fade" id="changesbatchModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Save</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body"><p>You have some unsaved data in the Batch, Do you want to save it?</p></div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Discard</button>
        <a class="btn submit-button" href="#">Save</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Save</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body"><p>Batch changes has been saved successfully</p></div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- submit Modal-->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Submit</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">You can’t update or edit the batch once submitted. Are you sure?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="manage-batch.html">Submit</a>
      </div>
    </div>
  </div>
</div>
<!-- deactivate Modal-->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModalold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
