<section class="login-section bg-gradient-primary" >
  <div class="container" >

      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 logo-login">
          <img src="assets/img/logo.png" width="200">
        </div>
        <ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader>

        <div class="col-xl-6 col-lg-6 col-md-6 pt-5">
          <div class="border-0 shadow-loginbox my-5">
            <div class="card-body p-5">
              <!-- Nested Row within Card Body -->
              <div class="text-center">
                <h1 class="h4 text-white mb-4">Welcome!!</h1>
              </div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
                <div *ngIf="loginFailed" class="invalid-feedback-custom" style="color: white">Invalid Username/Password.</div>
                <div class="form-group mb-4">
                  <label class="text-white">Partner\user e.g Siparadigm\admin</label>
                  <input type="text" class="form-control form-control-user"  aria-describedby=""
                    placeholder="Username or Email" formControlName="userName"
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" required>
                    <div style="color: white" *ngIf="submitted && f.userName.errors" class="invalid-feedback">You did not specify UserName.</div>
                </div>
                <div class="form-group mb-4">
                  <input type="password" class="form-control form-control-user"
                  placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                    <div style="color: white" *ngIf="submitted && f.password.errors" class="invalid-feedback">You did not specify Password.</div>
                </div>
                <!-- <div class="form-group mb-4">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label text-white" for="customCheck">Remember Me</label>
                  </div>
                </div> -->
                <button appRbac featureCode="USRA-LI" type="submit" name="button" [routerLink]="" class="btn submit-button btn-user login-btn float-right">
                  Login
                </button>
                <div class="clearfix"></div>
              </form>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <a class="small text-left text-white float-left" appRbac featureCode="USRA-FP" routerLink="/reset-password">Forgot Password?</a>
                  <!-- <a class="small text-left text-white float-left" href="forgot-password.html">Forgot Password?</a> -->
                  <!-- <a class="small text-right text-white float-right" href="register.html">Register Account</a> -->
                </div>
              </div>
              <!--<div class="text-center">
                      <a class="small" href="register.html">Create an Account!</a>
                    </div>-->
            </div>
          </div>

        </div>
        <div class="col-xl-2 col-lg-2 col-md-2">

        </div>

      </div>

    </div>
</section>
