<!-- <app-navbar></app-navbar> -->
<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->

        <nav aria-label="breadcrumb navbar-light bg-light" *ngIf="fromtClient == false">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="small"><a routerLink="/all-patients">Patients</a></li>
            <li class="small active"><span>Manage Patients</span></li>
          </ol>
        </nav>

        <!-- <nav aria-label="breadcrumb navbar-light bg-light" *ngIf="mergeView">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="small"><a routerLink="/all-patients">Patients</a></li>
            <li class="small active"><span>Merge Patients</span></li>
          </ol>
        </nav> -->
        <!-- <app-breadcrumb></app-breadcrumb> -->

        <!-- End of Topbar -->
        <!-- Page tab -->


        <div class="container-fluid p-2">
          <notifier-container></notifier-container>
          <div class="row" *ngIf="!mergeView">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="dropdown no-arrow">
                <a routerLink="/add-patient" class="btn submit-button pull-right btn-sm" appRbac featureCode="PNTA-AP">Add Patient</a>
                <a data-target="#importModal" data-toggle="modal" class="btn submit-button btn-sm pull-right mr-2 " appRbac featureCode="PNTA-IP">Import
                  Patients</a>
                <!-- <a class="btn submit-button pull-right mr-2 " href="img/patients.xlsx" target="_blank">Export
                  Patients</a> -->
              </div>
              <!-- <div  class="input-group input-group-sm pull-right col-md-5 col-sm-6">
                <label class="mr-2 align-self-center">Self Patient Registration</label>
                <input [disabled]='true' type="text" class="form-control" placeholder="Patient's Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <a appRbac featureCode="PNTA-SRS" class="btn btn-success text-white" >Send</a>
                  <a  appRbac featureCode="PNTA-SRB" class="btn submit-button" data-target="#import-registrationModal" data-toggle="modal">Bulk Send</a>
                </div>
              </div> -->

            </div>
            <div class="col-xl-12 col-lg-12">
              <ul class="nav nav-tabs mt-2" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#all_patientstab" data-toggle="tab" aria-expanded="true">All
                    Patients</a>
                </li>
                <!-- <li class="nav-item"  appRbac featureCode="PNTA-VEP">
                  <a class="nav-link" href="#eligible_patientstab" data-toggle="tab" aria-expanded="false">Eligible
                    Patients</a>
                </li>
                <li class="nav-item"  appRbac featureCode="PNTA-VEP">
                  <a class="nav-link" href="#noneligible_patientstab" data-toggle="tab" aria-expanded="false">Non
                    Eligible Patients</a>
                </li> -->
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="all_patientstab">
                  <div class="card shadow  mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                      <h6 class="m-0 font-weight-bold float-left">Manage Patients</h6>
                      <div class="dropdown no-arrow">
                        <a class="btn btn-sm submit-button pull-right " appRbac featureCode="PNTA-EP" (click)="exportPatient('all')" target="_blank">Export
                          Patients</a>
                        <!-- <a href="#" class="btn btn-sm submit-button pull-right mr-2">Check</a> -->
                      </div>

                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="table-responsive" id="all-patient-div">
                        <table id="all-patient" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" class="table table-sm table-hover table-bordered" style="width:100%">
                          <thead>
                            <tr>

                              <!-- <th></th> -->
                              <th>Patient ID</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Date of Birth</th>
                              <th>SSN</th>
                              <th>Phone No</th>
                              <th>Client</th>
                              <th>Last Specimen Collected</th>
                              <th appRbac featureCode="PNTA-CS">Specimen Collection</th>
                              <th appRbac featureCode="PNTA-CH">Cases History</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of allPatients; let i = index" >
                              <!-- <td align="center">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input"  id="bulkcheck-1"
                                    name="si-swabb">
                                  <label class="custom-control-label" for="bulkcheck-1"></label>
                                </div>
                              </td> -->
                              <td>{{data?.patientCode | decrypted}}</td>
                              <td>
                              <a *ngIf="updatePatientAction != true"  class="">{{data?.firstName | decrypted}}</a>
                              <a *ngIf="updatePatientAction == true" [routerLink]="" (click)="gotoEditPatient(data?.patientId)" class="">{{data?.patientFirstName | decrypted}}</a>
                              <!-- <a *ngIf="updatePatientAction == true" routerLink="/edit-patient/{{data?.patientId}}/1" class="">{{data?.firstName}}</a> -->
                              </td>
                              <!-- <td><a routerLink="/edit-patient/{{data?.patientId}}/1" [queryParams]="{from: 1}" class="">{{data?.firstName}}</a></td> -->
                              <!-- <td><a routerLink="/edit-patient/{{data?.patientId}};from=1" class="">{{data?.firstName}}</a></td> -->
                              <td>{{data?.patientLastName | decrypted}}</td>
                              <td>{{data?.patientDateOfBirth | date:'MM/dd/yyyy'}}</td>
                              <td *ngIf="data?.hasOwnProperty('patientSsn') == false" >Not provided</td>
                              <td *ngIf="data?.hasOwnProperty('patientSsn') == true" >{{data?.patientSsn | decrypted}}</td>
                              <td *ngIf="data?.hasOwnProperty('patientPhoneNumber') == true">{{data?.patientPhoneNumber | decrypted}}</td>
                              <td *ngIf="data?.hasOwnProperty('patientPhoneNumber') == false">Not Provided</td>
                              <td>{{data?.clientName}}</td>
                              <td>{{data?.lastSpecimenCollected}} at {{data?.collectionDate | date:'MM/dd/yyyy a'}}</td>
                              <!-- <td *ngIf="data?.hasOwnProperty('lastCollected') == true" >{{data?.lastCollected}}</td>
                              <td *ngIf="data?.hasOwnProperty('lastCollected') == false">No Specimen Collected</td> -->
                              <!-- <td>NP collected by Ahmad At 08-05-2020-06-23-PM</td> -->
                              <td appRbac featureCode="PNTA-CS">
                                <a *ngIf="data?.status == 1 && data?.clientRequisitionType == 'True'"  (click)="createMinCase(data?.patientId, data?.clientId, data?.collectedBy, data?.collectionDate, 2, data?.patientLastName, data?.patientFirstName, data?.patientDateOfBirth ,'NP', data?.clientName)" [routerLink]=""  class="btn btn-sm submit-button ">NP</a>
                                <a *ngIf="data?.status == 1 && data?.clientRequisitionType == 'True'" (click)="createMinCase(data?.patientId, data?.clientId, data?.collectedBy, data?.collectionDate, 1, data?.patientLastName, data?.patientFirstName, data?.patientDateOfBirth ,'N', data?.clientName)" [routerLink]=""  class="btn btn-sm submit-button ">N</a>
                                <a *ngIf="data?.status == 1 && data?.clientRequisitionType == 'True'" (click)="createMinCase(data?.patientId, data?.clientId, data?.collectedBy, data?.collectionDate, 0, data?.patientLastName, data?.patientFirstName, data?.patientDateOfBirth ,'OP', data?.clientName)" [routerLink]=""  class="btn btn-sm submit-button ">O</a>
                                <!-- <a class="btn btn-success text-white btn-sm" data-toggle="modal" data-target="#spec-collectionhistory-Modal"
                                        title="Specimen Collection History"><i class="fa fa-clock-o"></i></a> -->

                              </td>
                              <td appRbac featureCode="PNTA-CH">
                                <a *ngIf="data?.clientRequisitionType == 'True'" class="btn btn-success text-white btn-sm" (click)="caseBypatientId(data?.patientId,data?.patientFirstName,data?.patientLastName,data?.patientDateOfBirth)"
                                        title="Specimen Collection History"><i class="fa fa-clock-o"></i></a>
                              </td>
                              <td>
                                <a  class=""><i class="fa fa-clock-o text-info"
                                    title="view clinical history"></i></a>
                                <a appRbac featureCode="PNTA-MRP" class=""><i class="fa fa-code-fork " title="Merge"></i></a>
                                <!-- <a appRbac featureCode="PNTA-MRP" (click)="showMergeTable(1)" [routerLink]="" class=""><i class="fa fa-code-fork " title="Merge"></i></a> -->
                                <!-- <a [routerLink]="" (click)="patientToDisable = data?.patientId" class="" data-toggle="modal" data-target="#deactivateModal"
                                  title="Deactivate"><i class="fa fa-ban text-danger"></i></a> -->
                                  <a *ngIf="data?.status == 0" appRbac featureCode="PNTA-ADP" [routerLink]="" (click)="toggleActiveClient(true,data?.patientId, i)" class=""
                                    title="Activate"><i class="fa fa-check-circle text-info"></i></a>
                                    <a *ngIf="data?.status == 1" appRbac featureCode="PNTA-ADP"  [routerLink]="" (click)="toggleActiveClient(false,data?.patientId, i)" class=""
                                      title="Deactivate"><i class="fa fa-ban text-danger"></i></a>
                              </td>
                            </tr>



                          </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div role="tabpanel" class="tab-pane" id="eligible_patientstab"  appRbac featureCode="PNTA-VEP">
                  <div class="card shadow  mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                      <h6 class="m-0 font-weight-bold float-left">Manage Patients</h6>
                      <div class="dropdown no-arrow">
                        <a class="btn btn-sm submit-button pull-right " appRbac featureCode="PNTA-EP" (click)="exportPatient('el')" target="_blank">Export
                          Patients</a>
                        <a  appRbac featureCode="PNTA-CI" href="#" class="btn btn-sm submit-button pull-right mr-2">Check</a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" id="patient-eligible" class="table table-sm table-hover table-bordered"
                          style="width:100%">
                          <thead>
                            <tr>
                              <th class="text-center">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input"  id="bulkcheck-all"
                                    name="si-swabb">
                                  <label class="custom-control-label" for="bulkcheck-all"></label>
                                </div>
                              </th>
                              <th>Patient ID</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Date of Birth</th>
                              <th>SSN</th>
                              <th>Phone No</th>
                              <th>Client</th>
                              <th>Insurance ID</th>
                              <th  appRbac featureCode="PNTA-CI"></th>
                              <th>Insurance Company</th>
                              <th>Sex</th>
                              <th>Trizetto Code</th>
                              <th>Reject Reason</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of eligiblePatients; let i = index">
                              <td align="center">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input"  id="bulkcheck-1"
                                    name="si-swabb">
                                  <label class="custom-control-label" for="bulkcheck-1"></label>
                                </div>
                              </td>
                              <td>{{data?.patientCode}}</td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.firstName}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.lasttName}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.dateOfBirth}}"></td>
                              <td *ngIf="data?.ssn == ''" >Not provided</td>
                              <td *ngIf="data?.ssn != ''" >{{data?.ssn}}</td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.phone}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.clientId}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="987654321"></td>
                              <td appRbac featureCode="PNTA-CI"><a href="#" class="btn btn-sm submit-button">Check</a></td>
                              <td><input type="text" class="form-control-plaintext"  value="AARP Medicare Supplement"></td>
                              <td><input type="text" class="form-control-plaintext"  value="Male"></td>
                              <td><input type="text" class="form-control-plaintext"  value="ABC123"></td>
                              <td>Reason</td>
                              <td>
                                <a appRbac featureCode="PNTA-UP" routerLink="/edit-patient/{{data?.patientId}}/1" class=""><i class="fa fa-edit text-info"
                                  title="Edit"></i></a>
                                <a href="view-patient.html" class=""><i class="fa fa-clock-o text-info"
                                    title="view clinical history"></i></a>
                                <a appRbac featureCode="PNTA-MRP" (click)="showMergeTable(1)" [routerLink]="" class=""><i class="fa fa-code-fork " title="Merge"></i></a>
                                <a appRbac featureCode="PNTA-ADP" [routerLink]="" (click)="patientToDisable = data?.patientId" class="" data-toggle="modal" data-target="#deactivateModal"
                                  title="Deactivate"><i class="fa fa-ban text-danger"></i></a>
                              </td>
                            </tr>



                          </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="noneligible_patientstab"  appRbac featureCode="PNTA-VEP">
                  <div class="card shadow  mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                      <h6 class="m-0 font-weight-bold float-left">Manage Patients</h6>
                      <div class="dropdown no-arrow">
                        <a class="btn btn-sm submit-button pull-right " appRbac featureCode="PNTA-EP" (click)="exportPatient('non')" target="_blank">Export
                          Patients</a>
                        <a appRbac featureCode="PNTA-CI" href="#" class="btn btn-sm submit-button pull-right mr-2">Check</a>
                      </div>
                    </div>
                   <div class="card-body">
                      <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger" id="patient-noneligible" class="table table-sm table-hover table-bordered"
                          style="width:100%">
                          <thead>
                            <tr>
                              <th class="text-center">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input"  id="bulkchecknon-all"
                                    name="si-swabb">
                                  <label class="custom-control-label" for="bulkchecknon-all"></label>
                                </div>
                              </th>
                              <th>Patient ID</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Date of Birth</th>
                              <th>SSN</th>
                              <th>Phone No</th>
                              <th>Client</th>
                              <th>Insurance ID</th>
                              <th appRbac featureCode="PNTA-CI"></th>
                              <th>Insurance Company</th>
                              <th>Sex</th>
                              <th>Trizetto Code</th>
                              <th>Reject Reason</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of eligiblePatients; let i = index">
                              <td align="center">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                  <input type="checkbox" class="custom-control-input"  id="bulkcheck-1"
                                    name="si-swabb">
                                  <label class="custom-control-label" for="bulkcheck-1"></label>
                                </div>
                              </td>
                              <td>{{data?.patientCode}}</td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.firstName}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.lasttName}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.dateOfBirth}}"></td>
                              <td *ngIf="data?.ssn == ''" >Not provided</td>
                              <td *ngIf="data?.ssn != ''" >{{data?.ssn}}</td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.phone}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="{{data?.clientId}}"></td>
                              <td><input type="text" class="form-control-plaintext"  value="987654321"></td>
                              <td appRbac featureCode="PNTA-CI"><a href="#" class="btn btn-sm submit-button">Check</a></td>
                              <td><input type="text" class="form-control-plaintext"  value="AARP Medicare Supplement"></td>
                              <td><input type="text" class="form-control-plaintext"  value="Male"></td>
                              <td><input type="text" class="form-control-plaintext"  value="ABC123"></td>
                              <td>Reason</td>
                              <td>
                                <a appRbac featureCode="PNTA-UP" routerLink="/edit-patient/{{data?.patientId}};from=1" class=""><i class="fa fa-edit text-info"
                                  title="Edit"></i></a>
                                <a href="view-patient.html" class=""><i class="fa fa-clock-o text-info"
                                    title="view clinical history"></i></a>
                                <a appRbac featureCode="PNTA-MRP" (click)="showMergeTable(1)" [routerLink]="" class=""><i class="fa fa-code-fork " title="Merge"></i></a>
                                <a appRbac featureCode="PNTA-ADP" [routerLink]="" (click)="patientToDisable = data?.patientId" class="" data-toggle="modal" data-target="#deactivateModal"
                                  title="Deactivate"><i class="fa fa-ban text-danger"></i></a>
                              </td>
                            </tr>




                          </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>

            </div>
          </div>

          <!-- Content Row -->

          <!-- merge Patient row -->
          <div class="row" *ngIf="mergeView">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="bg-success mt-2  p-3">
                <p class="m-0 text-white"><b>Primary Patient</b> : Ali Ahmed , <b>D.O.B</b> : 15-03-1993 , <b>Patient ID</b> : Pt-01</p>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                  <h6 class="m-0 font-weight-bold float-left">Merge Patients</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table datatable id="patient" class="table table-sm table-hover table-bordered" style="width:100%">
                      <thead>
                        <tr>

                          <th>Patient ID</th>
                          <th>SSN</th>
                          <th>Patient Name</th>
                          <th>Phone No</th>
                          <th>Client</th>
                          <th>Date of Birth</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>

                          <td>Pt-01</td>
                          <td>4162154544</td>
                          <td><a routerLink="/edit-patient/1/1" class="">Ali Ahmad</a></td>
                          <td>+1 245 432432436</td>
                          <td>Cairo</td>
                          <td>05-02-1997</td>
                          <td>
                            <a href="view-patient.html" class=""><i class="fa fa-clock-o text-info"
                                title="view clinical history"></i></a>
                            <a class="" data-toggle="modal" data-target="#mergeModal"><i class="fa fa-code-fork " title="Merge" ></i></a>
                            <a href="#" class="" data-toggle="modal" data-target="#deactivateModal"
                              title="Deactivate"><i class="fa fa-ban text-danger"></i></a>
                          </td>
                        </tr>
                        <tr>

                          <td>Pt-02</td>
                          <td>4162154544</td>
                          <td><a routerLink="/edit-patient/1/1" class="">Ali Hamad</a></td>
                          <td>+1 245 432432436</td>
                          <td>Cairo</td>
                          <td>05-02-1997</td>
                          <td>
                            <a href="view-patient.html" class=""><i class="fa fa-clock-o text-info"
                                title="view clinical history"></i></a>
                            <a class="" data-toggle="modal" data-target="#mergeModal"><i class="fa fa-code-fork " title="Merge" ></i></a>
                            <a href="#" class="" data-toggle="modal" data-target="#deactivateModal"
                              title="Deactivate"><i class="fa fa-ban text-danger"></i></a>
                          </td>
                        </tr>
                        <tr>

                          <td>Pt-03</td>
                          <td>4162154544</td>
                          <td><a routerLink="/edit-patient/1/1" class="">Ali Haider</a></td>
                          <td>+1 245 432432436</td>
                          <td>Cairo</td>
                          <td>05-02-1997</td>
                          <td>
                            <a href="view-patient.html" class=""><i class="fa fa-clock-o text-info"
                                title="view clinical history"></i></a>
                            <a appRbac featureCode="PNTA-MRP" class="" data-toggle="modal" data-target="#mergeModal"><i class="fa fa-code-fork " title="Merge" ></i></a>
                            <a appRbac featureCode="PNTA-ADP" href="#" class="" data-toggle="modal" data-target="#deactivateModal"
                              title="Deactivate"><i class="fa fa-ban text-danger"></i></a>
                          </td>
                        </tr>


                      </tbody>

                    </table>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <!-- merge Patient row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <div *ngIf ="fromtClient != true">
        <app-footer></app-footer>
      </div>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    <div class="modal fade" id="import-registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="form-heading">
            <p>Registration Link - Bulk Send</p>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Attach Files <span class="text-danger">*</span></label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" multiple id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>

                <!-- <input type="file" class="form-control" multiple id=""> -->
              </div>
              <!-- <span class="small">Max Size 1MB , Excel file allowed</span> -->
              <p class="mt-4 ">Sample file :<a href="assets/img/patients.xlsx" > Click here to download</a></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn submit-button btn-sm mr-2" href="all-clients.html">Send</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newswab-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send to Printer</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/img/new-slab.png">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="import-successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Import Patients</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{successCount}} records imported successfully. {{failureCount}} record(s) were not imported, see excel file for details</p>
          <a [href]="successFileURL" class="text-success" download><i class="fa fa-2x  fa-file-excel-o"
              title="Click to download"></i></a>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-sm" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="form-heading">
            <p>Import Patients</p>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Attach Files <span class="text-danger">*</span></label>
              <div class="input-group">
                <input (change)="onFileSelect($event.target)" id="importPatientFIle" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" type="file" class="form-control selectPicture">

                <!-- <div class="custom-file">
                  <input type="file" class="custom-file-input" multiple id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div> -->

                <!-- <input type="file" class="form-control" multiple id=""> -->
              </div>
              <span class="small">Max Size 1MB , Excel file allowed</span>
              <p class="mt-4 ">Sample file :<a href="assets/img/patients.xlsx" > Click here to download</a></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Cancel</button>
          <!-- <a class="btn submit-button btn-sm mr-2" data-toggle="modal" data-dismiss="modal" data-target="#import-successModal">Import</a> -->
          <a class="btn submit-button btn-sm mr-2" (click)="importPatient()">Import</a>
        </div>
      </div>
    </div>
  </div>
  <!-- deactivate Modal-->
  <div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Deactivate</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Ready to deactivate patient?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn submit-button" (click)="deactivatePatient()">Deactivate</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="spec-collectionhistory-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Speciman Collection History</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table id="spec-col-history" datatable [dtOptions]="dtOptions[3]" [dtTrigger]="dtTrigger" class="table table-sm table-hover table-bordered"
              style="width:100%">
              <thead>
                <tr>
                  <th>Case No</th>
                  <th>Client Name</th>
                  <th>Collection Date</th>
                  <th>Collected By</th>
                  <th>Status </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of slectedPatientCases; let i = index;" >
                  <td>
                    <a *ngIf="item?.caseStatusId == 1"  href="{{item?.caseUrl}}" target="_blank">Not Generated</a>
                    <a *ngIf="item?.caseStatusId != 1"  href="{{item?.caseUrl}}" target="_blank">{{item?.caseNumber}}</a>
                  </td>
                  <td>{{item?.clientName}}</td>
                  <td>{{item?.collectionDate | date:'MM-dd-yyyy HH:mm'}}</td>
                  <td *ngIf="item?.collectedBy == 1" >siP</td>
                  <td *ngIf="item?.collectedBy == 2" >Client</td>
                  <td *ngIf="item?.caseStatusId == 1" >Draft</td>
                  <td *ngIf="item?.caseStatusId == 2">Accessioned</td>
                  <td *ngIf="item?.caseStatusId == 3">Triaged</td>
                  <td *ngIf="item?.caseStatusId == 4">In Progress</td>
                  <td *ngIf="item?.caseStatusId == 5">Partial Under Reporting</td>
                  <td *ngIf="item?.caseStatusId == 6">Under Reporting</td>
                  <td *ngIf="item?.caseStatusId == 7">Partial Signed Off</td>
                  <td *ngIf="item?.caseStatusId == 8">Signed Off</td>
                  <td *ngIf="item?.caseStatusId == 9">Partial Delivered</td>
                  <td *ngIf="item?.caseStatusId == 10">Delivered</td>
                  <td *ngIf="item?.caseStatusId == 11">Cancelled</td>
                  <td>
                    <a *ngIf="item?.caseStatusId != 1" [routerLink]="" (click)="printLabel(item?.caseNumber, item?.pLname, item?.pFname, item?.pDob,item?.caseSpecimen[0].specimenPrefix, item?.clientName, item?.clientId)"  data-target="#specimenlabel-Modal" data-toggle="modal" class="ml-1"><i class="fa fa-print" title="Print Label"></i></a>
                    <a *ngIf="item?.caseStatusId == 1" [routerLink]="" disabled  data-target="#pecimenlabel-Modal" data-toggle="modal" class="ml-1"><i class="fa fa-print" title="Print Label"></i></a>
                    <a href="#" appRbac featureCode="PNTA-SCH"  data-target="#spec-labelhistory-Modal" data-toggle="modal" class="ml-1"><i class="fa fa-clock-o" title="Label Print History"></i></a>
                  </td>
                </tr>


              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="newswab-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send to Printer</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/img/new-slab.png">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mergeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-siteblue" id="deactivate">Merge Patient</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
                <p class="mb-1 font-weight-bold">Primary Patient</p>
                <div class="table-responsive">
                  <table class="table table-sm table-hover table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>Title No</th>
                            <th>Value</th>
                            <th align="center">

                            </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>SSN</td>
                          <td>12321</td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check1" name="primary-secondary1" value="">
                              <label class="custom-control-label" for="primary-check1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Med Rec # / Patient ID</td>
                          <td>Pt-01</td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check2" name="primary-secondary2" value="">
                              <label class="custom-control-label" for="primary-check2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td>Ahmed</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check3" name="primary-secondary3" value="">
                              <label class="custom-control-label" for="primary-check3"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>First Name</td>
                          <td>Ali</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check4" name="primary-secondary4" value="">
                              <label class="custom-control-label" for="primary-check4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Middle Name</td>
                          <td></td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check5" name="primary-secondary5" value="">
                              <label class="custom-control-label" for="primary-check5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>15-3-1994</td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check6" name="primary-secondary6" value="">
                              <label class="custom-control-label" for="primary-check6"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>siparadigm@gmail.com</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check7" name="primary-secondary7" value="">
                              <label class="custom-control-label" for="primary-check7"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Phone No</td>
                          <td>14141312</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check8" name="primary-secondary8" value="">
                              <label class="custom-control-label" for="primary-check8"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Policy Number</td>
                          <td>534</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check9" name="primary-secondary9" value="">
                              <label class="custom-control-label" for="primary-check9"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Insurance Company </td>
                          <td>A</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check10" name="primary-secondary10" value="">
                              <label class="custom-control-label" for="primary-check10"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Level of Service</td>
                          <td>ABC</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check11" name="primary-secondary11" value="">
                              <label class="custom-control-label" for="primary-check11"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Street Address</td>
                          <td>Street nafees Arcade</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check12" name="primary-secondary12" value="">
                              <label class="custom-control-label" for="primary-check12"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Suite/Floor/Building</td>
                          <td>Building No 2</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check14" name="primary-secondary14" value="">
                              <label class="custom-control-label" for="primary-check14"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>Pakistan</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check15" name="primary-secondary15" value="">
                              <label class="custom-control-label" for="primary-check15"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>State/Province</td>
                          <td>Punjab</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check16" name="primary-secondary16" value="">
                              <label class="custom-control-label" for="primary-check16"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>Islamabad</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check17" name="primary-secondary17" value="">
                              <label class="custom-control-label" for="primary-check17"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Zip/Postal Code</td>
                          <td>213213</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check18" name="primary-secondary18" value="">
                              <label class="custom-control-label" for="primary-check18"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>

                  </table>
                </div>
            </div>
            <div class="col-md-6">
                <p class="mb-1 font-weight-bold">Secondary Patient</p>
                <div class="table-responsive">
                  <table class="table table-sm table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Title No</th>
                            <th>Value</th>
                            <th align="center">

                            </th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>SSN</td>
                          <td>635345</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio"  class="custom-control-input" id="secondary-check1" name="primary-secondary1" value="">
                              <label class="custom-control-label" for="secondary-check1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Med Rec # / Patient ID</td>
                          <td>5435</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check2" name="primary-secondary2" value="">
                              <label class="custom-control-label" for="secondary-check2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td>Haider</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check3" name="primary-secondary3" value="">
                              <label class="custom-control-label" for="secondary-check3"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>First Name</td>
                          <td>Ali</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check4" name="primary-secondary4" value="">
                              <label class="custom-control-label" for="secondary-check4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Middle Name</td>
                          <td></td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check5" name="primary-secondary5" value="">
                              <label class="custom-control-label" for="secondary-check5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>3-12-1991</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check6" name="primary-secondary6" value="">
                              <label class="custom-control-label" for="secondary-check6"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>siparadigm@gmail.com</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check7" name="primary-secondary7" value="">
                              <label class="custom-control-label" for="secondary-check7"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Phone No</td>
                          <td>53453234</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check8" name="primary-secondary8" value="">
                              <label class="custom-control-label" for="secondary-check8"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Policy Number</td>
                          <td>345</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check9" name="primary-secondary9" value="">
                              <label class="custom-control-label" for="secondary-check9"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Insurance Company </td>
                          <td>B</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check10" name="primary-secondary10" value="">
                              <label class="custom-control-label" for="secondary-check10"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Level of Service</td>
                          <td>XYZ</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check11" name="primary-secondary11" value="">
                              <label class="custom-control-label" for="secondary-check11"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Street Address</td>
                          <td>Street 2</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check12" name="primary-secondary12" value="">
                              <label class="custom-control-label" for="secondary-check12"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Suite/Floor/Building</td>
                          <td>Building 3</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check14" name="primary-secondary14" value="">
                              <label class="custom-control-label" for="secondary-check14"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>USA</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check15" name="primary-secondary15" value="">
                              <label class="custom-control-label" for="secondary-check15"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>State/Province</td>
                          <td>newyork</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check16" name="primary-secondary16" value="">
                              <label class="custom-control-label" for="secondary-check16"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>newyork</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check17" name="primary-secondary17" value="">
                              <label class="custom-control-label" for="secondary-check17"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Zip/Postal Code</td>
                          <td>45254</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check18" name="primary-secondary18" value="">
                              <label class="custom-control-label" for="secondary-check18"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
         <p> Do you want to merge this Primary Patient with Secondary Patient?
          </p>
          <p>Note: The Secondary Patient profile will be deleted after merge operation, and would no longer be accessible
            </p>
         </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn submit-button" data-toggle="modal" data-target="#merge-confirmModal"  href="#">Merge</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="merge-confirmModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deactivate">Merge</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <p>Do you want to merge this Primary Patient with Secondary Patient?</p>
          <p><span class="text-danger">Note:</span> The Secondary Patient profile will be deleted after merge operation, and would no longer be accessible</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn submit-button" href="all-patients.html">Merge</a>
          </div>
        </div>
      </div>
    </div>
  <!-- deactivate Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Delete</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Ready to delete patient?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn submit-button" href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="spec-collectionhistory-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Case History</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered"
              style="width:100%">
              <thead>
                <tr>
                  <th>Specimen</th>
                  <th>Date/Time-Users</th>
                  <th>Collected By</th>
                  <th>Cancel </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>NP</td>
                  <td>08-05-2020/06-23-PM-Ahmed</td>
                  <td>
                    <div class="input-group">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="collect-by-si" checked name="collect-by" value="">
                        <label class="custom-control-label" for="collect-by-si">siParadigm</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="collect-by-client" name="collect-by" value="">
                        <label class="custom-control-label" for="collect-by-client">Client</label>
                      </div>
                    </div>
                  </td>
                  <td>Cancelled</td>
                </tr>
                <tr>
                  <td>N</td>
                  <td>08-05-2020/06-23-PM-Hamad</td>
                  <td>
                    <div class="input-group">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="collect-by-si2" name="collect-by2" value="">
                        <label class="custom-control-label" for="collect-by-si2">siParadigm</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="collect-by-client2" checked name="collect-by2" value="">
                        <label class="custom-control-label" for="collect-by-client2">Client</label>
                      </div>
                    </div>
                  </td>
                  <td><a class="btn submit-button btn-sm">Cancel</a></td>
                </tr>
                <tr>
                  <td>O</td>
                  <td>08-05-2020/06-23-PM-Ali</td>
                  <td>
                    <div class="input-group">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="collect-by-si3" checked name="collect-by3" value="">
                        <label class="custom-control-label" for="collect-by-si3">siParadigm</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="collect-by-client3" name="collect-by3" value="">
                        <label class="custom-control-label" for="collect-by-client3">Client</label>
                      </div>
                    </div>
                  </td>
                  <td><a class="btn submit-button btn-sm">Cancel</a></td>
                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="newswab-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send to Printer</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/img/new-slab.png">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mergeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-siteblue" id="deactivate">Merge Patient</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
                <p class="mb-1 font-weight-bold">Primary Patient</p>
                <div class="table-responsive">
                  <table class="table table-sm table-hover table-bordered" style="width:100%">
                      <thead>
                          <tr>
                            <th>Title No</th>
                            <th>Value</th>
                            <th align="center">

                            </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>SSN</td>
                          <td>12321</td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check1" name="primary-secondary1" value="">
                              <label class="custom-control-label" for="primary-check1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Med Rec # / Patient ID</td>
                          <td>Pt-01</td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check2" name="primary-secondary2" value="">
                              <label class="custom-control-label" for="primary-check2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td>Ahmed</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check3" name="primary-secondary3" value="">
                              <label class="custom-control-label" for="primary-check3"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>First Name</td>
                          <td>Ali</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check4" name="primary-secondary4" value="">
                              <label class="custom-control-label" for="primary-check4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Middle Name</td>
                          <td></td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check5" name="primary-secondary5" value="">
                              <label class="custom-control-label" for="primary-check5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>15-3-1994</td>
                          <td align="center">
                            <div class="custom-control custom-radio ">
                              <input checked type="radio" class="custom-control-input" id="primary-check6" name="primary-secondary6" value="">
                              <label class="custom-control-label" for="primary-check6"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>siparadigm@gmail.com</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check7" name="primary-secondary7" value="">
                              <label class="custom-control-label" for="primary-check7"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Phone No</td>
                          <td>14141312</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check8" name="primary-secondary8" value="">
                              <label class="custom-control-label" for="primary-check8"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Policy Number</td>
                          <td>534</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check9" name="primary-secondary9" value="">
                              <label class="custom-control-label" for="primary-check9"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Insurance Company </td>
                          <td>A</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check10" name="primary-secondary10" value="">
                              <label class="custom-control-label" for="primary-check10"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Level of Service</td>
                          <td>ABC</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check11" name="primary-secondary11" value="">
                              <label class="custom-control-label" for="primary-check11"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Street Address</td>
                          <td>Street nafees Arcade</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check12" name="primary-secondary12" value="">
                              <label class="custom-control-label" for="primary-check12"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Suite/Floor/Building</td>
                          <td>Building No 2</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check14" name="primary-secondary14" value="">
                              <label class="custom-control-label" for="primary-check14"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>Pakistan</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check15" name="primary-secondary15" value="">
                              <label class="custom-control-label" for="primary-check15"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>State/Province</td>
                          <td>Punjab</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check16" name="primary-secondary16" value="">
                              <label class="custom-control-label" for="primary-check16"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>Islamabad</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check17" name="primary-secondary17" value="">
                              <label class="custom-control-label" for="primary-check17"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Zip/Postal Code</td>
                          <td>213213</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input checked type="radio" class="custom-control-input" id="primary-check18" name="primary-secondary18" value="">
                              <label class="custom-control-label" for="primary-check18"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>

                  </table>
                </div>
            </div>
            <div class="col-md-6">
                <p class="mb-1 font-weight-bold">Secondary Patient</p>
                <div class="table-responsive">
                  <table class="table table-sm table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Title No</th>
                            <th>Value</th>
                            <th align="center">

                            </th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>SSN</td>
                          <td>635345</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio"  class="custom-control-input" id="secondary-check1" name="primary-secondary1" value="">
                              <label class="custom-control-label" for="secondary-check1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Med Rec # / Patient ID</td>
                          <td>5435</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check2" name="primary-secondary2" value="">
                              <label class="custom-control-label" for="secondary-check2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Last Name</td>
                          <td>Haider</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check3" name="primary-secondary3" value="">
                              <label class="custom-control-label" for="secondary-check3"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>First Name</td>
                          <td>Ali</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check4" name="primary-secondary4" value="">
                              <label class="custom-control-label" for="secondary-check4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Middle Name</td>
                          <td></td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check5" name="primary-secondary5" value="">
                              <label class="custom-control-label" for="secondary-check5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>3-12-1991</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check6" name="primary-secondary6" value="">
                              <label class="custom-control-label" for="secondary-check6"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>siparadigm@gmail.com</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check7" name="primary-secondary7" value="">
                              <label class="custom-control-label" for="secondary-check7"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Phone No</td>
                          <td>53453234</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check8" name="primary-secondary8" value="">
                              <label class="custom-control-label" for="secondary-check8"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Policy Number</td>
                          <td>345</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check9" name="primary-secondary9" value="">
                              <label class="custom-control-label" for="secondary-check9"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Insurance Company </td>
                          <td>B</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check10" name="primary-secondary10" value="">
                              <label class="custom-control-label" for="secondary-check10"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Level of Service</td>
                          <td>XYZ</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check11" name="primary-secondary11" value="">
                              <label class="custom-control-label" for="secondary-check11"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Street Address</td>
                          <td>Street 2</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check12" name="primary-secondary12" value="">
                              <label class="custom-control-label" for="secondary-check12"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Suite/Floor/Building</td>
                          <td>Building 3</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check14" name="primary-secondary14" value="">
                              <label class="custom-control-label" for="secondary-check14"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td>USA</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check15" name="primary-secondary15" value="">
                              <label class="custom-control-label" for="secondary-check15"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>State/Province</td>
                          <td>newyork</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check16" name="primary-secondary16" value="">
                              <label class="custom-control-label" for="secondary-check16"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td>newyork</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check17" name="primary-secondary17" value="">
                              <label class="custom-control-label" for="secondary-check17"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Zip/Postal Code</td>
                          <td>45254</td>
                          <td align="center">
                            <div class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="secondary-check18" name="primary-secondary18" value="">
                              <label class="custom-control-label" for="secondary-check18"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
         <p> Do you want to merge this Primary Patient with Secondary Patient?
          </p>
          <p>Note: The Secondary Patient profile will be deleted after merge operation, and would no longer be accessible
            </p>
         </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn submit-button" data-toggle="modal" data-target="#merge-confirmModal"  href="#">Merge</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="merge-confirmModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deactivate">Merge</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
          <p>Do you want to merge this Primary Patient with Secondary Patient?</p>
          <p><span class="text-danger">Note:</span> The Secondary Patient profile will be deleted after merge operation, and would no longer be accessible</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn submit-button" href="all-patients.html">Merge</a>
          </div>
        </div>
      </div>
    </div>
  <!-- deactivate Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Delete</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Ready to delete patient?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn submit-button" href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="successcreate-modal" tabindex="-1" role="dialog" aria-labelledby="successcreate-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success" id="successcreate-modal-h5">Success</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Case No: <a target="_blank" href="{{caseUrl}}">{{printedCaseNumber}}</a> has been created successfully for specimen Type: <b>{{printedCaseCategory}}</b></div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-warning" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="specimenlabel-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Printed successfully</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <p>Case No: <a routerLink="/edit-case/{{printedCaseNumber}">NV20-0010</a> has been created successfully</p> -->
      <!-- <img src="assets/img/label-print.jpg" width="100%"> -->
    </div>
  </div>
</div>
</div>
