<!-- Sidebar -->
<!-- <app-sidebar></app-sidebar> -->
<!-- End of Sidebar -->
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->

                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <nav aria-label="breadcrumb navbar-light bg-light">
                    <ol class="breadcrumb breadcrumb-arrow">
                        <li class="small"><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                        <li class="small active"><span>Change Password</span></li>
                    </ol>
                </nav>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  <notifier-container></notifier-container>
                    <div class="row mt-5">
                        <div class="col-xl-12 col-lg-12">
                            <!-- Page Heading -->
                            <div class="card shadow mt-4 mb-2">
                                <form [formGroup]="passwordForm" (submit)="updatePassword()">
                                    <div
                                        class="card-header d-flex justify-content-between align-items-center flex-row ">
                                        <h6 class="m-0 font-weight-bold float-left">Change Password</h6>
                                        <div class="form-group dropdown no-arrow">
                                            <button type="submit" class="btn submit-button float-right ">Change</button>
                                            <a routerLink="/dashboard" class="btn btn-warning float-right mr-2">Cancel</a>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="input-ch-password" class="col-sm-2 col-form-label">Current
                                                Password <span class="text-danger">*</span></label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" required formControlName="currentPassword" name="currentPassword"
                                                    placeholder="Current Password" id="input-ch-password"
                                                    [(ngModel)]="oldPassword" minlength="8" maxlength="50"
                                                    [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }">
                                                    <div *ngIf="submitted && f.currentPassword.errors?.required" class="invalid-feedback">Current Password Required.</div>
                                                    <div *ngIf="submitted && f.currentPassword.errors?.minlength" class="invalid-feedback">Length must be at least 8 characters .</div>
                                                    <div *ngIf="submitted && f.currentPassword.errors?.maxlength" class="invalid-feedback">Length must be less then 50 characters .</div>
                                                    <div *ngIf="wrongCurrentPass" class="invalid-feedback-custom">Provided password is wrong.</div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-ch-newpassword" class="col-sm-2 col-form-label">New
                                                Password <span class="text-danger">*</span></label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" formControlName="NewPassword" name="NewPassword" required
                                                    [(ngModel)]="newPasswordUser" (keyup)="passwordRegex($event)"
                                                    placeholder="New Password" id="input-ch-newpassword" minlength="8" maxlength="50"
                                                    [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }">
                                                    <div *ngIf="submitted && f.NewPassword.errors?.minlength" class="invalid-feedback">Length must be at least 8 characters .</div>
                                                    <div *ngIf="submitted && f.NewPassword.errors?.maxlength" class="invalid-feedback">Length must be less then 50 characters .</div>
                                                    <div *ngIf="submitted && f.NewPassword.errors?.required" class="invalid-feedback">New Password Required.</div>
                                                    <div *ngIf="passwordError == true" class="invalid-feedback-custom"> Password Must contain:
                                                      <ul >
                                                      <li style="font-size: 10px;">Minimum 8 Characters</li>
                                                      <li style="font-size: 10px;">At least 1 Upper, 1 Lower, 1 number, and 1 special character(!@#$&*_).</li>
                                                    </ul>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-ch-password1" class="col-sm-2 col-form-label">Confirm
                                                Password <span class="text-danger">*</span></label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" required
                                                    placeholder="Confirm Password" id="input-ch-password1" formControlName="confirmPassword" name="confirmPassword"
                                                    [(ngModel)]="confirmNewPassword" minlength="8" maxlength="50"
                                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                               <div *ngIf="submitted && f.confirmPassword.errors?.required" class="invalid-feedback">Confirm New Password Required.</div>
                                               <div *ngIf="submitted && f.confirmPassword.errors?.minlength" class="invalid-feedback">Length must be at least 8 characters .</div>
                                               <div *ngIf="submitted && f.confirmPassword.errors?.maxlength" class="invalid-feedback">Length must be less then 50 characters .</div>
                                              <div class="invalid-feedback-custom" *ngIf="submitted && passwordForm.hasError('notSame')">Passwords must Match.</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
