<nav class="navbar navbar-expand navbar-light bg-sired topbar static-top ">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>


  <!-- Topbar Navbar -->
  <a class="navbar-brand" [routerLink]="">
    <img src="assets/img/sip_logo_bluewhite.png" width="130">
  </a>
  <a class="navbar-brand" [routerLink]="">
    <h1>{{orgName}}</h1>
  </a>
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
              aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

    <!-- Nav Item - User Information -->
    <!-- <li class="nav-item nav-custom dropdown">
      <a href="#" class="nav-link" data-toggle="dropdown">
        <span class="ml-2"><i class="fa fa-cog"></i> Settings</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="edit-partner.html">
          <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
          Update [organization name] Profile
        </a>
      </div>
    </li> -->
    <li class="nav-item nav-custom dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline">{{lName}}, {{fName}} ({{userName}})</span>
        <img class="img-profile rounded-circle" *ngIf="logedInUserRoles?.image == ''"  src="assets/img/user.png">
        <img class="img-profile rounded-circle" *ngIf="logedInUserRoles?.image != ''"  src="{{logedInUserRoles?.image}}">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <!-- <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <a class="dropdown-item" href="#">
          <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
          Activity Log
        </a> -->
        <a  appRbac featureCode="USRA-CP" class="dropdown-item" routerLink="/change-password">
          <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
          Change password
        </a>
        <div class="dropdown-divider"></div>
        <a appRbac featureCode="USRA-LO" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>

  </ul>

</nav>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session {{logedInUserRoles.firstName}} {{logedInUserRoles.lastName}}.</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" [routerLink]="" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
