     <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->

            <nav aria-label="breadcrumb navbar-light bg-light">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li class="small"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li class="small"><a href="manage-reports.html">Reports</a></li>
                    <li class="small active"><span>Manage Reports</span></li>
                </ol>
            </nav>

            <!-- End of Topbar -->
            <!-- Page tab -->


            <div class="container-fluid p-2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="container-search">

                          <div class="card mb-2 mt-0">
                            <div class="card-body">
                              <div class="form-row">
                                <div class="form-group col-md-3">
                                  <label>Client</label>
                                  <div class="input-group">
                                    <!-- <select class="custom-select"  id="client-select">
                                      <option>Select Client</option>
                                      <option value="1">Marin Cancer Care</option>
                                      <option value="2">Prockton Hospital</option>
                                    </select> -->
                                    <ng-select
                                    [items]           ="allClientName"
                                    bindLabel         ="clientName"
                                    [virtualScroll]   ="true"
                                    dropdownPosition  ="auto"
                                    #select_client
                                    placeholder       ="Select Client Name"

                                    class             ="form-control"
                                    [multiple]        ="false"
                                    [loading]         ="clientLoading"
                                    (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                                    (change)          ="clientChanged()"
                                    [(ngModel)]       ="clientSearchString" required>
                                  </ng-select>
                                  </div>
                                </div>
                                <div class="form-group col-md-3">
                                  <label>Intake ID</label>
                                  <div class="input-group">
                                    <select class="custom-select" [(ngModel)]="selectedIntakeforClient"  id="intakeid-select" (change)="intakeChange()" [disabled]="disableIntake == true">
                                      <option disabled selected value="null">Intake ID</option>
                                      <option value="none">None</option>
                                      <option *ngFor="let item of allIntakesForClient" value="{{item.intakeId}}">{{item.intakeId}}</option>
                                      <!-- <option value="2">int-12122020-2</option>
                                      <option value="3">int-12122020-3</option> -->
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group col-md-3">
                                  <label>&nbsp;</label>
                                  <div class="input-group">
                                    <button (click)="searchButtonClick()" class="btn add_button mr-2" id="searchci" [disabled]="disableSearchButton == true">Search</button>
                                  </div>
                                </div>
                                <div class="form-group col-md-3">
                                  <label>&nbsp;</label>
                                  <div class="">
                                    <button appRbac featureCode="MRMA-VDH" [disabled]="disableDeliveryHistoryButton == true" (click)="generateBulkReport()" id="dhbtn" class="btn submit-button float-right" title="Delivery History" disabled>View Delivery History <i class="fa fa-clock"></i></button>
                                    <!-- <button [disabled]="disableDeliveryHistoryButton == true" data-toggle="modal" data-target="#delivery-historyModal" id="dhbtn" class="btn submit-button float-right" title="Delivery History" disabled>View Delivery History <i class="fa fa-clock"></i></button> -->
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">

                              </div>
                            </div>
                          </div>
                        </div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" href="#pending_reports" data-toggle="tab" aria-expanded="true">Pending Reports <span class="badge badge-success">{{pendingReportCount}}</span></a>
                            </li>
                            <li class="nav-item">
                              <a (click)="reloadAjax()" class="nav-link" href="#deliverd_batches" data-toggle="tab" aria-expanded="false">Delivered Reports <span class="badge badge-success">{{deliveredReportsCount}}</span>                    </a>
                            </li>
                            <li class="nav-item">
                                <a (click)="reloadAjax()" class="nav-link" href="#notdeliverd_batches" data-toggle="tab" aria-expanded="false">Not Delivered Reports <span class="badge badge-success">{{notDeliveredReportsCount}}</span>                    </a>
                              </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="pending_reports">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                        <h6 class="m-0 font-weight-bold float-left">Manage Reports</h6>
                                        <!-- <div class="form-group dropdown no-arrow">
                                          <a (click)="consolidatedReport(3,2,1,1,'pending')"
                                              class="btn btn-sm submit-button float-right">Send Consolidated Report</a>
                                            <button (click)="detailedReport(2,1,1,1,'pending')"
                                                    class="btn btn-sm submit-button float-right mr-2">Send Detailed Consolidated
                                                    Report</button>
                                            <button (click)="detailedReport(1,1,5,1,'pending')"
                                                class="btn btn-sm submit-button float-right mr-2">Send Multiple reports
                                                compressed</button>
                                          </div> -->
                                          <div class="form-group no-arrow">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                              <input [disabled]="enablePendingReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" checked="false" id="mrc" name="example1" (click)="enableSendButton($event,'pending')" [(ngModel)]="mrc" >
                                              <label class="custom-control-label" for="mrc">Multiple Reports Compressed</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                              <input [disabled]="enablePendingReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" checked="false" id="dcr" name="example1" (click)="enableSendButton($event,'pending')" [(ngModel)]="dcr" >
                                              <label class="custom-control-label" for="dcr">Detailed Consolidated Report</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                              <input [disabled]="enablePendingReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" checked="false" id="cr" name="example1" (click)="enableSendButton($event,'pending')" [(ngModel)]="cr" >
                                              <label class="custom-control-label" for="cr">Consolidated Report</label>
                                            </div>
                                            <button [disabled]="enableButtonPending == false" appRbac featureCode="MRMA-SMR" [routerLink]="" (click)="reportSelection('pending')" class="btn btn-sm submit-button float-right ">Send Report</button>
                                             <!--<a href="#" data-target="#successDconreportModal" data-toggle="modal" class="btn btn-sm submit-button float-right mr-2">Send Detailed Consolidated Report</a>
                                            <a href="img/report.zip" data-target="#successDcompreportModal" data-toggle="modal"  class="btn btn-sm submit-button float-right mr-2">Send Multiple reports compressed</a>
                                            <a  class="btn submit-button float-right mr-2" data-target="#upload-bulkModal" data-toggle="modal">Upload</a> -->
                                          </div>

                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" id="pending_reports"
                                                class="table display table-sm table-hover table-bordered"
                                                style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input (click)="checkallBoxes($event,'pending')" type="checkbox" class="custom-control-input"
                                                                    id="check-all1" name="reportcheck-all1">
                                                                <label class="custom-control-label" for="check-all1"></label>
                                                            </div>
                                                        </th>
                                                        <th>Case #</th>
                                                        <th>Last Name</th>
                                                        <th>First Name</th>
                                                        <th>Date of Birth</th>
                                                        <th>Client Name</th>
                                                        <th>Collection Date</th>
                                                        <th>Collected By</th>

                                                        <th>Interpretation</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot style="display: table-header-group;">
                                                    <tr>
                                                        <th></th>
                                                      <th><input style="display:inline !important;" class="form-control form-control-sm" type="text" id="caseNoSearch" placeholder="Search ID" name="search-id"/></th>
                                                      <th><input class="form-control form-control-sm" type="text" id="pLnameSearch" placeholder="Search last name" name="search-first-name"/></th>
                                                      <th><input class="form-control form-control-sm" type="text" id="pFnameSearch" placeholder="Search first name" name="search-last-name"/></th>
                                                      <th>
                                                        <div class="clearable">
                                                          <input class="form-control form-control-sm" type="date" id="dobFilter" class="form-control form-control-sm">
                                                          <span class="clearable__clear"><i class="fa fa-close "></i></span>
                                                        </div>
                                                      </th>
                                                      <th>
                                                        <!-- <ng-select
                                                        [items]           ="allClientNameSearch"
                                                        bindLabel         ="clientName"
                                                        bindValue         ="clientId"
                                                        [virtualScroll]   ="true"
                                                        dropdownPosition  ="auto"
                                                        #client_name_search
                                                        placeholder       ="Search Client Name"
                                                        class             ="form-control select-control-sm"
                                                        [multiple]        ="false"
                                                        [loading]         ="clientLoadingSearch"
                                                        (change)          = "popSearch()"
                                                        [(ngModel)]       ="cNameforSearch"
                                                        (keyup)           ="clientLoadingSearch = true && [searchTermSearch$.next($event.target.value)]"
                                                        >
                                                      </ng-select>
                                                        <input hidden class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient" placeholder="Search Client" name="search-collected-by"/> -->
                                                        <input class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient" placeholder="Search Client" name="search-collected-by"/>

                                                       </th>
                                                      <th>
                                                        <div class="clearable">
                                                          <input class="form-control form-control-sm" type="date" id="collectionDateFilter" class="form-control form-control-sm">
                                                          <span class="clearable__clear"><i class="fa fa-close "></i></span>
                                                        </div>
                                                      </th>
                                                      <th>
                                                        <select id="collectedBySearch" class="form-control form-control-sm">
                                                          <option selected="" value="">All</option>
                                                          <option value="sip">siP</option>
                                                          <option value="client">client</option>
                                                        </select>
                                                      </th>
                                                      <th>
                                                        <select id="interpretationSearch" class="form-control form-control-sm">
                                                          <option selected="" value="">All</option>
                                                          <option *ngFor="let type of allInterpretation" value="{{type?.value}}" >{{type?.value}}</option>

                                                        </select>
                                                        <!-- <input class="form-control form-control-sm" type="text" id="interpretationSearch" placeholder="Search interpretation" name="search-interpretation"/> -->
                                                      </th>
                                                      <!-- <th></th> -->
                                                      <th></th>
                                                    </tr>
                                                </tfoot>

                                                <tbody>
                                                    <tr *ngFor="let case of pendingReport; let i = index" [ngClass]="{'bgGreen': case?.greenColor == true}" id="TRACTIVE-{{case?.caseId}}">
                                                        <td align="center" >
                                                            <div class="custom-control custom-checkbox">
                                                              <!-- <input type="checkbox" class="custom-control-input" name="nontrades" [checked]="case?.checkBox" (change)="changeCheckBoxes($event,i,case)"> -->
                                                              <input type="checkbox" (change)="changeCheckBoxes($event,i,case,'pending')"
                                                                    class="custom-control-input" [checked]="case?.checkBox" id="check1-{{i}}" name="reportcheck">
                                                                <label class="custom-control-label" for="check1-{{i}}">

                                                                </label>
                                                              </div>
                                                        </td>
                                                        <td *ngIf="case?.caseStatusId == 1"><a  [routerLink]="">No Generated</a>
                                                            <!-- <td *ngIf="case?.caseStatusId == 1"><a (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a> -->
                                                            <td *ngIf="case?.caseStatusId != 1"><a [routerLink]="" (click)="goToEditonCaseNumber(case?.caseNumber)">{{case?.caseNumber}}</a>
                                                        <!-- <td *ngIf="case?.caseStatusId != 1"><a routerLink="/edit-case/{{case?.caseNumber}}/1">{{case?.caseNumber}}</a> -->
                                                        </td>
                                                        <td class="sorting_1">{{case?.patientLastName | decrypted}}</td>
                                                        <td>{{case?.patientFirstName | decrypted}}</td>
                                                        <td>{{case?.patientDateOfBirth | date:'MM/dd/yyyy'}}</td>

                                                        <td>{{case?.clientName}}</td>

                                                        <td *ngIf="case?.collectionDate !== null">{{case?.caseCollectionDate | date:'MM/dd/yyyy hh:mm'}}</td>
                                                        <td *ngIf="case?.collectionDate === null">{{case?.caseCollectionDate}}</td>
                                                        <td >{{case?.caseCollectedBy}}</td>
                                                        <!-- <td *ngIf="case?.collectedBy == 1" >siP</td>
                                                        <td *ngIf="case?.collectedBy == 2" >Client</td> -->
                                                        <td *ngIf="case?.interpretationDiagnosis === null || case?.interpretationDiagnosis == ''">---</td>
                                                        <td *ngIf="case?.interpretationDiagnosis !==null">{{case?.interpretationDiagnosis}}</td>
                                                        <td> <a  appRbac featureCode="MRMA-DRI" [routerLink]="" (click)="downloadReport(4,1,1,1,'pending',case)" class="ml-1"><i
                                                                    class="fa fa-download"
                                                                    title="Download Latest Report"></i></a>
                                                                    <a  appRbac featureCode="MRMA-SRI" [routerLink]="" (click)="detailedReportSingle(4,1,1,1,'pending',case)" class="ml-1"><i
                                                                    class="fa fa-paper-plane" title="Send Reports"></i></a>
                                                        </td>
                                                    </tr>


                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="deliverd_batches">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                        <h6 class="m-0 font-weight-bold float-left">Manage Reports</h6>
                                        <!-- <div class="form-group dropdown no-arrow">
                                          <a (click)="consolidatedReport(3,2,1,1,'delivered')"
                                              class="btn btn-sm submit-button float-right">Send Consolidated Report</a>
                                                <button (click)="detailedReport(2,1,1,1,'delivered')"
                                                    class="btn btn-sm submit-button float-right mr-2">Send Detailed Consolidated
                                                    Report</button>
                                                    <button (click)="detailedReport(1,1,5,1,'delivered')"
                                                        class="btn btn-sm submit-button float-right mr-2">Send Multiple reports
                                                        compressed</button>
                                        </div> -->
                                        <div class="form-group no-arrow">
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input [disabled]="enableDeliveredReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" id="mrc1" (click)="enableSendButton($event,'delivered')" name="example1" [(ngModel)]="mrc1" >
                                            <label class="custom-control-label" for="mrc1">Multiple Reports Compressed</label>
                                          </div>
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input [disabled]="enableDeliveredReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" id="dcr1" (click)="enableSendButton($event,'delivered')" name="example1" [(ngModel)]="dcr1" >
                                            <label class="custom-control-label" for="dcr1">Detailed Consolidated Report</label>
                                          </div>
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input [disabled]="enableDeliveredReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" id="cr1" (click)="enableSendButton($event,'delivered')" name="example1" [(ngModel)]="cr1" >
                                            <label class="custom-control-label" for="cr1">Consolidated Report</label>
                                          </div>
                                          <button [disabled]="enableButtonDelivered == false" appRbac featureCode="MRMA-SMR" [routerLink]="" (click)="reportSelection('delivered')" class="btn btn-sm submit-button float-right ">Send Report</button>
                                          <!-- <a href="#" data-target="#successDreportModal" data-toggle="modal" class="btn btn-sm submit-button float-right ">Send Report</a> -->
                                        </div>

                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" id="delivered_reports"
                                                class="table display table-sm table-hover table-bordered"
                                                style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            <div class="custom-control custom-checkbox">
                                                              <input (click)="checkallBoxes($event,'delivered')" type="checkbox" class="custom-control-input"
                                                                  id="check-all2" name="reportcheck-all2">
                                                              <label class="custom-control-label" for="check-all2"></label>
                                                            </div>
                                                        </th>
                                                        <th>Case #</th>
                                                        <th>Last Name</th>
                                                        <th>First Name</th>
                                                        <th>Date of Birth</th>
                                                        <th>Client Name</th>
                                                        <th>Collection Date</th>
                                                        <th>Collected By</th>

                                                        <th>Interpretation</th>
                                                        <!-- <th appRbac featureCode="MRMA-VDH">Delivery History</th> -->
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot style="display: table-header-group;">
                                                    <tr>
                                                        <th></th>
                                                        <th><input style="display:inline !important;" class="form-control form-control-sm" type="text" id="caseNoSearch2" placeholder="Search ID" name="search-id"/></th>
                                                        <th><input class="form-control form-control-sm" type="text" id="pLnameSearch2" placeholder="Search Last name" name="search-first-name"/></th>
                                                        <th><input class="form-control form-control-sm" type="text" id="pFnameSearch2" placeholder="Search First name" name="search-last-name"/></th>
                                                        <th>
                                                          <div class="clearable">
                                                            <input class="form-control form-control-sm" type="date" id="dobFilter2" class="form-control form-control-sm">
                                                            <span class="clearable__clear"><i class="fa fa-close "></i></span>
                                                          </div>
                                                        </th>
                                                        <th>
                                                          <!-- <ng-select
                                                          [items]           ="allClientNameSearch2"
                                                          bindLabel         ="clientName"
                                                          bindValue         ="clientId"
                                                          [virtualScroll]   ="true"
                                                          dropdownPosition  ="auto"
                                                          #client_name_search
                                                          placeholder       ="Search Client Name"
                                                          class             ="form-control select-control-sm"
                                                          [multiple]        ="false"
                                                          [loading]         ="clientLoadingSearch2"
                                                          (change)          = "popSearch2()"
                                                          [(ngModel)]       ="cNameforSearch2"
                                                          (keyup)           ="clientLoadingSearch2 = true && [searchTermSearch2$.next($event.target.value)]"
                                                          >
                                                        </ng-select>
                                                          <input hidden class="form-control form-control-sm" [(ngModel)]="searchtextHolder2" type="text" id="searchClient2" placeholder="Search Client" name="search-collected-by"/> -->
                                                          <input class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient2" placeholder="Search Client" name="search-collected-by"/>


                                                         </th>
                                                         <th>
                                                          <div class="clearable">
                                                            <input class="form-control form-control-sm" type="date" id="collectionDateFilter2" class="form-control form-control-sm">
                                                            <span class="clearable__clear"><i class="fa fa-close "></i></span>
                                                          </div>
                                                        </th>

                                                        <th>
                                                          <select id="collectedBySearch2" class="form-control form-control-sm">
                                                            <option selected="" value="">All</option>
                                                            <option value="sip">siP</option>
                                                            <option value="client">client</option>
                                                          </select>
                                                        </th>


                                                      <th>
                                                        <select id="interpretationSearch2" class="form-control form-control-sm">
                                                          <option selected="" value="">All</option>
                                                          <option *ngFor="let type of allInterpretation" value="{{type?.value}}" >{{type?.value}}</option>

                                                        </select>
                                                        <!-- <input class="form-control form-control-sm" type="text" id="interpretationSearch2" placeholder="Search interpretation" name="search-interpretation"/> -->
                                                      </th>
                                                      <!-- <th></th> -->
                                                      <th></th>
                                                    </tr>
                                                </tfoot>

                                                <tbody>
                                                  <tr *ngFor="let case of deliveredReports; let i=index" [ngClass]="{'bgGreen': case?.greenColor == true}" role="row" class="odd" id="TRACTIVE-{{case?.caseId}}">
                                                      <td align="center" class="sorting_1">
                                                          <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" (change)="changeCheckBoxes($event,i,case,'delivered')"
                                                                  class="custom-control-input" [checked]="case?.checkBox" id="check2-{{i}}" name="reportcheck">
                                                              <label class="custom-control-label" for="check2-{{i}}">

                                                              </label>
                                                            </div>
                                                      </td>
                                                      <td *ngIf="case?.caseStatusId == 1"><a  [routerLink]="">No Generated</a>
                                                          <!-- <td *ngIf="case?.caseStatusId == 1"><a (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a> -->
                                                          <td *ngIf="case?.caseStatusId != 1"><a [routerLink]="" (click)="goToEditonCaseNumber(case?.caseNumber)">{{case?.caseNumber}}</a>
                                                      <!-- <td *ngIf="case?.caseStatusId != 1"><a routerLink="/edit-case/{{case?.caseNumber}}/1">{{case?.caseNumber}}</a> -->
                                                      </td>
                                                      <td class="sorting_1">{{case?.patientLastName | decrypted}}</td>
                                                      <td>{{case?.patientFirstName | decrypted}}</td>
                                                      <td>{{case?.patientDateOfBirth | date:'MM/dd/yyyy'}}</td>

                                                      <td>{{case?.clientName}}</td>

                                                      <td *ngIf="case?.collectionDate !== null">{{case?.caseCollectionDate | date:'MM/dd/yyyy hh:mm'}}</td>
                                                      <td *ngIf="case?.collectionDate === null">{{case?.caseCollectionDate}}</td>
                                                      <td >{{case?.caseCollectedBy}}</td>
                                                      <!-- <td *ngIf="case?.collectedBy == 1" >siP</td>
                                                      <td *ngIf="case?.collectedBy == 2" >Client</td> -->
                                                      <td *ngIf="case?.interpretationDiagnosis === null || case?.interpretationDiagnosis == ''">---</td>
                                                      <td *ngIf="case?.interpretationDiagnosis !==null">{{case?.interpretationDiagnosis}}</td>
                                                        <!-- <td appRbac featureCode="MRMA-VDH"><a   (click)="showHistory(2,case?.jobOrderId)"
                                                                class="btn btn-sm submit-button" [routerLink]=""><i
                                                                    class="fa fa-clock"></i></a></td> -->
                                                        <td> <a  appRbac featureCode="MRMA-DRI" [routerLink]="" (click)="downloadReport(4,1,1,1,'delivered',case)" class="ml-1"><i
                                                                    class="fa fa-download"
                                                                    title="Download Latest Report"></i></a>
                                                                    <a  appRbac featureCode="MRMA-SRI" [routerLink]="" (click)="detailedReportSingle(4,1,1,1,'delivered',case)" class="ml-1"><i
                                                                    class="fa fa-paper-plane" title="Send Reports"></i></a>
                                                        </td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="notdeliverd_batches">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                        <h6 class="m-0 font-weight-bold float-left">Manage Reports</h6>
                                        <!-- <div class="form-group dropdown no-arrow">
                                          <a (click)="consolidatedReport(3,2,1,1,'notdelivered')"
                                              class="btn btn-sm submit-button float-right">Send Consolidated Report</a>
                                              <button (click)="detailedReport(2,1,1,1,'notdelivered')"
                                                  class="btn btn-sm submit-button float-right mr-2">Send Detailed Consolidated
                                                  Report</button>
                                                    <button (click)="detailedReport(1,1,5,1,'notdelivered')"
                                                        class="btn btn-sm submit-button float-right mr-2">Send Multiple reports
                                                        compressed</button>
                                        </div> -->
                                        <div class="form-group no-arrow">
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input [disabled]="enableNotDeliveredReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" id="mrc2" (click)="enableSendButton($event,'notdelivered')" name="example1" [(ngModel)]="mrc2" >
                                            <label class="custom-control-label" for="mrc2">Multiple Reports Compressed</label>
                                          </div>
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input [disabled]="enableNotDeliveredReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" id="dcr2" (click)="enableSendButton($event,'notdelivered')" name="example1" [(ngModel)]="dcr2" >
                                            <label class="custom-control-label" for="dcr2">Detailed Consolidated Report</label>
                                          </div>
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input [disabled]="enableNotDeliveredReportTypeCheckBoxes == false" type="checkbox" class="custom-control-input" id="cr2" (click)="enableSendButton($event,'notdelivered')" name="example1" [(ngModel)]="cr2" >
                                            <label class="custom-control-label" for="cr2">Consolidated Report</label>
                                          </div>
                                          <button appRbac featureCode="MRMA-SMR" [disabled]="enableButtonNotDelivered == false" [routerLink]="" (click)="reportSelection('notdelivered')" class="btn btn-sm submit-button float-right ">Send Report</button>
                                          <!-- <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="mrc2" name="example1">
                                            <label class="custom-control-label" for="mrc2">Multiple Reports Compressed</label>
                                          </div>
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="dcr2" name="example1">
                                            <label class="custom-control-label" for="dcr2">Detailed Consolidated Report</label>
                                          </div>
                                          <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="cr2" name="example1">
                                            <label class="custom-control-label" for="cr2">Consolidated Report</label>
                                          </div>
                                          <a href="#" data-target="#successDreportModal" data-toggle="modal" class="btn btn-sm submit-button float-right ">Send Report</a> -->
                                        </div>

                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="table-responsive">
                                          <table datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger" id="notdelivered_reports"
                                              class="table  display table-sm table-hover table-bordered"
                                              style="width:100%">
                                              <thead>
                                                  <tr>
                                                      <th class="text-center">
                                                          <div class="custom-control custom-checkbox">
                                                            <input (click)="checkallBoxes($event,'notdelivered')" type="checkbox" class="custom-control-input"
                                                                id="check-all3" name="reportcheck-all3">
                                                            <label class="custom-control-label" for="check-all3"></label>
                                                          </div>
                                                      </th>
                                                      <th>Case #</th>
                                                      <th>Last Name</th>
                                                      <th>First Name</th>
                                                      <th>Date of Birth</th>
                                                      <th>Client Name</th>
                                                      <th>Collection Date</th>
                                                      <th>Collected By</th>

                                                      <th>Interpretation</th>
                                                      <!-- <th appRbac featureCode="MRMA-VDH">Delivery History</th> -->
                                                      <th>Actions</th>
                                                  </tr>
                                              </thead>
                                              <tfoot style="display: table-header-group;">
                                                  <tr>
                                                      <th></th>
                                                      <th><input style="display:inline !important;" class="form-control form-control-sm" type="text" id="caseNoSearch3" placeholder="Search ID" name="search-id"/></th>
                                                      <th><input class="form-control form-control-sm" type="text" id="pLnameSearch3" placeholder="Search Last name" name="search-first-name"/></th>
                                                      <th><input class="form-control form-control-sm" type="text" id="pFnameSearch3" placeholder="Search First name" name="search-last-name"/></th>
                                                      <th>
                                                        <div class="clearable">
                                                          <input class="form-control form-control-sm" type="date" id="dobFilter3" class="form-control form-control-sm">
                                                          <span class="clearable__clear"><i class="fa fa-close "></i></span>
                                                        </div>
                                                      </th>
                                                      <th>
                                                        <!-- <ng-select
                                                        [items]           ="allClientNameSearch3"
                                                        bindLabel         ="clientName"
                                                        bindValue         ="clientId"
                                                        [virtualScroll]   ="true"
                                                        dropdownPosition  ="auto"
                                                        #client_name_search
                                                        placeholder       ="Search Client Name"
                                                        class             ="form-control select-control-sm"
                                                        [multiple]        ="false"
                                                        [loading]         ="clientLoadingSearch3"
                                                        (change)          = "popSearch3()"
                                                        [(ngModel)]       ="cNameforSearch3"
                                                        (keyup)           ="clientLoadingSearch3 = true && [searchTermSearch3$.next($event.target.value)]"
                                                        >
                                                      </ng-select>
                                                        <input hidden class="form-control form-control-sm" [(ngModel)]="searchtextHolder3" type="text" id="searchClient3" placeholder="Search Client" name="search-collected-by"/> -->
                                                        <input class="form-control form-control-sm" [(ngModel)]="searchtextHolder" type="text" id="searchClient3" placeholder="Search Client" name="search-collected-by"/>


                                                       </th>
                                                       <th>
                                                        <div class="clearable">
                                                          <input class="form-control form-control-sm" type="date" id="collectionDateFilter3" class="form-control form-control-sm">
                                                          <span class="clearable__clear"><i class="fa fa-close "></i></span>
                                                        </div>
                                                      </th>
                                                      <th>
                                                        <select id="collectedBySearch3" class="form-control form-control-sm">
                                                          <option selected="" value="">All</option>
                                                          <option value="sip">siP</option>
                                                          <option value="client">client</option>
                                                        </select>
                                                      </th>


                                                    <th>
                                                      <select id="interpretationSearch3"  class="form-control form-control-sm">
                                                        <option selected="" value="">All</option>
                                                        <option *ngFor="let type of allInterpretation" value="{{type?.value}}" >{{type?.value}}</option>

                                                      </select>
                                                      <!-- <input class="form-control form-control-sm" type="text" id="interpretationSearch3" placeholder="Search interpretation" name="search-interpretation"/> -->
                                                    </th>
                                                    <!-- <th></th> -->
                                                    <th></th>
                                                  </tr>
                                              </tfoot>

                                              <tbody>
                                                <tr *ngFor="let case of notDeliveredReports; let i=index" [ngClass]="{'bgGreen': case?.greenColor == true}" role="row" class="odd" id="TRACTIVE-{{case?.caseId}}">
                                                    <td align="center" class="sorting_1">
                                                        <div class="custom-control custom-checkbox">
                                                          <input type="checkbox" (change)="changeCheckBoxes($event,i,case,'notdelivered')"
                                                                class="custom-control-input" [checked]="case?.checkBox" id="check3-{{i}}" name="reportcheck">
                                                            <label class="custom-control-label" for="check3-{{i}}">

                                                            </label>
                                                          </div>
                                                    </td>
                                                    <td *ngIf="case?.caseStatusId == 1"><a  [routerLink]="">No Generated</a>
                                                        <!-- <td *ngIf="case?.caseStatusId == 1"><a (click)="goToEditonCaseId(case?.caseId)" [routerLink]="">No Generated</a> -->
                                                    <td *ngIf="case?.caseStatusId != 1"><a [routerLink]="" (click)="goToEditonCaseNumber(case?.caseNumber)">{{case?.caseNumber}}</a>
                                                    </td>
                                                    <td class="sorting_1">{{case?.patientLastName | decrypted}}</td>
                                                    <td>{{case?.patientFirstName | decrypted}}</td>
                                                    <td>{{case?.patientDateOfBirth | date:'MM/dd/yyyy'}}</td>

                                                    <td>{{case?.clientName}}</td>

                                                    <td *ngIf="case?.collectionDate !== null">{{case?.caseCollectionDate | date:'MM/dd/yyyy hh:mm'}}</td>
                                                    <td *ngIf="case?.collectionDate === null">{{case?.caseCollectionDate}}</td>
                                                    <td >{{case?.caseCollectedBy}}</td>
                                                    <!-- <td *ngIf="case?.collectedBy == 1" >siP</td>
                                                    <td *ngIf="case?.collectedBy == 2" >Client</td> -->
                                                    <td *ngIf="case?.interpretationDiagnosis === null || case?.interpretationDiagnosis == ''">---</td>
                                                    <td *ngIf="case?.interpretationDiagnosis !==null">{{case?.interpretationDiagnosis}}</td>
                                                      <!-- <td  appRbac featureCode="MRMA-VDH"><a  (click)="showHistory(3,case?.jobOrderId)"
                                                              class="btn btn-sm submit-button" [routerLink]=""><i
                                                                  class="fa fa-clock"></i></a></td> -->
                                                      <td> <a  appRbac featureCode="MRMA-DRI" [routerLink]="" (click)="downloadReport(4,1,1,1,'notdelivered',case)" class="ml-1"><i
                                                                  class="fa fa-download"
                                                                  title="Download Latest Report"></i></a>
                                                                  <a  appRbac featureCode="MRMA-SRI" [routerLink]="" (click)="detailedReportSingle(4,1,1,1,'notdelivered',case)" class="ml-1"><i
                                                                  class="fa fa-paper-plane" title="Send Reports"></i></a>
                                                      </td>
                                                  </tr>

                                              </tbody>

                                          </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- Content Row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    <div class="modal fade" id="delivery-historyModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><b>Delivery History</b></h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <table id="spec-col-history" class="table  table-sm table-hover table-bordered"
                  style="width:100%">
                  <thead class="bg-light">
                    <tr>
                      <th>Sent By</th>
                      <th>Sent Date</th>
                      <th>Report</th>
                      <th>Status</th>
                      <th>Download</th>
                      <th>Resend</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of allHistoryData" >
                      <td>{{item?.sentByName}}</td>
                      <td>{{item?.sentDate | momentDateWithTz}}</td>
                      <td>{{item?.reportPackageName}}</td>
                      <td>{{item?.deliveryStatusName}}</td>
                      <td><button  appRbac featureCode="MRMA-DRI" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></button></td>
                      <td><button (click)="resendReport(item?.reportId, item?.reportPackageId)" class="ml-1"><i class="fa fa-paper-plane" title="Resend"></i></button></td>

                    </tr>


                  </tbody>

                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<!-- successDreportModal-->
<div class="modal fade" id="successDreportModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Success</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">The Detailed report has been delivered to	Grossman successfully</div>
        <div class="modal-footer">
           <a class="btn btn-success text-white" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
  <!-- successConsreportModal-->
  <div class="modal fade" id="successConsreportModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Success</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">The Consolidated report[s] has been delivered successfully to Grossman , Cooley Dickinson Hospital </div>
        <div class="modal-footer">
           <a class="btn btn-success text-white" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
  <!-- successDconreportModal-->
  <div class="modal fade" id="successDconreportModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Success</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">The Detailed Consolidated report[s] has been delivered successfully to Grossman , Cooley Dickinson Hospital</div>
        <div class="modal-footer">
           <a class="btn btn-success text-white" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
  <!-- successDcompreportModal-->
  <div class="modal fade" id="successDcompreportModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Success</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">The Detailed Compressed report[s] has been delivered successfully to Grossman , Cooley Dickinson Hospital , Crown Medical Group </div>
        <div class="modal-footer">
           <a class="btn btn-success text-white" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="successCOnsolidatedRepot" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80% !important;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Success</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <iframe width='100%' height='100%' src="{{successFileURL}}"></iframe> -->
        </div>
        <div class="modal-footer">
           <a class="btn btn-success text-white" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delivery-historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b>Delivery History</b></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions[3]" [dtTrigger]="dtTrigger" id="rep-history" class="table table-sm table-hover table-bordered"
              style="width:100%">
              <thead class="bg-light">
                <tr>
                  <th>Client</th>
                  <th>Intake ID</th>
                  <th>Sent By</th>
                  <th>Sent Date</th>
                  <th>Report</th>
                  <th>Status</th>
                  <th>Download</th>
                  <th>Resend</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allReportsData; let i = index;" >

                  <td>{{clientSearchString.clientName}}</td>
                  <td>{{selectedIntakeforClient}}</td>
                  <td>{{item?.sentByName}}</td>
                  <td>{{item?.sentDate | momentDateWithTz}}</td>
                  <td>{{item?.reportPackageName}}</td>
                  <td>{{item?.deliveryStatusName}}</td>
                  <td>
                    <button  appRbac featureCode="MRMA-DRI" (click)="downloadOldReport(item?.reportId,clientSearchString.clientName,item?.reportPackageId)" class="ml-1 btn bt-sm"><a [routerLink]=""><i class="fa fa-download" title="Download Latest Report"></i></a></button>
                  </td>
                  <td><button (click)="resendReport(item?.reportId,item?.reportPackageId)" class="ml-1 btn bt-sm"><a [routerLink]=""><i class="fa fa-paper-plane" title="Resend"></i></a></button></td>

                  <!-- <td><a  appRbac featureCode="MRMA-DRI" [routerLink]="" (click)="setCaseReorcdForDownloadReport(clientSearchString.clientId, selectedIntakeforClient, item?.jobOrderId)" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></a></td>
                  <td><a [routerLink]="" (click)="setCaseReorcdForResendReport(clientSearchString.clientId, selectedIntakeforClient, item?.jobOrderId)" class="ml-1"><i class="fa fa-paper-plane" title="Resend"></i></a></td> -->

                </tr>
                <!-- <tr>

                  <td>Marin Cancer Care</td>
                  <td>int-12122020-1</td>
                  <td>Ahmed Khan</td>
                  <td>08-05-2020/06-23-PM</td>
                  <td>Consolidated</td>
                  <td>Sending</td>
                  <td><a href="img/NGLIS231.pdf" target="_blank" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></a></td>
                  <td><a href="#" target="_blank" class="ml-1"><i class="fa fa-paper-plane" title="Resend"></i></a></td>

                </tr> -->


              </tbody>

            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
