<section class="login-section bg-gradient-primary" >
  <div class="container" >
    <notifier-container></notifier-container>

      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 logo-login">
          <img src="assets/img/logo.png" width="200">
        </div>
        <ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader>

        <div class="col-xl-6 col-lg-6 col-md-6 pt-5">
          <div class="border-0 shadow-loginbox my-5">
            <div class="card-body p-5">
              <!-- Nested Row within Card Body -->
              <div class="text-center">
                <h1 class="h4 text-white mb-4">Resest Password</h1>
              </div>
              <div id="form-success" *ngIf="ressetSuccess == true" >
                <div class="alert alert-success alert-dismissible fade show">
                  <h4 class="alert-heading"><i class="fa fa-check"></i> Success!</h4>
                  <hr>
                  <p class="mb-0">Thank you for filling out your information!.</p>
                  <p>Your Password has been changed!</p>
                  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                </div>
                <a routerLink="/login" class="btn submit-button btn-user float-right">
                  Proceed to login
                </a>
                <div class="clearfix"></div>
              </div>
              <div *ngIf="ressetSuccess == false">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="user">
                  <div class="form-group">
                    <label class="text-white"><i class="fa fa-primary"></i> OTP Code sent to your Email
                      *******.
                      <div class="badge badge-primary">
                        <a class="text-white" routerLink="/reset-password">Resend</a>
                      </div>
                    </label>
                  </div>
                  <!-- <div *ngIf="loginFailed" class="invalid-feedback-custom" style="color: white">Invalid Email.</div> -->
                  <div class="form-group">
                    <!-- <label class="text-white">OTP Code sent to your Email *******.</label> -->
                    <input type="text" class="form-control form-control-user"  aria-describedby=""
                      placeholder="OTP Code" formControlName="otp" name="otp" [(ngModel)]="otp"
                      [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" required>
                      <div style="color: white" *ngIf="submitted && f.otp.errors" class="invalid-feedback">You did not specify OTP.</div>
                  </div>

                  <div class="form-group">
                    <!-- <div class="col-sm-4"> -->
                        <input type="password" class="form-control form-control-user" formControlName="NewPassword" name="NewPassword" required
                            [(ngModel)]="updatePasswordData.data.newPassword" (keyup)="passwordRegex($event)"
                            placeholder="New Password" id="input-ch-newpassword" minlength="8" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }">
                            <div *ngIf="submitted && f.NewPassword.errors?.minlength" class="invalid-feedback text-white">Length must be at least 8 characters .</div>
                            <div *ngIf="submitted && f.NewPassword.errors?.maxlength" class="invalid-feedback text-white">Length must be less then 50 characters .</div>
                            <div *ngIf="submitted && f.NewPassword.errors?.required" class="invalid-feedback text-white">New Password Required.</div>
                            <div *ngIf="passwordError == true" class="invalid-feedback-custom text-white"> Password Must contain:
                              <ul >
                              <li style="font-size: 10px;" class="text-white">Minimum 8 Characters</li>
                              <li style="font-size: 10px;" class="text-white">At least 1 Upper, 1 Lower, 1 number, and 1 special character(!@#$&*_).</li>
                            </ul>
                          </div>
                  </div>
                  <div class="form-group">
                      <!-- <div class="col-sm-4"> -->
                          <input type="password" class="form-control form-control-user" required
                              placeholder="Confirm Password" id="input-ch-password" formControlName="confirmPassword" name="confirmPassword"
                              [(ngModel)]="confirmNewPassword" minlength="8" maxlength="50"
                              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                         <div *ngIf="submitted && f.confirmPassword.errors?.required" class="invalid-feedback text-white">Confirm New Password Required.</div>
                         <div *ngIf="submitted && f.confirmPassword.errors?.minlength" class="invalid-feedback text-white">Length must be at least 8 characters .</div>
                         <div *ngIf="submitted && f.confirmPassword.errors?.maxlength" class="invalid-feedback text-white">Length must be less then 50 characters .</div>
                        <div class="invalid-feedback-custom text-white" *ngIf="submitted && passwordForm.hasError('notSame')">Passwords must Match.</div>
                      <!-- </div> -->
                  </div>
                  <button type="submit" name="button" [routerLink]="" class="btn submit-button btn-user float-right">
                    Submit
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>


            </div>
          </div>

        </div>
        <div class="col-xl-2 col-lg-2 col-md-2">

        </div>

      </div>

    </div>
</section>
