<!-- <app-navbar></app-navbar>
<div id="wrapper"> -->
    <!-- Sidebar -->


    <!-- <app-sidebar></app-sidebar> -->

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->

      <div id="content">

        <!-- Begin Page Content -->
        <nav aria-label="breadcrumb navbar-light bg-light">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="small"><a routerLink="/manage-batches">Batches</a></li>
            <li *ngIf="pageType == 'add'" class="small active"><span>Create New Batch</span></li>
            <li *ngIf="pageType == 'edit'" class="small active"><span>Update Batch</span></li>
          </ol>
        </nav>

        <!-- End of Topbar -->

        <!-- menu tab -->

        <!-- End of menu tab -->

        <!-- Page tab -->


        <div class="container-fluid p-2" (click)="onScreenClick($event)">
          <notifier-container></notifier-container>




          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                  <h6 class="m-0 font-weight-bold float-left" *ngIf="pageType == 'add'" >Create New Batch COVID-19</h6>
                  <h6 class="m-0 font-weight-bold float-left" *ngIf="pageType == 'edit'">Update Batch</h6>
                  <div class="dropdown no-arrow">
                    <a *ngIf="pageType == 'edit'" (click)="populateUpdateBatchData()"  class="btn btn-sm submit-button float-right ">Update</a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <!-- <button type="button" *ngIf="pageType == 'add'" name="button" (click)="clearStorage()">CLear Storage</button> -->
                  <form [formGroup]="batchForm" (submit)="saveBatch()" #aform>
                  <div class="row">
                    <div class="col-md-4 " *ngIf="pageType == 'edit'">

                    </div>
                    <div class="col-md-4 " *ngIf="pageType == 'add'">
                      <div class="input-group">
                        <input type="text" class="form-control form-control-sm" (keyup)="checkBatchId($event)" (change)="trimBatchID()"   name="batchId" formControlName="batchId" [(ngModel)]="batchId"
                        placeholder="Batch ID" maxlength="20" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" [ngClass] ="{ 'is-invalid': submitted && f.batchId.errors }"  aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <!-- <a   [routerLink]="" class="btn btn-sm submit-button">Create New Batch</a> -->
                          <button [disabled]="disableBtnCheck==true" [routerLink]="" class="btn btn-sm submit-button">Create New Batch</button>
                          <!-- <a data-target="#createModal" data-toggle="modal" class="btn btn-sm submit-button">Create New Batch</a> -->
                        </div>
                        <div *ngIf="submitted && f.batchId.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                        <div *ngIf="submitted && f.batchId.errors?.required" class="invalid-feedback">You did not enter Batch Id.</div>
                        <div *ngIf="submitted && alreadyExistError == true" class="invalid-feedback">This Batch Id already exists.</div>
                      </div>

                       <label><span class="small">A batch can have max 94 cases, and min 1 case</span></label>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <div class="input-group ">
                        <input id="casenumberInput" type="text" (keyup)="addCase($event)" name="caseNumber" formControlName="caseNumber" class="form-control form-control-sm scaneverywhere" [(ngModel)]="caseNumber" placeholder="Type case # to add"  aria-describedby="basic-addon2">
                        <label class="ml-2 mt-1 font-weight-bold">Scan Barcode</label>
                        <div class="input-group-append">
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                  <div class="row" *ngIf="pageType == 'edit'">
                    <div class="col-md-12">
                      <div class="table-responsive my-3">
                        <table id="cases_table" class="table table-sm table-hover table-bordered " style="width:60%; margin: 0 auto;">
                          <thead>
                            <tr class="table-secondary">
                              <th>Batch ID</th>
                              <th>Creation Date</th>
                              <th>Created By</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{selectedBatch?.batchDetails?.batchId}}</td>
                              <td>{{selectedBatch?.batchDetails?.createdTimestamp | date:'MM/dd/yyyy h:mm a'}}</td>
                              <!-- <td *ngIf="selectedBatch?.batchDetails?.createdTimestamp == null" >{{selectedBatch?.batchDetails?.updatedTimestamp | date:'MM/dd/yyyy h:mm a'}}</td>
                              <td *ngIf="selectedBatch?.batchDetails?.createdTimestamp != null" >{{selectedBatch?.batchDetails?.createdTimestamp | date:'MM/dd/yyyy h:mm a'}}</td> -->
                              <td>{{selectedBatch?.batchDetails?.createdByName}}</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="covid19-batch" class="table nowrap table-sm table-hover table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Remove</th>
                          <th>Case #</th>
                          <th>Last Name</th>
                          <th></th>
                          <th>First Name</th>
                          <th></th>
                          <th>DOB</th>
                          <th></th>
                          <th>Well No</th>
                          <th>Client Name</th>
                          <th></th>
                          <th>Collected By</th>
                          <!-- <th></th> -->
                          <!-- <th></th> -->
                          <th>Collected Date</th>
                          <th></th>
                          <th>Receiving Date</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="t_sortable" cdkDropList (cdkDropListDropped)="onDrop($event)">
                        <tr *ngFor="let item of specimenTableData; let i=index" class="table-success" id="TR-{{item?.caseId}}" cdkDrag cdkDragLockAxis="y">
                          <td align="center">
                            <a [routerLink]="" (click)="rowMoveArrow('up',i, item)"><i class="fas fa-long-arrow-alt-up"></i></a>
                            <a [routerLink]="" (click)="rowMoveArrow('down',i, item)"><i class="fas fa-long-arrow-alt-down"></i></a>
                          </td>
                          <td align="center">
                            <a [routerLink]="" (click)="showRemoveModal(item,i)" class="text-danger ml-1" ><i class="fas fa-times" title="Remove"></i></a>

                          </td>
                          <td><a (click)="editCase(item?.caseNumber)" [routerLink]="" >{{item?.caseNumber}}</a></td>
                          <!-- <td><a routerLink="/edit-case/{{item?.caseNumber}}/1" >{{item?.caseNumber}}</a></td> -->
                          <td>
                            <span hidden>{{item?.pLName}}</span>
                            <input type="text" class="form-control-plaintext" (change)="updatePatient($event,'last',item?.patientId,i,item?.pLName)"  value="{{item?.pLName}}">

                          </td>
                          <td>{{item?.pLName}}</td>
                          <td>
                            <span hidden>{{item?.pFName}}</span>
                            <input type="text" class="form-control-plaintext" (change)="updatePatient($event,'first',item?.patientId,i,item?.pFName)"  value="{{item?.pFName}}"></td>
                          <td>{{item?.pFName}}</td>
                          <td>
                            <span hidden>{{item?.pDOB | date:'MM/dd/yyyy'}}</span>
                            <input type="text" class="form-control-plaintext" (change)="updatePatient($event,'dob',item?.patientId,i,item?.pDOB)"  value="{{item?.pDOB | date:'MM/dd/yyyy'}}"></td>
                          <td>{{item?.pDOB}}</td>
                          <td>
                            <span hidden>{{item?.sellectedWellName}}</span>

                              <div class="input-group">
                                <select (change) = "wellNoFun($event.target.value,i)" id="WELROW-{{item?.caseId}}" class="form-control form-control-sm sar WELROW-{{item?.caseId}}" name="wellNumber">
                                  <option value="null" selected disabled>Select Well #</option>
                                  <ng-container *ngFor="let item of allWelNo">
                                    <option [ngClass]="{'bgDisabled': item?.selected == true}" [disabled]="item?.selected == true" value="{{item?.wellMachineId}}">{{item?.wellNumber}}</option>
                                    <!-- <option *ngIf="item?.selected == true" disabled value="{{item?.wellMachineId}}">{{item?.wellNumber}}</option> -->
                                  </ng-container>
                                </select>
                                <!-- <ng-select
                                [items]           ="allWelNo"
                                bindLabel         ="wellNumber"
                                [disabled]         ="allWelNo.selected == true"
                                appendTo           ="body"
                                [hideSelected]    = "false"
                                [virtualScroll]   ="true"
                                dropdownPosition  ="auto"
                                #case_category
                                placeholder       ="Select well No"
                                class             ="form-control form-control-sm"
                                (change)          = "wellNoFun($event)"
                                [multiple]        ="false"
                                >
                              </ng-select> -->
                              </div>
                          </td>
                          <td>
                            <span hidden>{{item?.clientName}}</span>
                            <span *ngIf="item?.intakeId != null" >{{item?.clientName}}</span>
                            <ng-select
                            [items]           ="clientsDropdown"
                            bindLabel         ="clientName"
                            bindValue         ="clientId"
                            [virtualScroll]   ="true"
                            dropdownPosition  ="auto"
                            #client_select
                            *ngIf             ="item?.intakeId == null"
                            placeholder       ="{{item?.clientName}}"
                            class             ="form-control-plaintext"
                            [multiple]        ="false"
                            [loading]         ="clientLoading"
                            (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                            (change)          ="updateCaseClient($event,item?.clientName,item?.collectedBy,item?.collectionDate,item?.receivingDate,item?.caseId)">
                          </ng-select>
                          <!-- <input [disabled]="item?.intakeId != null" class="form-control-plaintext" (change)="updateCaseClient($event,item?.clientName,item?.collectedBy,item?.collectionDate,item?.receivingDate,item?.caseId)" type="text" (keyup)="clientLoading = true && [searchTerm$.next($event.target.value)]" value="{{item?.clientName}}" id="userIdFirstWay" list="dynmicUserIds" /> -->


                          <!-- <datalist id="dynmicUserIds">
                            <option *ngFor="let client of clientsDropdown" (click)="clicked()" data-id="{{client?.clientId}}">{{client?.name}}</option>
                          </datalist> -->
                            <!-- <input type="text" (change)="updateClient($event,item?.clientId,item?.clientName)" class="form-control-plaintext"  value="{{item?.clientName}}">-->
                          </td>
                            <td>{{item?.clientName}}</td>
                          <!-- <td>{{item?.clientName}}</td> -->
                          <td>
                            <span hidden *ngIf="item?.collectedBy == 2">Client</span>
                            <span hidden *ngIf="item?.collectedBy == 1">siP</span>

                            <select (change)="updateSpecimen($event.target.value,item?.collectionDate,item?.receivingDate,item?.caseId,'by',$event,item?.collectedBy,item?.clientId,i)" style="background-color: transparent;" value="{{item?.collectedBy}}" class="form-control-plaintext" name="collectedBy">
                              <option value="1">siP</option>
                              <option value="2">Client</option>
                            </select>
                          </td>

                          <!-- <td *ngIf="item?.collectedBy == 1"><input type="text" class="form-control-plaintext"  value="siP"></td>
                          <td *ngIf="item?.collectedBy == 2"><input type="text" class="form-control-plaintext"  value="Client"></td> -->

                          <td>
                            <span hidden>{{item?.collectionDate | date:'MM/dd/yyyy h:mm a'}}</span>
                            <input [disabled]="item?.intakeId != null" type="text" (change)="updateSpecimen(item?.collectedBy,$event.target.value,item?.receivingDate,item?.caseId,'col',$event,item?.collectionDate,item?.clientId,i)" class="form-control-plaintext" value="{{item?.collectionDate | date:'MM/dd/yyyy h:mm a'}}"></td>
                          <td>{{item?.collectionDate | date:'MM/dd/yyyy h:mm a'}}</td>
                          <td>
                            <span hidden>{{item?.receivingDate | date:'MM/dd/yyyy h:mm a'}}</span>
                            <input type="text" (change)="updateSpecimen(item?.collectedBy,item?.collectionDate,$event.target.value,item?.caseId,'rec',$event,item?.receivingDate,item?.clientId,i)" class="form-control-plaintext"  value="{{item?.receivingDate | date:'MM/dd/yyyy h:mm a'}}"></td>
                          <td>{{item?.receivingDate | date:'MM/dd/yyyy h:mm a'}}</td>
                          <td>
                            <span hidden *ngIf="item?.collectedBy == 1" >sip</span>
                            <span hidden *ngIf="item?.collectedBy == 2" >client</span>
                          </td>
                          <td>{{item?.sellectedWellName}}</td>
                          <td>{{item?.sellectedWellForSorting}}</td>


                         </tr>



                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
              <!-- <div class="card shadow mt-4 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                  <h6 class="m-0 font-weight-bold float-left">Accessioned Cases</h6>
                  <div class="dropdown no-arrow">
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-md-3 pl-0 m-auto">
                    <div class="input-group mb-2">
                      <input type="text" class="form-control form-control-sm" placeholder="Type case # to add"  aria-describedby="basic-addon2">
                      <label class="ml-2 mt-1 font-weight-bold">Scan Barcode</label>
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                 <div class="table-responsive">
                    <table id="covid19-pending-batch" class="table  table-sm table-hover table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>Add To Batch</th>
                          <th>Case #</th>
                          <th>Last Name</th>
                          <th>First Name</th>
                          <th>DOB</th>
                          <th>Client Name</th>
                          <th>Collected By</th>
                          <th>Collected Date</th>
                          <th>Receiving Date</th>

                        </tr>
                      </thead>
                      <tbody class="t_sortable">
                        <tr>
                          <td align="center">
                            <a href="" ><i class="fa fa-arrow-circle-up text-lg"></i></a>
                          </td>
                          <td><a href="" class="">B20-0004</a></td>
                          <td>Ahmad </td>
                          <td>Ali </td>
                          <td>03/06/1988 </td>
                          <td>Beechtree Center</td>
                          <td>siP</td>
                          <td>03/30/2020 8:56 pm</td>
                          <td>06/10/2020 8:56 pm</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <a href="" ><i class="fa fa-arrow-circle-up text-lg"></i></a>
                          </td>
                          <td><a href="" class="">B20-0007</a></td>
                          <td>Tony </td>
                          <td>Stark </td>
                          <td>11/22/1990 </td>
                          <td>Beechtree Center</td>
                          <td>Client</td>
                          <td>03/30/2020 8:56 pm</td>
                          <td>06/10/2020 8:56 pm</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <a href="" ><i class="fa fa-arrow-circle-up text-lg"></i></a>
                          </td>
                          <td><a href="" class="">B20-0008</a></td>
                          <td>Bruce </td>
                          <td>Banner </td>
                          <td>01/05/1985 </td>
                          <td>Beechtree Center</td>
                          <td>siP</td>
                          <td>03/30/2020 8:56 pm</td>
                          <td>06/10/2020 8:56 pm</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <a href="" ><i class="fa fa-arrow-circle-up text-lg"></i></a>
                          </td>
                          <td><a href="" class="">B20-00020</a></td>
                          <td>Natasha </td>
                          <td>Romanoff </td>
                          <td>06/12/1978 </td>
                          <td>Beechtree Center</td>
                          <td>siP</td>
                          <td>03/30/2020 8:56 pm</td>
                          <td>06/10/2020 8:56 pm</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <app-footer></app-footer>


    </div>
    <!-- End of Content Wrapper -->

  <!-- </div> -->
  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Create</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">The Batch has been created successfully</div>
        <div class="modal-footer">
           <a class="btn submit-button" href="manage-batch.html">Close</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Cancel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to cancel, all cases will go back to pending list again</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="removeCase()" [routerLink]="">remove</a>
        </div>
      </div>
    </div>
  </div>
