<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-arrow">
        <li class="small"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="small active"><span>Dashboard</span></li>
      </ol>
    </nav>

        <div class="container-fluid pt-4">
          <div class="row">
            <div class="clearfix"></div>
            <div class="col-xl-4 col-lg-4 col-sm-12">
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Today's Cases</h6>
                  <div class="dropdown no-arrow">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text small" name="" id="">Choose Date</span>
                      </div>
                      <input type="text" ngxDaterangepickerMd [(ngModel)]="firstSelected"
                      (change)="firstGraphBetween($event)"
                      [showDropdowns]="true"

                       class="form-control"/>
                       <!-- (choosedDate)="firstGraphBetween($event)" -->
                      <!-- <label class="mt-2 text-primary font-weight-bold small">Choose Date</label> -->
                      <!-- <input type="text" class="form-control form-control-sm "  id="todays_date" name="todays_date"
                      aria-describedby=""> -->
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive mt-1">
                    <!-- Choosed date: {{firstSelected | json}} -->
                    <table class="table nowrap table-sm table-hover table-bordered table-dashboard" style="width:100%">
                      <thead class="bg-light">
                        <tr>
                            <th rowspan="2">Clients</th>
                            <th colspan="2">Cases</th>
                            <th colspan="2">Labels</th>
                        </tr>
                        <tr>
                            <th>Draft</th>
                            <th>Accessioned</th>
                            <th>Printed</th>
                            <th>Pending</th>
                        </tr>
                    </thead>
                      <tbody class="">
                        <tr *ngFor="let item of firstGraphData; let i = index;" >
                          <td >{{item?.clientName}}</td>
                          <!-- <td ><a (click)="byName(item?.clientId)" [routerLink]="">{{item?.clientName}}</a></td> -->
                          <td><a  (click)="caseDraft(item?.clientId)" [routerLink]="">{{item?.DraftTotal}}</a></td>
                          <td><a  (click)="caseAccessioned(item?.clientId)" [routerLink]="">{{item?.AccessionedTotal}}</a></td>
                          <td><a  (click)="byPrinted(item?.clientId)" [routerLink]="">{{item?.printedTotal}}</a></td>
                          <td><a  (click)="byNotPrinted(item?.clientId)" [routerLink]="">{{item?.notPrintedTotal}}</a></td>
                        </tr>
                        <!-- <tr>
                          <td>Grossman</td>
                          <td><a href="add-case.html">27</a></td>
                          <td><a href="add-case.html">130</a></td>
                          <td><a href="add-case.html">12</a></td>
                          <td><a href="add-case.html">145</a></td>
                        </tr>
                         -->
                      </tbody>
                      <tfoot class="bg-light">
                        <tr>
                            <th>Total</th>
                            <th><a (click)="byTotalDraft(0)" [routerLink]="">{{footerDraftTotal}}</a></th>
                            <th><a (click)="byTotalAccessioned(0)" [routerLink]="">{{footerAccessTotal}}</a> </th>
                            <th><a (click)="byTotalPrinted(0)" [routerLink]="">{{footerPrintedTotal}}</a></th>
                            <th><a (click)="byTotalNotPrinted(0)" [routerLink]="">{{footernotPrintedTotal}}</a></th>
                        </tr>
                    </tfoot>


                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-sm-12">
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Last 7 Days Cases</h6>
                  <div class="dropdown no-arrow">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text small" name="" id="">Choose Date</span>
                      </div>
                      <input type="text" ngxDaterangepickerMd [(ngModel)]="secondSelected"
                      (change)="secondGraphBetween($event)"
                      [showDropdowns]="true"

                       class="form-control"/>
                      <!-- <label class="mt-2 text-primary font-weight-bold small">Choose Date</label> -->
                      <!-- <input type="text" class="form-control form-control-sm "  id="todays_date" name="todays_date" -->
                      <!-- aria-describedby=""> -->
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="secondChartContainer" style="width: 100%; height: 190px;"></div>
                      <!-- <h5 class="text-dark font-weight-bold text-center">Cases</h5> -->
                      <!-- <div id="chart_trenddiv" class="chart"></div> -->

                </div>
              </div>
            </div>


            <div class="col-xl-4 col-lg-4 col-sm-12">
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Last 7 Days Cases</h6>
                  <div class="dropdown no-arrow">

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="thirdChartContainer" style="width: 100%; height: 195px;"></div>
                      <!-- <h5 class="text-dark font-weight-bold text-center">Cases</h5> -->
                      <!-- <div id="chart_trenddiv" class="chart"></div> -->

                </div>
              </div>
            </div>



          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
