<!-- <app-navbar></app-navbar> -->
<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div style="display:none" id="showAuthError" class="alert alert-warning" role="alert">
        You are not authorized for this functionality!
      </div>
      <div id="content" class="hideScreen">
        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <nav *ngIf="hideBreadCrumb == false"  aria-label="breadcrumb" class="breadcrumb_nav">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="small"><a routerLink="/all-patients">Patients</a></li>
            <li  class="small active" *ngIf="pageType == 'add'"><span>Add Patient</span></li>
            <li class="small active" *ngIf="pageType == 'edit'"><span>Update Patient</span></li>
          </ol>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- Page tab -->
        <div class="container-fluid p-2">
          <notifier-container></notifier-container>
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-2">
                <form class="" [formGroup]="patientForm" (submit)="addPatient()">
                  <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                    <h6 *ngIf="pageType == 'add'" class="m-0 font-weight-bold float-left">Add Patient</h6>
                    <h6 *ngIf="pageType == 'edit'" class="m-0 font-weight-bold float-left">Update Patient</h6>
                    <div class="form-group dropdown no-arrow">
                      <button type="submit"  class="btn submit-button btn-sm pull-right">Submit</button>
                      <!-- <button type="submit" [disabled]="ssnExist == true || clientExist == true" class="btn submit-button btn-sm pull-right">Submit</button> -->
                      <a *ngIf="hideBreadCrumb == false" (click)="cancelEdit()" class="btn btn-warning pull-right btn-sm mr-2 ">Cancel</a>
                      <!-- <a *ngIf="hideBreadCrumb == false" routerLink="/all-patients" class="btn btn-warning pull-right btn-sm mr-2 ">Cancel</a> -->
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="form-heading">
                      <p>Patient Detail</p>
                    </div>
                    <div class="form-row">
                      <div appRbac featureCode="PNTA-ADP" *ngIf="selectedPatient.length != 0" class="form-group text-right col-md-12">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input (change)="toggleActiveClient(true,selectedPatient.patientId)" [value]="true" type="radio" [(ngModel)]="saveRequest.data.status"  id="active" name="activedeactive"
                          formControlName="activedeactive"
                          class="custom-control-input">
                          <label class="custom-control-label"
                          for="active">Activate</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input (change)="toggleActiveClient(false,selectedPatient.patientId)" [value]="false" type="radio" [(ngModel)]="saveRequest.data.status" id="deactive" name="activedeactive"
                          formControlName="activedeactive"
                          class="custom-control-input">
                          <label class="custom-control-label"
                          for="deactive">Deactivate</label>
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Client <span class="text-danger">*</span></label>
                        <!-- (keyup)           ="loadSearchClients($event)" -->
                        <!-- (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]" -->
                        <div class="input-group">
                          <ng-select
                          [items]           ="clientsDropdown"
                          bindLabel         ="clientName"
                          bindValue         ="clientId"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_select
                          placeholder       ="Select Client"
                          class             ="form-control"
                          [multiple]        ="false"
                          formControlName   ="client"
                          [loading]         ="clientLoading"
                          (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                          (change)          ="clientChanged()"
                          [(ngModel)]       ="clientSearchString"
                          [ngClass]         ="{ 'is-invalid': submitted && f.client.errors }" required>
                        </ng-select>

                        <div *ngIf="submitted && f.client.errors" class="invalid-feedback">You did not select Client.</div>

                        </div>

                        <!-- <div class="input-group" *ngIf="selectedClientForAdd != null">
                          <ng-select
                          [items]           ="clientsDropdown"
                          bindLabel         ="name"
                          bindValue         ="clientId"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_select
                          placeholder       ="Select Client"
                          class             ="form-control"
                          [multiple]        ="false"
                          formControlName   ="client"
                          [loading]         ="clientLoading"
                          (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                          (change)          ="clientChanged()"
                          [(ngModel)]       ="clientSearchString"
                          [ngClass]         ="{ 'is-invalid': submitted && f.client.errors }" required>
                        </ng-select>

                        <div *ngIf="submitted && f.client.errors" class="invalid-feedback">You did not select Client.</div>

                        </div> -->

                      </div>
                      <div class="form-group col-md-3">
                        <label>SSN </label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="SSN"
                            aria-describedby="basic-addon1" maxlength="9" length="9" [(ngModel)]="saveRequest.data.patientDemographics.ssn"
                            name="ssn" formControlName="ssn" (change)="ssnExistCheck()">
                            <i class="fa fa-circle-o-notch fa-spin" id="ssn-loadergif" style="display: none;"></i>
                        </div>
                      </div>
                      <div class="form-group col-md-3" [hidden]="pageType == 'add'">
                        <label>Patient ID <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Patient ID" value="Pt-01"
                            aria-describedby="basic-addon1" [(ngModel)]="update_patientCode"
                            name="patientID" formControlName="patientID">
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Last Name <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" required class="form-control" placeholder="Last Name" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$"
                            aria-describedby="basic-addon1" maxlength="50" length="50" (change)="patientExistCheck()"
                            name="lastName" formControlName="lastName" [(ngModel)]="saveRequest.data.patientDemographics.lastName"
                            [ngClass] ="{ 'is-invalid': submitted && f.lastName.errors }">
                            <!-- <i class="fa fa-circle-o-notch fa-spin" id="ssn-loadergif"></i> -->
                            <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                            <div *ngIf="submitted && f.lastName.errors?.required" class="invalid-feedback">You did not provide Last name.</div>
                            <div *ngIf="submitted && f.lastName.errors?.maxLength" class="invalid-feedback">Last name should be less then 50 characters.</div>
                            <div *ngIf="submitted && f.lastName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                        </div>
                      </div>
                      <!-- <div class="form-group col-md-3">
                        <label>Last Name <span class="text-danger">*</span></label>
                        <input type="text" required class="form-control" placeholder="Last Name"
                          aria-describedby="basic-addon1" maxlength="50" length="50" (change)="patientExistCheck()"
                          name="lastName" formControlName="lastName" [(ngModel)]="saveRequest.data.patientDemographics.lastName"
                          [ngClass] ="{ 'is-invalid': submitted && f.lastName.errors }">
                          <i class="fa fa-circle-o-notch fa-spin" id="ssn-loadergif"></i>
                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">You did not provide Last name.</div>
                          <div *ngIf="submitted && f.lastName.errors?.maxLength" class="invalid-feedback">Last name should be less then 50 characters.</div>
                      </div> -->

                      <div class="form-group col-md-3">
                        <label>First Name <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" required class="form-control" placeholder="First Name" [(ngModel)]="saveRequest.data.patientDemographics.firstName"
                            aria-describedby="basic-addon1" data-toggle="modal" data-target="#showdata" (change)="patientExistCheck()"
                            maxlength="50" length="50" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$"
                            name="firstName" formControlName="firstName"
                            [ngClass] ="{ 'is-invalid': submitted && f.firstName.errors }">
                            <!-- <i class="fa fa-circle-o-notch fa-spin" id="ssn-loadergif"></i> -->
                            <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                            <div *ngIf="submitted && f.firstName.errors?.required" class="invalid-feedback">You did not provide First name.</div>
                            <div *ngIf="submitted && f.firstName.errors?.maxLength" class="invalid-feedback">First name should be less then 50 characters.</div>
                            <div *ngIf="submitted && f.firstName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                        </div>
                      </div>


                      <!-- <div class="form-group col-md-3">
                        <label>First Name <span class="text-danger">*</span></label>
                        <input type="text" required class="form-control" placeholder="First Name" [(ngModel)]="saveRequest.data.patientDemographics.firstName"
                          aria-describedby="basic-addon1" data-toggle="modal" data-target="#showdata" (change)="patientExistCheck()"
                          maxlength="50" length="50"
                          name="firstName" formControlName="firstName"
                          [ngClass] ="{ 'is-invalid': submitted && f.lastName.errors }">
                          <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">You did not provide First name.</div>
                          <div *ngIf="submitted && f.firstName.errors?.maxLength" class="invalid-feedback">First name should be less then 50 characters.</div>
                      </div> -->
                      <div class="form-group col-md-3">
                        <label>Middle Name </label>
                        <input type="text" class="form-control" placeholder="Middle Name" [ngClass] ="{ 'is-invalid': submitted && f.middleName.errors?.pattern }"
                          aria-describedby="basic-addon1" maxlength="50" length="50" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$"
                          name="middleName" formControlName="middleName" [(ngModel)]="saveRequest.data.patientDemographics.middleName">
                          <div *ngIf="submitted && f.middleName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Date of Birth (Age : {{dateOfBirth}})<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="date" class="form-control" placeholder="" aria-describedby="basic-addon1" max="{{maxDate}}"
                          name="dob" formControlName="dob" (change)="checkDate($event.target.value)" required
                          [ngClass] ="{ 'is-invalid': submitted && f.dob.errors }" [(ngModel)]="dobToShow" >
                          <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">You did not provide Date of Birth.</div>

                      </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Gender <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="male"
                            value="m" name="gender" formControlName="gender" [(ngModel)]="saveRequest.data.patientDemographics.gender" required
                            [ngClass] ="{ 'is-invalid': submitted && f.gender.errors }">
                            <label class="custom-control-label" for="male">Male</label>
                            <!-- <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">You did not provide Gender.</div> -->
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="female" value="f" name="gender" formControlName="gender"
                            [(ngModel)]="saveRequest.data.patientDemographics.gender" required
                            [ngClass] ="{ 'is-invalid': submitted && f.gender.errors }">
                            <label class="custom-control-label" for="female">Female</label>
                          </div>

                        </div>
                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">Please Select one gender.</div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Email </label>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="Email" [ngClass] ="{ 'is-invalid': submitted && f.email.errors?.email }"
                            aria-describedby="basic-addon1" maxlength="254" length="254" id="email-address"
                            name="email" formControlName="email" [attr.contactID-value]="contactID3" [(ngModel)]="emailAddress">
                            <div *ngIf="submitted && f.email.errors?.email" class="invalid-feedback">Please Provide Valid email.</div>

                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Mobile No </label>
                        <div class="input-group">
                          <!-- <input type="text" class="form-control" [appUSNumber] placeholder="Mobile No" pattern="^[-0-9 \/_?:.,\)\(\s]+$" -->
                          <input type="text" class="form-control" [appUSNumber] placeholder="Mobile No"
                            aria-describedby="basic-addon1" maxlength="13" length="13" id="mobile-number" (keyup)="setNumber($event,'cell')"
                            name="mobile" formControlName="mobile" [attr.contactID-value]="contactID1" [(ngModel)]="mobileNumber">
                            <!-- <div *ngIf="submitted && f.mobile.errors?.pattern" class="invalid-feedback">Only numbers are allowed.</div> -->

                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Home Phone</label>
                        <div class="input-group">
                          <input type="text" class="form-control" [appUSNumber] placeholder="Home Phone"
                            aria-describedby="basic-addon1" maxlength="13" length="13" id="home-number" (keyup)="setNumber($event,'home')"
                            name="phone" formControlName="phone" [attr.contactID-value]="contactID2" [(ngModel)]="homePhone" >
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Patient Type  <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <ng-select
                                [items]           ="allpattypes"
                                bindLabel         ="patientTypeName"
                                bindValue         ="patientTypeId"
                                [virtualScroll]   ="true"
                                dropdownPosition  ="auto"
                                #case_category
                                placeholder       ="Select Patient Type"
                                formControlName   ="patientType"
                                class             ="form-control"
                                [multiple]        ="false"
                                (change)          ="checkLookups()"
                                [(ngModel)]       ="saveRequest.data.patientDemographics.patientTypeId"
                                [ngClass]         ="{ 'is-invalid': submitted && f.patientType.errors }" required>
                              </ng-select>
                          <!-- <select class="custom-select dropdown-arrow" name="patientType" formControlName="patientType" required
                          [(ngModel)]="saveRequest.data.patientDemographics.patientTypeId" [ngClass] ="{ 'is-invalid': submitted && f.patientType.errors }">
                            <option disabled>Select Type</option>
                            <option value="1">Employee</option>
                            <option value="2">Resident</option>
                            <option value="3">General (Other)</option>
                            <option value="4">General2 (Other)</option>
                            <option value="5">General3 (Other)</option>
                          </select> -->
                          <div *ngIf="submitted && f.patientType.errors" class="invalid-feedback">You did not select Patient Type.</div>
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Billing Information  <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <select class="custom-select dropdown-arrow" name="billingInfo" formControlName="billingInfo" required
                          [ngClass] ="{ 'is-invalid': submitted && f.billingInfo.errors }"
                           [(ngModel)]="saveRequest.data.patientDemographics.paymentTypeId">
                            <option disabled selected value="null">Select</option>
                            <option *ngFor="let bill of allBillingypes"  value="{{bill?.paymentTypeId}}">{{bill?.paymentTypeName}}</option>
                            <!-- <option value="1">Charged by the patient themselves</option>
                            <option value="2">Charged by the client(Account)</option>
                            <option value="3">Charged by the insurance company</option> -->
                          </select>
                          <div *ngIf="submitted && f.billingInfo.errors" class="invalid-feedback">You did not select Billing Type.</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label>What is your ethnicity? <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <ng-select
                          [items]           ="allEthnicities"
                          bindLabel         ="ethnicityName"
                          bindValue         ="ethnicityId"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_select
                          placeholder       ="Select Ethnicity"
                          class             ="form-control"
                          [multiple]        ="false"
                          formControlName   ="ethnicity"
                          [(ngModel)]       ="saveRequest.data.patientDemographics.ethnicityId"
                          [ngClass]         ="{ 'is-invalid': submitted && f.ethnicity.errors }" required>
                        </ng-select>
                        <div *ngIf="submitted && f.ethnicity.errors" class="invalid-feedback">You did not select Ethnicity.</div>

                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Race <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <ng-select
                          [items]           ="allRaces"
                          bindLabel         ="raceName"
                          bindValue         ="raceId"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_select
                          placeholder       ="Select Race"
                          class             ="form-control"
                          [multiple]        ="false"
                          formControlName   ="race"
                          [(ngModel)]       ="saveRequest.data.patientDemographics.raceId"
                          [ngClass]         ="{ 'is-invalid': submitted && f.race.errors }" required>
                        </ng-select>
                        <div *ngIf="submitted && f.race.errors" class="invalid-feedback">You did not select Race.</div>

                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Do you have Insurance? <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="insurance-yes" value="1" name="insuranceRadio" formControlName="insuranceRadio" required
                            [ngClass] ="{ 'is-invalid': submitted && f.insuranceRadio.errors }"  (change)="changeInsurance($event)">
                            <label class="custom-control-label" for="insurance-yes">yes</label>
                            <!-- <input type="radio" class="custom-control-input" id="insurance-yes" name="insuranceRadio" value="1"
                            formControlName="insuranceRadio" (change)="changeInsurance($event)"
                            [ngClass] ="{ 'is-invalid': submitted && f.insuranceRadio.errors }" required>
                            <label class="custom-control-label" for="insurance-yes">Yes</label> -->
                            <!-- <div *ngIf="submitted && f.insuranceRadio.errors" class="invalid-feedback">Please Select Insurance Status.</div> -->
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <!-- <input type="radio" class="custom-control-input" id="insurance-no" name="insuranceRadio" value="0"
                            formControlName="insuranceRadio" (change)="changeInsurance($event)"
                            [ngClass] ="{ 'is-invalid': submitted && f.insuranceRadio.errors }" required>
                            <label class="custom-control-label" for="insurance-no">No</label> -->
                            <input type="radio" class="custom-control-input" id="insurance-no" value="0" name="insuranceRadio" formControlName="insuranceRadio" required
                            [ngClass] ="{ 'is-invalid': submitted && f.insuranceRadio.errors }" (change)="changeInsurance($event)">
                            <label class="custom-control-label" for="insurance-no">no</label>
                            <div *ngIf="submitted && f.insuranceRadio.errors" class="invalid-feedback">Please Selct Inssurance Status.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row insurance-fields" *ngIf="isInsurance == 1">
                      <div class="form-group col-md-3">
                        <label>Insurance Name <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <ng-select
                          [items]           ="insuranceDropdown"
                          bindLabel         ="name"
                          bindValue         ="id"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_select
                          placeholder       ="Select Insurance Name"
                          class             ="form-control"
                          [multiple]        ="false"
                          formControlName   ="insuranceName"
                          [ngClass] ="{ 'is-invalid': submitted && f.insuranceName.errors }">
                        </ng-select>
                        <div *ngIf="submitted && f.insuranceName.errors" class="invalid-feedback">You did not Select Insurance Name.</div>
                          <!-- <select class="custom-select dropdown-arrow" required id="ins-name" style="width: 100%;">
                            <option value="1">Fidelis Care NewYork</option>
                            <option value="1">-----</option>
                            <option value="2">-----</option>
                          </select> -->
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <label>Insurance ID <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Insurance ID"
                          aria-describedby="basic-addon1" maxlength="50" length="50"
                          name="insuranceID" formControlName="insuranceID"
                          [ngClass] ="{ 'is-invalid': submitted && f.insuranceID.errors }">
                          <div *ngIf="submitted && f.insuranceID.errors" class="invalid-feedback">You did not provide insurance ID.</div>
                        </div>
                        <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <i class="fa fa-success"></i> Patient has active coverage.
                        </div> -->
                      </div>

                    </div>

                    <!-- <div *ngIf="isInsurance == 0" >

                    </div> -->
                    <div class="form-heading">
                      <p>Address Detail</p>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label>Street Address </label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Street Address"
                            aria-describedby="basic-addon1" maxlength="100" length="100"
                            name="street" formControlName="street" [(ngModel)]="saveRequest.data.patientDemographics.address.street">
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Suite/Floor/Building</label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Suite/Floor/Building"
                            aria-describedby="basic-addon1" maxlength="100" maxlength="100"
                            name="suite" formControlName="suite" [(ngModel)]="saveRequest.data.patientDemographics.address.suiteFloorBuilding">
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Country </label>
                        <ng-select
                        [items]           ="allCountry"
                        bindLabel         ="countryName"
                        bindValue         ="countryId"
                        [virtualScroll]   ="true"
                        dropdownPosition  ="auto"
                        #client_select
                        placeholder       ="Select Country"
                        class             ="form-control "
                        [multiple]        ="false"
                        (change)          ="changeCountry()"
                        formControlName   ="country"
                        [(ngModel)]       ="saveRequest.data.patientDemographics.address.countryId">
                      </ng-select>
                        <!-- <select class="custom-select dropdown-arrow" name="country" formControlName="country"
                         [(ngModel)]="saveRequest.data.patientDemographics.address.countryId" id="inputGroupSelectcountry">
                          <option selected>Select Country</option>
                          <option value="1">United State of America</option>
                          <option value="2">Pakistan</option>
                          <option value="3">Egypt</option>
                        </select> -->
                      </div>
                      <div class="form-group col-md-4">
                        <label>State/Province </label>
                        <ng-select
                        [items]           ="allState"
                        bindLabel         ="stateName"
                        bindValue         ="stateId"
                        [virtualScroll]   ="true"
                        dropdownPosition  ="auto"
                        #client_select
                        placeholder       ="Select State"
                        class             ="form-control "
                        [multiple]        ="false"
                        (change)          ="changeState(0)"
                        formControlName   ="state"
                        [(ngModel)]       ="saveRequest.data.patientDemographics.address.stateId">
                      </ng-select>
                        <!-- <select class="custom-select dropdown-arrow" name="state" formControlName="state"
                        [(ngModel)]="saveRequest.data.patientDemographics.address.stateId" id="inputGroupSelectstate">
                          <option selected>State/Province</option>
                          <option value="1">TX</option>
                          <option value="2">TZ</option>
                        </select> -->
                      </div>
                      <div class="form-group col-md-4">
                        <label>City </label>
                        <div class="input-group">
                          <ng-select
                          [items]           ="allCities"
                          bindLabel         ="cityName"
                          bindValue         ="cityId"
                          [virtualScroll]   ="true"
                          dropdownPosition  ="auto"
                          #client_select
                          placeholder       ="Select City"
                          class             ="form-control "
                          [multiple]        ="false"
                          formControlName   ="city"
                          [(ngModel)]       ="saveRequest.data.patientDemographics.address.cityId">
                        </ng-select>
                          <!-- <select class="custom-select dropdown-arrow" name="city" state="city" formControlName="city"
                          [(ngModel)]="saveRequest.data.patientDemographics.address.city" id="inputGroupcity">
                            <option selected>Select City</option>
                            <option value="1">TX</option>
                            <option value="2">TZ</option>
                          </select> -->
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Zip/Postal Code </label>
                        <div class="input-group">
                          <input type="text" name="zip" formControlName="zip" class="form-control" placeholder="Zip/Postal Code"
                            aria-describedby="basic-addon1" maxlength="10" length="10" [(ngModel)]="saveRequest.data.patientDemographics.address.zip">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
