<!--
<link rel="icon" type="image/x-icon" href="../favicon.png">
<app-navbar></app-navbar>
 <router-outlet></router-outlet> -->

<!-- <app-home-layout></app-home-layout> -->
<!-- <button type="button" name="button" (click)="stop()"> stop timer</button> -->
<router-outlet class="container-app"></router-outlet>

<!-- <ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader>

</div>


<a class="scroll-to-top rounded" (click)='gotoTop()' [routerLink]="">
  <i class="fas fa-angle-up"></i>
</a> -->
