<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
  <!-- <link rel="icon" type="image/x-icon" href="assets/img/sip_logo_bluewhite.png"> -->
  <!-- <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content=""> -->
  <!-- <meta name="author" content=""> -->

   <!-- <title>NGLIS</title> -->

  <!-- Custom fonts for this template-->
   <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
   <!-- <s cript src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->

<!-- </head> -->

<!-- <body id="page-top" class="sidebar-toggled"> -->
  <app-navbar></app-navbar>
  <div id="wrapper">
    <router-outlet></router-outlet>
    <ngx-ui-loader bgsColor="#df4661" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)" bgsPosition= "center-center"></ngx-ui-loader>
</div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" (click)='gotoTop()' [routerLink]="">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Wizards Modal-->
  <div class="modal fade" id="wizardsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div> -->

        <div class="modal-body">

          <ul class="nav nav-tabs nav-continue-back d-none" id="progresstab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#useragreement_panel" data-toggle="tab" aria-expanded="true">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#partneragreement_panel" data-toggle="tab" aria-expanded="true">
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="useragreement_panel">
              <div class="header-wizards">
                <h5>Users Agreement </h5>
              </div>

              <div class="card shadow mb-2">
                <!-- Card Body -->
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                  <p>Agrees to and does guarantee the direct payment of employee-leasing company benefits in accordance
                    with the
                    employee-leasing law of New Hampshire, RSA 277-B, as amended and all rules and regulations
                    promulgated thereunder, of
                    (Name of Corporation), of
                    (Home Address), being a subsidiary of the aforesaid parent company, an employer and an
                    employee-leasing company in the
                    said state.</p>
                  <p>
                    It is further agreed that the liability of the parent corporation shall be that of the
                    employee-leasing company and that
                    upon default of the employee-leasing company the labor commissioner of the said state may demand of
                    the said guarantor
                    payment of the said benefits in manner prescribed by him.</p>
                  <p>
                    This agreement shall not be terminated without a sixty-day prior written notice to the said
                    commissioner. Written notice
                    of such termination shall not relieve the parent corporation of its liability under this agreement
                    for obligations that
                    occurred prior to the effective date of such termination.
                  </p>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="checkterm">
                  <label class="custom-control-label" for="checkterm">I accept the Terms and
                    Condition <span class="text-danger">*</span></label>
                </div>
              </div>
              <a type="submit" class="btn submit-button float-right continue" id="agreement_continue">Continue</a>
              <a class="btn btn-info float-right mr-2" href="#" data-toggle="modal" data-target="#logoutModalold">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
            <div role="tabpanel" class="tab-pane" id="partneragreement_panel">
              <div class="header-wizards">
                <h5>Partner Agreement </h5>
              </div>

              <div class="card shadow mb-2">
                <!-- Card Body -->
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                  <p>Agrees to and does guarantee the direct payment of employee-leasing company benefits in accordance
                    with the
                    employee-leasing law of New Hampshire, RSA 277-B, as amended and all rules and regulations
                    promulgated thereunder, of
                    (Name of Corporation), of
                    (Home Address), being a subsidiary of the aforesaid parent company, an employer and an
                    employee-leasing company in the
                    said state.</p>
                  <p>
                    It is further agreed that the liability of the parent corporation shall be that of the
                    employee-leasing company and that
                    upon default of the employee-leasing company the labor commissioner of the said state may demand of
                    the said guarantor
                    payment of the said benefits in manner prescribed by him.</p>
                  <p>
                    This agreement shall not be terminated without a sixty-day prior written notice to the said
                    commissioner. Written notice
                    of such termination shall not relieve the parent corporation of its liability under this agreement
                    for obligations that
                    occurred prior to the effective date of such termination.
                  </p>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="checkterm">
                  <label class="custom-control-label" for="checkterm">I accept the Terms and
                    Condition <span class="text-danger">*</span></label>
                </div>
              </div>
              <a href="" type="submit" class="btn submit-button float-right">Continue</a>
              <a class="btn btn-info float-right mr-2" href="#" data-toggle="modal" data-target="#logoutModalold">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModalold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->

  <!-- Data Table -->
  <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script> -->
  <!-- select 2-->
  <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script> -->

  <!-- <script>
    $(function () {
      console.log("thereunder");
      $('#select-role').select2({
        dropdownParent: $('#wizardsModal'),
        placeholder: "Select Role"
      });
    });
    $(".toggle-password").click(function () {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
    $(".toggle-password2").click(function () {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });

  </script>
  <script>
    $(document).ready(function () {
      $(".recent-link .collapse").addClass("show");
      $('#users thead tr').clone(true).appendTo('#users thead');
      $('#users thead tr:eq(1) th').each(function (i) {
        var title = $(this).text();
        $(this).html('<input class="form-control" type="text" placeholder="Search" />');

        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      });
      var table = $('#users').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        iDisplayLength: -1,
        "dom": '<"top"fl>rt<"bottom"ip><"clear">'
      });
    });
  </script>
  <script>
    $('.continue').click(function () {
      $('.nav-continue-back > .nav-item > .active').parent().next('li').find('a').trigger('click');
      // $('.nav-item > .active').parent().next('li').find('a').tab('show');
    });
    $('.back').click(function () {
      $('.nav-continue-back > .nav-item > .active').parent().prev('li').find('a').trigger('click');
      // $('.nav-item > .active').parent().prev('li').find('a').tab('show');
    });

  </script> -->
  <a class="scroll-to-top rounded" (click)='gotoTop()' [routerLink]="">
    <i class="fas fa-angle-up"></i>
  </a>
<!-- </body>

</html> -->
