/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import "~angular-notifier/styles";
.notifier__notification--material {
    /* border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default; */
    padding-top: 5px !important;
    padding-right: 26px !important;
    padding-bottom: 5px !important;
    padding-left: 26px !important;
    color: black !important;
}

/* html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Tahoma", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 1px;
}

* {
	box-sizing: inherit;
} */

/* APP */

/* .app {
	display: block;
	padding: 30px;
} */

/* HEADINGS */

/* h1 {
	font-size: 30px;
	padding-bottom: 10px;
}

h2 {
	margin-top: 40px;
	font-size: 18px;
} */

/* BUTTONS */

/* .button {
	display: inline-block;
	padding: 11px 16px 10px;
	margin-right: 4px;
	background: none;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

.button--primary {
	background-color: #2B90D9;
	color: #FFF;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active {
	background-color: #2273AD;
}

.button--secondary {
	background-color: #DDD;
	color: #333;
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:active {
	background-color: #CACACA;
} */
