<footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Version 1.0 Copyright &copy; NGLIS 2021</span>
      </div>
    </div>
  </footer>
