<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <nav aria-label="breadcrumb" class="breadcrumb_nav">
            <ol class="breadcrumb breadcrumb-arrow">
              <li class="small"><a routerLink=""><i class="fa fa-home"></i> Home</a></li>
              <li class="small"><a routerLink="/create-intake">Intake</a></li>
              <li class="small active"><span>Update Intake</span></li>
            </ol>
          </nav>
            <div class=" container-fluid p-2">
                <div class="row">
                  <div class="col-xl-12 col-lg-12">
                    <div class="card shadow  mb-2">
                      <form  [formGroup]="intakeForm">
                        <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                          <h6 class="m-0 font-weight-bold float-left">Update Intake
                          </h6>
                          <div class="no-arrow">
                            <!-- <div class="custom-control custom-checkbox custom-control-inline float-right mt-2">
                              <input type="checkbox" class="custom-control-input" checked="" id="print-label" name="saveprint-label">
                              <label class="custom-control-label" for="print-label">Print Label</label>
                            </div> -->

                            <a href="" data-target="#submitModalIntake" data-toggle="modal"
                              class="btn btn-sm submit-button float-right  ">Update</a>
                            <!-- <button appRbac featureCode="TWMA-CNB" *ngIf="selectedIntake.totalCaseCount != 0 && disableBatchButton == false"
                                    class="btn btn-sm submit-button float-right mr-2"> <a style="text-decoration: none; color: white;" target="_blank" routerLink="/add-batch/{{selectedIntake?.intakeId}}"> Create Batch </a></button> -->
                            <button appRbac featureCode="TWMA-CNB" *ngIf="selectedIntake.totalCaseCount != 0 && disableBatchButton == false"
                                    class="btn btn-sm submit-button float-right mr-2"> <a style="text-decoration: none; color: white;" (click)="goToAddBatch(selectedIntake?.intakeId)" [routerLink]=""> Create Batch </a></button>
                            <button appRbac featureCode="TWMA-CNB" *ngIf="selectedIntake.totalCaseCount == 0 && disableBatchButton == true" disabled
                                    class="btn btn-sm submit-button float-right mr-2"> Create Batch </button>
                            <button appRbac featureCode="TWMA-CNB" *ngIf="selectedIntake.totalCaseCount != 0 && disableBatchButton == true" disabled
                                    class="btn btn-sm submit-button float-right mr-2"> Create Batch </button>

                            <!-- <button appRbac featureCode="TWMA-CNB" *ngIf="selectedIntake.totalCaseCount != 0 && disableBatchButton == true"
                                            class="btn btn-sm submit-button float-right mr-2"> <a style="text-decoration: none; color: white;" target="_blank" routerLink="/add-batch/{{selectedIntake?.intakeId}}"> Create Batch </a></button> -->





                          </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label class="col-md-4 col-form-label ">Intake ID </label>
                                <div class="col-md-8">
                                  <label class="col-form-label font-weight-bold">{{selectedIntakeID}}</label>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="ClientName" class="col-md-4 col-form-label  ">Client Name <span
                                    class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                      <ng-select
                                      [items]           ="allClientName"
                                      bindLabel         ="clientName"
                                      [virtualScroll]   ="true"
                                      dropdownPosition  ="auto"
                                      #client_name_search
                                      placeholder       ="Select Client Name"
                                      formControlName   ="clientName"
                                      class             ="form-control"
                                      [multiple]        ="false"
                                      (change)          = "clientChanged()"
                                      [loading]         ="clientLoading"
                                      (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                                      [(ngModel)]       ="clientSearchString"
                                      [ngClass]         ="{ 'is-invalid': submitted && f.clientName.errors }" required>
                                    </ng-select>
                                    <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">You did not select Client Name.</div>

                                    </div>
                              </div>

                              <div class="form-group row">
                                <label for="" class="col-md-4 col-form-label ">Collection Date <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                  <input type="datetime-local" required class="form-control p-0" max="{{maxDate}}T00:00:00" disabled
                                  [(ngModel)] ="saveRequestCollectionDate" id="coll-date" name="collectionDate" formControlName="collectionDate" (change)="collectDateChange($event)"
                                    aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.collectionDate.errors }">
                                    <div *ngIf="submitted && f.collectionDate.errors" class="invalid-feedback">You did not select Collection Date.</div>

                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="" class="col-md-4 col-form-label ">By <span class="text-danger">*</span></label>
                                 <div class="col-md-8">
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input " formControlName="collectedBy" name="collectedBy"
                                     id="sip1" value="1" checked [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                                    <label class="custom-control-label " for="sip1" >siP</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="client1" formControlName="collectedBy" name="collectedBy"
                                     value="2" [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                                    <label class="custom-control-label" for="client1">Client</label>
                                    <div *ngIf="submitted && f.collectedBy.errors" class="invalid-feedback">Please Selct one Personel.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="" class="col-md-4 col-form-label ">Notes <span class="text-danger"></span></label>
                                <div class="col-md-8">
                                  <textarea pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" [(ngModel)] ="saveRequest.data.notes" [ngClass] ="{ 'is-invalid': submitted && f.notes.errors }" name="notes" maxlength="250" length="250" formControlName="notes" class="form-control" cols="" rows="3" placeholder="Notes" resize="none"></textarea>
                                  <div *ngIf="submitted && f.notes.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                                </div>

                              </div>

                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label  class="col-md-4 col-form-label "># of Initial Empty Kits <span class="text-danger">*</span></label>
                                <div class="col-md-3">
                                  <div class="input-group input-group-sm ">

                                    <input [(ngModel)] ="saveRequest.data.countKits" name="countKits" formControlName="countKits" type="text" pattern="\d*" maxlength="3" (keyup)="toNumeric($event)"
                                    class="form-control" aria-label="Small" placeholder="# of swabs/ transport started with" [ngClass] ="{ 'is-invalid': submitted && f.countKits.errors }">
                                    <div *ngIf="submitted && f.countKits.errors?.required" class="invalid-feedback">You did not provided Empty Kits.</div>
                                    <div *ngIf="submitted && f.countKits.errors?.pattern" class="invalid-feedback">only numbers are  allowed.</div>

                                  </div>
                                </div>
                                <label  class="col-md-2 col-form-label ">Left</label>
                                <div class="col-md-3">
                                  <div class="input-group input-group-sm">

                                    <input [(ngModel)] ="saveRequest.data.countKitsLeft" name="countKitsLeft" formControlName="countKitsLeft"
                                    type="text" class="form-control" aria-label="Small" pattern="\d*" maxlength="3" (keyup)="toNumeric($event)"
                                     placeholder="# of swabs/ transport started with">
                                    <!-- <div *ngIf="submitted && f.countKitsLeft.errors" class="invalid-feedback">You did not provided Empty Kits.</div>
                                    <div *ngIf="submitted && f.countKitsLeft.errors?.pattern" class="invalid-feedback">only numbers are  allowed.</div> -->

                                  </div>
                                </div>

                              </div>
                              <div class="table mb-1">
                                <table class="table table-bordered table-sm mb-0" width="100%"
                                  style="vertical-align: middle;">
                                  <thead>
                                    <tr class="table-secondary">
                                      <th></th>
                                      <th>NP</th>
                                      <th>N</th>
                                      <th>O</th>
                                      <th>S</th>
                                      <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td> # of Swabs</td>
                                      <td><input type="text" maxlength="3" class="form-control form-control-sm" placeholder="# of Nasopharyngeal Swabs"
                                        aria-describedby="basic-addon1" name="nP" (keyup)="swabChange($event)" [(ngModel)]="swabNP"
                                         formControlName="nP" min="0" pattern="\d*">

                                        <!-- <div *ngIf="submitted && f.nP.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->

                                      </td>
                                      <td><input type="text" maxlength="3" class="form-control form-control-sm" placeholder="# of Nasal Swabs"
                                        aria-describedby="basic-addon1" name="n" formControlName="n" min="0" (keyup)="swabChange($event)"  [(ngModel)]="swabN"
                                         formControlName="n" min="0" pattern="\d*">

                                        <!-- <div *ngIf="submitted && f.n.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->
                                     </td>
                                      <td><input type="text" maxlength="3"  class="form-control form-control-sm" placeholder="# of Oropharyngeal Swabs"
                                        aria-describedby="basic-addon1" name="o" formControlName="o" min="0" (keyup)="swabChange($event)"  [(ngModel)]="swabO"
                                         formControlName="o" min="0" pattern="\d*">

                                        <!-- <div *ngIf="submitted && f.o.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->
                                      </td>
                                      <td><input type="text" maxlength="3" class="form-control form-control-sm" placeholder="# of Saliva Swabs"
                                        aria-describedby="basic-addon1" name="s" formControlName="s" min="0" (keyup)="swabChange($event)"  [(ngModel)]="swabS"
                                         formControlName="s" min="0" pattern="\d*">

                                        <!-- <div *ngIf="submitted && f.s.errors?.maxlength" class="invalid-feedback">only three character are allowed.</div> -->
                                      </td>
                                      <td align="center">{{totalSpecimen}}</td>

                                    </tr>
                                    <tr>
                                      <td>Accessioned</td>
                                      <td align="center">
                                        <a [routerLink]=""  *ngIf="swabNPA > 0" (click)="loadSepcimenSearch('NP',selectedIntake?.intakeId)"> {{swabNPA}} </a>
                                        <span *ngIf="swabNPA <= 0" > {{swabNPA}} </span>
                                        <a [routerLink]="" appRbac featureCode="SPCA-CQ" (click)="loadCreateMinAccession(selectedIntake?.intakeId,selectedIntake?.clientId,selectedIntake?.collectionTimestamp,selectedIntake?.collectedBy,2)"
                                          class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                                      <td align="center">
                                        <a [routerLink]=""  *ngIf="swabNA > 0" (click)="loadSepcimenSearch('N',selectedIntake?.intakeId)"> {{swabNA}} </a>
                                        <span *ngIf="swabNA <= 0" > {{swabNA}} </span>
                                        <a [routerLink]="" appRbac featureCode="SPCA-CQ" (click)="loadCreateMinAccession(selectedIntake?.intakeId,selectedIntake?.clientId,selectedIntake?.collectionTimestamp,selectedIntake?.collectedBy,1)" class="btn btn-sm submit-button float-right"><i
                                            class="fa fa-plus "></i></a></td>
                                      <td align="center">
                                        <a [routerLink]=""  *ngIf="swabOA > 0" (click)="loadSepcimenSearch('O',selectedIntake?.intakeId)"> {{swabOA}} </a>
                                        <span *ngIf="swabOA <= 0" > {{swabOA}} </span>
                                        <a [routerLink]="" appRbac featureCode="SPCA-CQ" (click)="loadCreateMinAccession(selectedIntake?.intakeId,selectedIntake?.clientId,selectedIntake?.collectionTimestamp,selectedIntake?.collectedBy,3)"
                                          class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                                      <td align="center">
                                        <a [routerLink]="" *ngIf="swabSA > 0" (click)="loadSepcimenSearch('S',selectedIntake?.intakeId)"> {{swabSA}} </a>
                                        <span *ngIf="swabSA <= 0" > {{swabSA}} </span>
                                        <a [routerLink]="" appRbac featureCode="SPCA-CQ" (click)="loadCreateMinAccession(selectedIntake?.intakeId,selectedIntake?.clientId,selectedIntake?.collectionTimestamp,selectedIntake?.collectedBy,4)"
                                          class="btn btn-sm submit-button float-right"><i class="fa fa-plus "></i></a></td>
                                      <td align="center">{{totalSpecimenAccessioned}}</td>


                                    </tr>

                                  </tbody>
                                </table>
                                <div *ngIf="submitted && allemptySpecError" class="invalid-feedback-custom">Please provide atleast one Specimen.</div>

                              </div>
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon3">Scan code to add case </span>
                                </div>
                                <input type="text" class="form-control scaneverywhere" id="basic-url" aria-describedby="basic-addon3" [ngModelOptions]="{standalone: true}" (keyup)="addCaseInIntake($event)" [(ngModel)]="scanedCaseNumber">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon3" style="height: 28px">
                                    <img src="/assets/img/qrcode.png" style="height: inherit">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="attachment-select101" class="col-md-4 col-form-label  ">Attachment Type <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                  <select class="custom-select dropdown-arrow form-control select-control-sm" name="attType" formControlName="attType"
                                  [(ngModel)]="selectattachmentTypeId"
                                  [ngClass] ="{ 'is-invalid': submitted && f.attType.errors }" id="attachment-select101" style="width: 100%;">
                                    <option  selected disabled value="null">Select Attachment Type</option>
                                    <option *ngFor="let att of allAttachmentTypes"  value="{{att?.attachmentTypeId}}" [attr.attname]="att?.attachmentTypeName">{{att?.attachmentTypeName}}</option>
                                  <!-- <option value="1" attname="Consent Form">Consent Form</option>
                                  <option value="2" attname="Insurance Card">Insurance Card</option> -->

                                  </select>
                                  <div *ngIf="submitted && f.attType.errors" class="invalid-feedback">You did not select Attachment Type.</div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="upload-att11" class="col-md-4 col-form-label ">Select File <span class="text-danger">*</span></label>
                                <div class="col-md-8">
                                  <input type="file" accept="application/pdf,image/png,image/jpeg,image/jpg" class="form-control form-control-sm"  id="upload-att11" name="attFile" formControlName="attFile"
                                    aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.attFile.errors }" (change)="popFile($event)">
                                    <div *ngIf="submitted && f.attFile.errors" class="invalid-feedback">You did not select Attachment Type.</div>
                                </div>
                              </div>
                              <div class="table mb-0">
                                <table class="table table-sm table-bordered mb-1">
                                  <thead>
                                    <tr class="table-secondary">
                                      <th>Attachment Type</th>
                                      <th>File Name</th>
                                      <th >Download</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of attachmentTable; let i = index" >
                                      <td>{{item?.type}}</td>
                                      <td><a [routerLink]="" (click)="downloadFile(item?.intakeId,item?.fileUrl,item?.fileType,item?.fileId)">{{item?.file}}</a></td>
                                      <td >

                                        <a [routerLink]="" (click)="downloadFile(item?.intakeId,item?.fileUrl,item?.fileType,item?.fileId)"><i class="fa fa-download"></i></a>
                                      </td>

                                    </tr>
                                    <!-- <tr>
                                      <td>Consent Form</td>
                                      <td>abc.pdf</td>
                                      <td><a href="img/insurance-card.pdf"><i class="fa fa-download"></i></a></td>
                                    </tr> -->
                                  </tbody>
                                </table>
                                <span class="small">Maximum 3 files can be attached </span>
                              </div>
                            </div>
                          </div>


                        </div>
                      </form>
                    </div>
                    <div class="card shadow mb-2">
                      <app-manage-case></app-manage-case>
                    </div>

                  </div>
                </div>

                <!-- Content Row -->

            </div>
</div>
<!-- End of Main Content -->

<!-- Footer -->
<app-footer></app-footer>
<!-- End of Footer -->

</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Cancel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to cancel the case?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" href="#">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Remove</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to remove the case from this Intake?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" href="#">Remove</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createnewcaseModal" tabindex="-1" role="dialog" aria-labelledby="delete"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">

        <div class="modal-body p-0">

        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="createdetailcaseModal" tabindex="-1" role="dialog" aria-labelledby="delete"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 90%;">
      <div class="modal-content">

        <div class="modal-body p-0">
          <div class="card shadow">
            <app-create-case></app-create-case>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="attachment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attachments</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table mb-0">
            <table class="table table-sm table-bordered mb-1">
              <thead>
                <tr class="table-secondary">
                  <th>Attachment Type</th>
                  <th>File Name</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Consent Form</td>
                  <td>abc.pdf</td>
                  <td><a href=""><i class="fa fa-download"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="submitIntakeModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Submit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to submit, the Intake</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" href="create-intake.html">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="submitnewModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Submit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to submit, the case cannot be deleted after submission</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" href="add-case.html">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="submitModalIntake" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Submit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to update, the Intake</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="saveIntake()">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createnewcaseModalMin" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 90%;">
      <div class="modal-content">

        <div class="modal-body p-0">
          <app-minimum-case [fromCreateIntake]="dataForCreateCaseFromIntake"></app-minimum-case>

        </div>

      </div>
    </div>
  </div>
