<!-- <app-navbar></app-navbar> -->
<!-- <div id="wrapper"> -->
    <!-- Sidebar -->


    <!-- <app-sidebar></app-sidebar> -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->

      <div id="content">

        <!-- Begin Page Content -->
        <nav aria-label="breadcrumb navbar-light bg-light">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="small"><a routerLink="/manage-batches"> Batches</a></li>
            <li class="small active"><span>Manage Batches</span></li>
          </ol>
        </nav>

        <!-- End of Topbar -->

        <!-- menu tab -->

        <!-- End of menu tab -->

        <!-- Page tab -->


        <div class="container-fluid  p-2">



          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" appRbac featureCode="TWMA-VAB">
                  <a class="nav-link active" href="#active_batches" data-toggle="tab" aria-expanded="true">Active Batches</a>
                </li>
                <li class="nav-item" appRbac featureCode="TWMA-VSB">
                  <a class="nav-link" href="#submitted_batches" data-toggle="tab" aria-expanded="false">Submitted Batches                    </a>
                </li>
                <li class="nav-item" appRbac featureCode="TWMA-VCB">
                  <a class="nav-link" href="#canceled_batches" data-toggle="tab" aria-expanded="false">Cancelled Batches                    </a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="active_batches" appRbac featureCode="TWMA-VAB">
                  <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                      <h6 class="m-0 font-weight-bold float-left">Manage Batches</h6>
                      <div class="dropdown no-arrow">
                        <a appRbac featureCode="TWMA-CNB" routerLink="/add-batch/1" class="btn btn-sm submit-button float-right ">Create New Batch</a>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" id="covid19-active-batch" class="table  table-sm table-hover table-bordered" style="width:100%">
                          <thead>
                            <tr>
                              <th>Batch ID</th>
                              <th>Creation Date</th>
                              <th>Created By</th>
                              <th>Update Date</th>
                              <th>Updated By</th>
                              <th># of Cases</th>
                              <th appRbac featureCode="TWMA-UW">Worksheet</th>
                              <th appRbac featureCode="TWMA-PB">Print</th>
                              <th appRbac featureCode="TWMA-EEB">Export to Excel</th>
                              <th appRbac featureCode="TWMA-UR">Upload Results</th>
                              <th appRbac featureCode="TWMA-SR">Submit to Reporting</th>
                              <th appRbac featureCode="TWMA-CB">Cancel Batch</th>
                            </tr>
                          </thead>
                          <!-- <tbody *ngIf="covidAllActiveData.length>0" > -->
                          <tbody >
                            <tr *ngFor="let item of covidAllActiveData; let index=i" id="TR-{{item?.batchId}}">
                              <td>
                                <a *ngIf="updateBatchAction != true" class="">{{item?.batchId}}</a>
                                <a *ngIf="updateBatchAction == true" [routerLink]="" class="" (click)="goToEditBatch(item?.batchId)">{{item?.batchId}}</a>
                                <!-- <a *ngIf="updateBatchAction == true" routerLink="/edit-batch/{{item?.batchId}}" class="">{{item?.batchId}}</a> -->
                              </td>
                              <td>{{item?.batchCreationDate | momentDate}}</td>
                              <!-- <td>{{item?.createdTimestamp | momentDate:'MM/dd/yyyy hh:mm'}}</td> -->
                              <td>{{item?.batchCreatedBy}} </td>
                              <td>{{item?.batchUpdationDate | momentDate}}</td>
                              <td>{{item?.batchUpdatedBy}}</td>
                              <td>{{item?.numberOfCases}}</td>
                              <td appRbac featureCode="TWMA-UW">
                                <a [routerLink]="" (click)="goToWorkshhet(item?.batchId)" class="ml-1"><i class="far fa-newspaper" title="Worksheet"></i> COVID-19</a>
                                <!-- <a routerLink="/worksheet/{{item?.batchId}}" target="_blank" class="ml-1"><i class="far fa-newspaper" title="Worksheet"></i> COVID-19</a> -->
                              </td>
                              <td appRbac featureCode="TWMA-PB">
                                <a [routerLink]="" (click)="printPDF(item?.batchId, true)" class="ml-1"><i class="fa fa-print" title="Print"></i></a>
                              </td>
                              <td appRbac featureCode="TWMA-EEB">
                                <a [routerLink]="" (click)="exportToExcel(item?.batchId, true)" class="ml-1"><i class="fa fa-file-export" title="Export to Excel"></i></a>
                              </td>
                              <td appRbac featureCode="TWMA-UR">
                                <a class="ml-1 text-primary" (click)="triggerUpload(item?.batchId)" id="buttonid1" type="button"><i class="fa fa-upload" title="Upload Results"></i></a>
                                <input (change)="uploadResults($event.target,item?.batchId)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="resultUpload-{{item?.batchId}}" type='file' hidden/>
                              </td>
                              <td appRbac featureCode="TWMA-SR">
                                <a [routerLink]="" (click)="openSubmitModal(item?.batchId)" class="ml-1"><i class="fa fa-check" title="Submit to Reporting"></i></a>
                              </td>
                              <td appRbac featureCode="TWMA-CB">
                                <a [routerLink]="" class="text-danger ml-1" (click)="showCancelModal(item)"><i class="fa fa-ban" title="Cancel"></i></a>
                              </td>
                            </tr>


                          </tbody>
                          <!-- <tbody *ngIf="covidAllActiveData.length == 0">
                            <tr class="odd">
                              <td valign="top" colspan="11" class="dataTables_empty">No data available in table</td>\
                            </tr>
                          </tbody> -->

                        </table>
                      </div>

                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="submitted_batches" appRbac featureCode="TWMA-VSB">
                  <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                      <h6 class="m-0 font-weight-bold float-left">Manage Batches</h6>
                      <div class="dropdown no-arrow">
                        <a appRbac featureCode="TWMA-CNB" routerLink="/add-batch/1" class="btn btn-sm submit-button float-right ">Create New Batch</a>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">

                     <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger" id="covid19-submitted-batch" class="table  table-sm table-hover table-bordered" style="width:100%">
                            <thead>
                                <tr>

                                  <th>Batch ID</th>
                                  <th>Creation Date</th>
                                  <th>Created By</th>
                                  <th>Submit Date</th>
                                  <th>Submitted By</th>
                                  <th># of Cases</th>
                                  <th appRbac featureCode="TWMA-VW">View Worksheet</th>
                                  <th appRbac featureCode="TWMA-PB">Print</th>
                                  <th appRbac featureCode="TWMA-EEB">Export to Excel</th>
                                  <th appRbac featureCode="TWMA-DR">Download Results</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of covidSubmittedData; let index=i" id="TR-{{item?.batchId}}">
                                  <td>{{item?.batchId}}</td>
                                  <td>{{item?.batchCreationDate | momentDate}}</td>
                                  <!-- <td>{{item?.createdTimestamp | momentDate:'MM/dd/yyyy hh:mm'}}</td> -->
                                  <td>{{item?.batchCreatedBy}} </td>
                                  <td>{{item?.batchUpdationDate | momentDate}}</td>
                                  <td>{{item?.batchUpdatedBy}}</td>
                                  <td>{{item?.numberOfCases}}</td>
                                  <td appRbac featureCode="TWMA-VW">
                                    <a [routerLink]="" (click)="goToWorkshhet(item?.batchId)" class="ml-1"><i class="far fa-newspaper" title="Worksheet"></i> COVID-19</a>
                                    <!-- <a  routerLink="/worksheet/{{item?.batchId}}"  target="_blank" class="ml-1"><i class="far fa-newspaper" title="View Worksheet"></i> COVID-19</a> -->
                                  </td>
                                  <td appRbac featureCode="TWMA-PB">
                                    <a  [routerLink]="" (click)="printPDF(item?.batchId, false)" class="ml-1"><i class="fa fa-print" title="Print"></i></a>

                                  </td>
                                  <td appRbac featureCode="TWMA-EEB">
                                    <a  [routerLink]="" (click)="exportToExcel(item?.batchId, false)" class="ml-1"><i class="fa fa-file-export" title="Export to Excel"></i></a>
                                  </td>
                                  <td appRbac featureCode="TWMA-DR">
                                    <a  [routerLink]="" (click)="downloadResults(item?.batchId)" class="ml-1 text-primary" type="button"><i class="fa fa-download" title="Results"></i></a>
                                  </td>
                                </tr>


                              </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="canceled_batches" appRbac featureCode="TWMA-VCB">
                  <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                      <h6 class="m-0 font-weight-bold float-left">Manage Batches</h6>
                      <div class="dropdown no-arrow">
                        <a appRbac featureCode="TWMA-CNB" routerLink="/add-batch/1" class="btn btn-sm submit-button float-right ">Create New Batch</a>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">

                     <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger" id="covid19-cancelled-batch" class="table  table-sm table-hover table-bordered" style="width:100%">
                            <thead>
                                <tr>

                                  <th>Batch ID</th>
                                  <th>Creation Date</th>
                                  <th>Created By</th>
                                  <th>Cancellation Date</th>
                                  <th>Cancelled By</th>
                                  <th># of Cases</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of covidCancelledData; let index=i" id="TR-{{item?.batchId}}">
                                  <td>{{item?.batchId}}</td>
                                  <td>{{item?.batchCreationDate | momentDate}}</td>
                                  <!-- <td>{{item?.createdTimestamp | momentDate:'MM/dd/yyyy hh:mm'}}</td> -->
                                  <td>{{item?.batchCreatedBy}} </td>
                                  <td>{{item?.batchUpdationDate | momentDate}}</td>
                                  <td>{{item?.batchUpdatedBy}}</td>
                                  <td>{{item?.numberOfCases}}</td>

                                </tr>



                              </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

  <!-- </div> -->
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Cancel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to cancel, all cases will go back to pending list again</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" [routerLink]="" (click)="cancelBatch()">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Submit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">You can’t update or edit the batch once submitted. Are you sure?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" (click)="submitToReporting()" [routerLink]="">Submit</a>
        </div>
      </div>
    </div>
  </div>
