<!-- <app-navbar></app-navbar> -->
<!-- Sidebar -->
<!-- <app-sidebar></app-sidebar> -->
<!-- End of Sidebar -->
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- End of Topbar -->

    <!-- Begin Page Content -->

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-arrow">
        <li class="small"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="small active"><span>Dashboard</span></li>
      </ol>
    </nav>

    <div class="container-fluid p-2">
      <div class="row user-module-dashboard">
        <!-- <div class="col-xl-12 col-md-12">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="fa fa-warning"></i> You have not defined any users. <a href="#">Define now</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span class="btn btn-sm btn-danger" aria-hidden="true">Dismiss</span>
            </button>
          </div>
        </div> -->

        <!-- <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total No of Clients</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{totalClients}}</div>
                    </div>

                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total No of Users
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalUsers}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Earnings (Monthly) Card Example -->


      </div>

      <div class="row specimen-module-dashboard">
            <div class="clearfix"></div>
            <div class="col-xl-4 col-lg-4 col-sm-12" *ngIf="hideFirstGraph == false" >
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" *ngIf="firstGraphFrom == null && firstGraphTo == null" >Today's Cases</h6>
                  <h6 class="m-0 font-weight-bold text-primary" *ngIf="firstGraphFrom != null && firstGraphTo != null" >From <span>{{firstGraphFrom | momentDate}}</span> To <span>{{firstGraphTo | momentDate}}</span> </h6>
                  <div class="dropdown no-arrow">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text small" name="" id="">Choose Date</span>
                      </div>
                      <input type="text" ngxDaterangepickerMd [(ngModel)]="firstSelected"
                      (change)="firstGraphBetween($event)"
                      [showDropdowns]="true"
                      [maxDate]="maxDate"

                       class="form-control"/>
                       <!-- (choosedDate)="firstGraphBetween($event)" -->
                      <!-- <label class="mt-2 text-primary font-weight-bold small">Choose Date</label> -->
                      <!-- <input type="text" class="form-control form-control-sm "  id="todays_date" name="todays_date"
                      aria-describedby=""> -->
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive mt-1">
                    <!-- Choosed date: {{firstSelected | json}} -->
                    <table class="table nowrap table-sm table-hover table-bordered table-dashboard" style="width:100%">
                      <thead class="bg-light">
                        <tr>
                            <th rowspan="2">Clients</th>
                            <th colspan="2">Cases</th>
                            <th colspan="2">Labels</th>
                        </tr>
                        <tr>
                            <th>Draft</th>
                            <th>Triaged</th>
                            <th>Printed</th>
                            <th>Pending</th>
                        </tr>
                    </thead>
                      <tbody class="">
                        <tr *ngFor="let item of firstGraphData; let i = index;" >
                          <td >{{item?.clientName}}</td>
                          <!-- <td ><a (click)="byName(item?.clientId)" [routerLink]="">{{item?.clientName}}</a></td> -->
                          <td>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.draftCount > 0"  (click)="caseDraft(item?.clientId, item?.clientName)" [routerLink]="">{{item?.draftCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.draftCount}}</span>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.draftCount == 0">{{item?.draftCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.draftCount}}</span>
                          </td>
                          <td>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.accessionedCount > 0" (click)="caseAccessioned(item?.clientId, item?.clientName)" [routerLink]="">{{item?.accessionedCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.accessionedCount}}</span>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.accessionedCount == 0">{{item?.accessionedCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.accessionedCount}}</span>
                          </td>
                          <td>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.printedCount > 0" (click)="byPrinted(item?.clientId, item?.clientName)" [routerLink]="">{{item?.printedCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.printedCount}}</span>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.printedCount == 0">{{item?.printedCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.printedCount}}</span>
                          </td>
                          <td>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.pendingCount > 0" (click)="byNotPrinted(item?.clientId, item?.clientName)" [routerLink]="">{{item?.pendingCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.pendingCount}}</span>
                            <a [hidden] = "manageCaseAction == false" *ngIf="item?.pendingCount == 0">{{item?.pendingCount}}</a><span [hidden] = "manageCaseAction == true">{{item?.pendingCount}}</span>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>Grossman</td>
                          <td><a href="add-case.html">27</a></td>
                          <td><a href="add-case.html">130</a></td>
                          <td><a href="add-case.html">12</a></td>
                          <td><a href="add-case.html">145</a></td>
                        </tr>
                         -->
                      </tbody>
                      <tfoot class="bg-light">
                        <tr>
                            <th>Total</th>
                            <th>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footerDraftTotal > 0" (click)="byTotalDraft(0)" [routerLink]="">{{footerDraftTotal}}</a><span [hidden] = "manageCaseAction == true">{{footerDraftTotal}}</span>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footerDraftTotal == 0">{{footerDraftTotal}}</a><span [hidden] = "manageCaseAction == true">{{footerDraftTotal}}</span>
                            </th>
                            <th>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footerAccessTotal > 0" (click)="byTotalAccessioned(0)" [routerLink]="">{{footerAccessTotal}}</a><span [hidden] = "manageCaseAction == true">{{footerAccessTotal}}</span>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footerAccessTotal == 0">{{footerAccessTotal}}</a><span [hidden] = "manageCaseAction == true">{{footerAccessTotal}}</span>
                             </th>
                            <th>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footerPrintedTotal > 0" (click)="byTotalPrinted(0)" [routerLink]="">{{footerPrintedTotal}}</a><span [hidden] = "manageCaseAction == true">{{footerPrintedTotal}}</span>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footerPrintedTotal == 0">{{footerPrintedTotal}}</a><span [hidden] = "manageCaseAction == true">{{footerPrintedTotal}}</span>
                            </th>
                            <th>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footernotPrintedTotal > 0" (click)="byTotalNotPrinted(0)" [routerLink]="">{{footernotPrintedTotal}}</a><span [hidden] = "manageCaseAction == true">{{footernotPrintedTotal}}</span>
                              <a [hidden] = "manageCaseAction == false" *ngIf="footernotPrintedTotal == 0">{{footernotPrintedTotal}}</a><span [hidden] = "manageCaseAction == true">{{footernotPrintedTotal}}</span>
                            </th>
                        </tr>
                    </tfoot>


                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-sm-12" *ngIf="hideSecondGraph == false">
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" *ngIf="secondGraphFrom == null && secondGraphTo == null">Today's cases</h6>
                  <h6 class="m-0 font-weight-bold text-primary" *ngIf="secondGraphFrom != null && secondGraphTo != null">From <span>{{secondGraphFrom | momentDate}}</span> To <span>{{secondGraphTo | momentDate}}</span> </h6>
                  <div class="dropdown no-arrow">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text small" name="" id="">Choose Date</span>
                      </div>
                      <input type="text" ngxDaterangepickerMd [(ngModel)]="secondSelected"
                      (change)="secondGraphBetween($event)"
                      [showDropdowns]="true"
                      [maxDate]="maxDate"

                       class="form-control"/>
                      <!-- <label class="mt-2 text-primary font-weight-bold small">Choose Date</label> -->
                      <!-- <input type="text" class="form-control form-control-sm "  id="todays_date" name="todays_date" -->
                      <!-- aria-describedby=""> -->
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="secondChartContainer" style="width: 100%; height: 190px;"></div>
                      <!-- <h5 class="text-dark font-weight-bold text-center">Cases</h5> -->
                      <!-- <div id="chart_trenddiv" class="chart"></div> -->

                </div>
              </div>
            </div>


            <div class="col-xl-4 col-lg-4 col-sm-12" *ngIf="hideThirdGraph == false">
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Last 7 Days Cases</h6>
                  <div class="dropdown no-arrow">

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="thirdChartContainer" style="width: 100%; height: 195px;"></div>
                      <!-- <h5 class="text-dark font-weight-bold text-center">Cases</h5> -->
                      <!-- <div id="chart_trenddiv" class="chart"></div> -->

                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-12" *ngIf="hidefourthGraph == false">
              <div class="card shadow mb-4 dashboard-box">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Number of Cases</h6>
                  <div class="dropdown no-arrow">

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <p class="font-weight-bold small text-white text-center bg-primary" style="margin: 0; padding: 3px;">Total no of cases : {{totalForthGraphCases}}</p>
                  <div id="fourthChartContainer" style="width: 100%; height: 195px;"></div>
                      <!-- <h5 class="text-dark font-weight-bold text-center">Cases</h5> -->
                      <!-- <div id="chart_trenddiv" class="chart"></div> -->

                </div>
              </div>
            </div>
          </div>



    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
<app-footer></app-footer>
  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
