

  <app-navbar></app-navbar>

  <div id="wrapper">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
    <ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader>

  </div>


  <a class="scroll-to-top rounded" (click)='gotoTop()' [routerLink]="">
    <i class="fas fa-angle-up"></i>
  </a>


  <div class="modal" id="LoaderModal1" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0" style="background: transparent;">
        <div class="modal-header border-0">

        </div>
        <div class="modal-body text-center">
          <div
            class="router-load-indicator">
            Loading Module
          </div>
        </div>
        <div class="modal-footer border-0">

        </div>
      </div>
    </div>
  </div>
