<section class="login-section bg-gradient-primary" >
  <div class="container" >
    <notifier-container></notifier-container>

      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 logo-login">
          <img src="assets/img/logo.png" width="200">
        </div>
        <ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader>

        <div class="col-xl-6 col-lg-6 col-md-6 pt-5">
          <div class="border-0 shadow-loginbox my-5">
            <div class="card-body p-5">
              <!-- Nested Row within Card Body -->
              <div class="text-center">
                <h1 class="h4 text-white mb-4">Forgot Password</h1>
              </div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
                <!-- <div *ngIf="loginFailed" class="invalid-feedback-custom" style="color: white">Invalid Email.</div> -->
                <div class="form-group mb-4">
                  <label class="text-white">Please enter your email address to receive Reset Password
                                    email</label>
                  <input type="email" class="form-control form-control-user"  aria-describedby=""
                    placeholder="Email Address" formControlName="userName" [(ngModel)]="forgotRequest.data.userEmail"
                    [ngClass]="{ 'is-invalid': submitted && f.userName?.errors }" required>
                    <div style="color: white" *ngIf="submitted && f.userName?.errors?.required" class="invalid-feedback">You did not specify Email.</div>
                    <div style="color: white" *ngIf="submitted && f.userName?.errors?.email" class="invalid-feedback">You did not specify a valid Email.</div>
                    <div style="color: white" *ngIf="errorResponseFromServer == true" class="invalid-feedback-custom">You did not specify a valid Email.</div>
                </div>
                <div class="form-group mb-4">
                  <img src="assets/img/captcha.png" alt="">
                  <!-- <re-captcha (resolved)="resolved($event)" (resolved)="resolved($event)"
                  (error)="onError($event)"
                  errorMode="handled"
                  siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"></re-captcha> -->
                  <!-- <div style="color: white" *ngIf="submitted && captchaSuccess == false" class="invalid-feedback">You did not checked captcha.</div> -->

                </div>
                <!-- <div class="form-group mb-4">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label text-white" for="customCheck">Remember Me</label>
                  </div>
                </div> -->
                <button type="submit" name="button" class="btn submit-button btn-user login-btn float-right">
                  Submit
                </button>
                <div class="clearfix"></div>
              </form>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <a class="small text-left text-white float-left" routerLink="/Login">Back to Login</a>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xl-2 col-lg-2 col-md-2">

        </div>

      </div>

    </div>
</section>
