
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->

                <nav aria-label="breadcrumb navbar-light bg-light">
                    <ol class="breadcrumb breadcrumb-arrow">
                      <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
                      <li class="small"><a routerLink="/all-clients">Clients</a></li>
                      <li class=" small active"><span>Manage Clients</span></li>
                    </ol>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid p-2">
                  <notifier-container></notifier-container>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">

                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                    <h6 class="m-0 font-weight-bold float-left">Manage Clients</h6>
                                    <div class="dropdown no-arrow">
                                        <a appRbac featureCode="CLTA-AC" routerLink="/add-client" type="button"
                                            class="btn submit-button pull-right btn-sm">Add
                                            Clients</a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="table table-responsive">
                                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="clients" class="table table-sm table-bordered" style="width:100%">
                                      <!-- <table datatable id="clients" class="table table-sm table-bordered" style="width:100%"> -->

                                            <thead>
                                                <tr>
                                                    <th>Client Code</th>
                                                    <th>Client Name</th>
                                                    <th>Account Type</th>
                                                    <th>Contact No</th>
                                                    <th>Sales Representative</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                              <tr *ngFor="let client of allClients; let i = index" >
                                                <td style="width: 20%;">{{client.clientCode}}</td>
                                                <td style="width: 20%;">{{client.clientName}}</td>
                                                <td style="width: 15%;">{{client.accountType}}</td>
                                                <!-- <td style="width: 15%;" *ngIf="client?.clientTypeDto.length > 0">{{client.clientTypeDto[0].clientTypeId}}</td>
                                                <td style="width: 15%;" *ngIf="client?.clientTypeDto.length == 0" >not provided</td> -->
                                                <td style="width: 13%;">{{client?.contactNo}}</td>
                                                <td style="width: 20%;">{{client?.salesRepresentative}}</td>
                                                <td>{{client?.status}}</td>
                                                <!-- <td *ngIf="client.active == 0" >Draft</td>
                                                <td *ngIf="client.active == 1" >Active</td>
                                                <td *ngIf="client.active == 2" >Inactive</td>
                                                <td *ngIf="client.active > 2" >Invalid</td> -->
                                                <td>
                                                    <a [hidden] = "showUpdateAction == false" (click)="getSelectedClient(client.clientCode)" class="mx-1"><i
                                                            class="fa fa-edit text-info"></i></a>
                                                            <!-- *ngIf="client.active == 1" -->
                                                    <a appRbac featureCode="CLTA-ADC" *ngIf="client.statusId == 1" (click)="toggleStatus(client.clientId,2,i)" id="disable-{{client.clientId}}" class="mx-1"><i class="fa fa-ban text-danger"></i></a>
                                                    <a appRbac featureCode="CLTA-ADC" *ngIf="client.statusId == 2" (click)="toggleStatus(client.clientId,1,i)" id="enable-{{client.clientId}}" class="mx-1"><i class="fa fa-check-circle text-info"></i></a>
                                                    <!-- <a appRbac featureCode="CLTA-ADC" *ngIf="client.statusId != 2 && client.statusId != 1"  id="draft-{{client.clientId}}" class="mx-1"><i class="fa fa-check-circle text-info"></i></a> -->
                                                    <!-- <a *ngIf="client.active == 0" (click)="toggleStatus(client.clientId,1,i)" id="enable-{{client.clientId}}" class="mx-1"><i class="fa fa-check-circle text-info"></i></a> -->
                                                </td>
                                              </tr>
                                                <!-- <tr>
                                                    <td>1</td>
                                                    <td>John Smith</td>
                                                    <td>Histology</td>
                                                    <td>+1 123 456792</td>
                                                    <td>Jan Smith</td>
                                                    <td>Active</td>

                                                    <td>
                                                        <a (click)="getSelectedClient(1)" class=""><i
                                                                class="fa fa-edit text-info"></i></a>
                                                        <a (click)="toggleStatus(1,0)" id="disable-1"><i class="fa fa-ban text-danger"></i></a>
                                                        <a (click)="toggleStatus(1,1)" id="enable-1"><i class="fa fa-check-circle text-info"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Alexsa</td>
                                                    <td>Oncology</td>
                                                    <td>+1 123 456792</td>
                                                    <td>Martain</td>
                                                    <td>Draft</td>
                                                    <td>
                                                        <a (click)="getSelectedClient(2)" class=""><i
                                                                class="fa fa-edit text-info"></i></a>
                                                        <a (click)="toggleStatus(2,0)"  id="disable-2"><i class="fa fa-ban text-danger"></i></a>
                                                        <a (click)="toggleStatus(2,1)"  id="enable-2"><i class="fa fa-check-circle text-info"></i></a>
                                                    </td>
                                                </tr> -->

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

  <div class="modal fade" id="import-registrationModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="deactivate">Delete</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>

              </div>
              <div class="modal-body">
                <div class="form-heading">
                  <p>Registration Link - Bulk Send</p>
                </div>
                <hr/>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Attach Files <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input (change)="onFileSelect($event.target)" type="file" class="form-control">
                        <!-- <input type="file" class="custom-file-input" multiple id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->
                      </div>

                      <!-- <input type="file" class="form-control" multiple id=""> -->
                    </div>
                    <!-- <span class="small">Max Size 1MB , Excel file allowed</span> -->
                    <p class="mt-4 ">Sample file :<a href="assets/img/patients.xlsx" > Click here to download</a></p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn submit-button btn-sm mr-2" href="all-clients.html">Send</a>
              </div>
          </div>
      </div>
  </div>
