
  <div id="wrapper">
    <router-outlet class="CLUM"></router-outlet>
    <ngx-ui-loader bgsColor="#432764" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)"></ngx-ui-loader>
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" (click)='gotoTop()' [routerLink]="">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Wizards Modal-->


  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModalold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->

  <!-- Data Table -->
  <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script> -->
  <!-- select 2-->
  <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script> -->

  <!-- <script>
    $(function () {
      console.log("thereunder");
      $('#select-role').select2({
        dropdownParent: $('#wizardsModal'),
        placeholder: "Select Role"
      });
    });
    $(".toggle-password").click(function () {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
    $(".toggle-password2").click(function () {

      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });

  </script>
  <script>
    $(document).ready(function () {
      $(".recent-link .collapse").addClass("show");
      $('#users thead tr').clone(true).appendTo('#users thead');
      $('#users thead tr:eq(1) th').each(function (i) {
        var title = $(this).text();
        $(this).html('<input class="form-control" type="text" placeholder="Search" />');

        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      });
      var table = $('#users').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        iDisplayLength: -1,
        "dom": '<"top"fl>rt<"bottom"ip><"clear">'
      });
    });
  </script>
  <script>
    $('.continue').click(function () {
      $('.nav-continue-back > .nav-item > .active').parent().next('li').find('a').trigger('click');
      // $('.nav-item > .active').parent().next('li').find('a').tab('show');
    });
    $('.back').click(function () {
      $('.nav-continue-back > .nav-item > .active').parent().prev('li').find('a').trigger('click');
      // $('.nav-item > .active').parent().prev('li').find('a').tab('show');
    });

  </script> -->
  <!-- <bootstrap-alert alertPosition="top-left"></bootstrap-alert> -->

  <div class="modal" id="LoaderModal" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0" style="background: transparent;">
        <div class="modal-header border-0">

        </div>
        <div class="modal-body text-center">
          <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
            <circle cx="170" cy="170" r="160" stroke="#DF4661"/>
            <circle cx="170" cy="170" r="135" stroke="#003c71"/>
            <circle cx="170" cy="170" r="110" stroke="#DF4661"/>
            <circle cx="170" cy="170" r="85" stroke="#003c71"/>
          </svg>
        </div>
        <div class="modal-footer border-0">

        </div>
      </div>
    </div>
  </div>
<!-- </body>

</html> -->
