#clientUsers-nested tr td:first-child {
  cursor: pointer;
  font-size: 1.2em;
  color: skyblue;
  font-weight: 700;
}
#clientUsers-nested tr td:first-child::before {
  content: '+';
}
#clientUsers-nested tr.shown td:first-child::before{
  content: '-';
}
