
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->

    <nav aria-label="breadcrumb navbar-light bg-light">
      <ol class="breadcrumb breadcrumb-arrow">
        <li class="small"><a routerLink="/dashboard"><i class="fa fa-home"></i> Home</a></li>
        <li class="small"><a routerLink="/all-users">Users</a></li>
        <li class=" small active"><span>Manage Users</span></li>
      </ol>
    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
                <div class="container-fluid p-2">

                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" appRbac featureCode="USRA-MUI">
                                    <a class="nav-link " [ngClass]="{'active' : manageUserInternalAction == true}" href="#internal-users" data-toggle="tab"
                                        aria-expanded="true">Internal Users</a>
                                </li>
                                <li class="nav-item" appRbac featureCode="USRA-MUE">
                                  <!-- <a (click)="getExternalUsers()" class="nav-link" href="#external-users" data-toggle="tab" aria-expanded="false">External User</a> -->
                                    <a id="external-tab" class="nav-link" [ngClass]="{'active' : manageUserExternalAction == true && manageUserInternalAction == false}" href="#external-users" data-toggle="tab" aria-expanded="false">External Users</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" [ngClass]="{'active' : manageUserInternalAction == true}" id="internal-users" appRbac featureCode="USRA-MUI">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                            <h6 class="m-0 font-weight-bold float-left">Manage Users</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                    <!-- <div class="container-search">
                                        <a class="link" data-toggle="collapse" href="#collapsepartner-search"
                                            role="button" aria-expanded="false" aria-controls="collapsepartner-search">
                                            Advance Search
                                        </a>
                                        <div class="collapse" id="collapsepartner-search">
                                            <div class="card mb-2">
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3">
                                                            <label>Access Level</label>
                                                            <div class="input-group">
                                                                <select class="custom-select" id="access_level">
                                                                    <option selected disabled>Roles</option>
                                                                    <option value="1">Attending</option>
                                                                    <option value="2">Refereeing</option>
                                                                    <option value="3">Non-Physician</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>NPI</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="NPI" aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Post Nominal</label>
                                                            <div class="input-group">
                                                                <select class="custom-select" id="post_nominal">
                                                                    <option selected disabled>Select</option>
                                                                    <option value="1">MD</option>
                                                                    <option value="2">PHD</option>
                                                                    <option value="3">MBBCH</option>
                                                                    <option value="4">SH(ASCPi)</option>
                                                                    <option value="5">CBAP</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Email</label>
                                                            <div class="input-group">
                                                                <input type="email" class="form-control"
                                                                    placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>First Name</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="First Name"
                                                                    aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Last Name</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Last Name"
                                                                    aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>User Name</label>
                                                            <div class="input-group">
                                                                <input type="email" class="form-control"
                                                                    placeholder="Organization Email"
                                                                    aria-describedby="basic-addon1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Contact No</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder=" Contact No">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label>Status</label>
                                                            <div class="input-group">
                                                                <select class="custom-select" id="post_nominal">
                                                                    <option selected value="1">All</option>
                                                                    <option value="2">Active</option>
                                                                    <option value="3">Deactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label></label>
                                                            <div class="input-group">
                                                                <div
                                                                    class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" id="internal-user" checked
                                                                        name="internal-client" value="1"
                                                                        class="custom-control-input">
                                                                    <label class="custom-control-label"
                                                                        for="internal-user">Internal
                                                                        User</label>
                                                                </div>
                                                                <div
                                                                    class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" id="client-user" value="2"
                                                                        name="internal-client"
                                                                        class="custom-control-input">
                                                                    <label class="custom-control-label"
                                                                        for="client-user">External
                                                                        User</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3 internal-field"
                                                            id="internalfield2" style="display: none;">
                                                            <label>Client</label>
                                                            <div class="input-group">
                                                                <select class="custom-select" id="select_client">
                                                                    <option selected>Select Client</option>
                                                                    <option value="1">Jack</option>
                                                                    <option value="2">Smith</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <button class="btn add_button float-right">Search</button>
                                                            <button
                                                                class="btn add_button float-right mr-2">Reset</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                            <div class="table-responsive internal-table" id="internalclient1">
                                              <!-- <button type="button" (click)="checkInst()" name="button">load instances</button> -->
                                                <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger" id="users-internal" class="table display table-sm table-bordered"
                                                    style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Serial No #</th>
                                                                    <th>Role</th>
                                                                    <th>Full Name</th>
                                                                    <th>User Name</th>
                                                                    <th>Mobile No</th>
                                                                    <th>NPI</th>
                                                                    <th>Email</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <!-- <tr>
                                                                    <td>SPD-002</td>
                                                                    <td>Organization Admin</td>
                                                                    <td>Ahmed Ali</td>
                                                                    <td>ahmadali</td>
                                                                    <td>+1 245 78569896</td>
                                                                    <td>123125345634</td>
                                                                    <td>ahmed@siaparadigm.com</td>
                                                                    <td>Active</td>
                                                                    <td>
                                                                        <a routerLink="/edit-user" class=""><i
                                                                                class="fa fa-edit text-info"></i></a>
                                                                        <a [routerLink]="#" class=""><i class="fa fa-ban text-danger"></i></a>
                                                                    </td>
                                                                </tr> -->
                                                                <tr *ngFor="let user of internalUsers; let i = index" class="TR-{{user?.userCode}}">
                                                                  <td>{{user?.userCode | decrypted}}</td>
                                                                  <!-- <td>{{user?.role}}</td>
                                                                  <td>{{user?.title}} {{user?.age}}</td>
                                                                  <td>{{user?.seller_name}}</td>
                                                                  <td>{{user?.seller_phone}}</td>
                                                                  <td>{{user?.price}}</td>
                                                                  <td>{{user?.seller_email}}</td>
                                                                  <td>{{user?.status}}</td> -->
                                                                  <td style="width:20%;">{{user?.userRoles}}</td>
                                                                  <!-- <td *ngIf="user.role == null" >Null</td>
                                                                  <td *ngIf="user.role != null" >{{user?.role}}</td> -->
                                                                  <td style="width:15%;">{{user?.firstName}} {{user?.lastName}}</td>
                                                                  <td style="width:11%;">{{user?.username}}</td>
                                                                  <td style="width:11%;">{{user?.phone}}</td>
                                                                  <td style="width:11%;">{{user?.npi}}</td>
                                                                  <td style="width: 15%;">{{user?.email}}</td>
                                                                  <td *ngIf="user?.active" >Active</td>
                                                                  <td *ngIf="!user?.active" >Inactive</td>

                                                                  <td style="width: 4%; text-align: center;">
                                                                      <a (click)="getSelectedUserData(user.userCode)" appRbac featureCode="USRA-UU" class=""><i
                                                                              class="fa fa-edit text-info"></i></a>
                                                                      <a *ngIf="user.active == true" appRbac featureCode="USRA-ADUI" (click)="disableUser(user.userCode, 0, i)" class="px-1"><i class="fa fa-ban text-danger"></i></a>
                                                                      <a *ngIf="user.active == false" appRbac featureCode="USRA-ADUI" (click)="disableUser(user.userCode, 1, i)" class="px-1"><i class="fa fa-check-circle text-info"></i></a>
                                                                  </td>
                                                                </tr>


                                                            </tbody>

                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" [ngClass]="{'active' : manageUserExternalAction == true && manageUserInternalAction == false}" id="external-users" appRbac featureCode="USRA-MUE">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                                            <h6 class="m-0 font-weight-bold float-left">Manage Users</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="table-responsive internal-table" id="internalclient2">
                                                <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger2" id="users-external" class="table responsive display  table-sm table-bordered"
                                                    style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Serial No #</th>
                                                            <th>Role</th>
                                                            <th>Full Name</th>
                                                            <th>User Name</th>
                                                            <th>Mobile No</th>
                                                            <th>NPI</th>
                                                            <th>Email</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                      <tr #trRef *ngFor="let user of externalUsers; let i = index" id="TR-{{user?.userCode}}">
                                                        <td style="cursor:pointer" (click)="nested(user.userCode, trRef)"> <img src="assets/img/details_open.png" alt=""> </td>
                                                        <td>{{user?.userCode | decrypted}}</td>
                                                        <td style="width:20%;">{{user?.userRoles}}</td>
                                                        <td style="width:15%;">{{user?.firstName}} {{user?.lastName}}</td>
                                                        <td style="width:11%;">{{user?.username}}</td>
                                                        <td style="width:1%;">{{user?.phone}}</td>
                                                        <td style="width:11%;">{{user?.npi}}</td>
                                                        <td style="width:15%;">{{user?.email}}</td>
                                                        <td *ngIf="user?.active" >Active</td>
                                                        <td *ngIf="!user?.active" >Inactive</td>
                                                        <td style="width: 4%; text-align: center;">
                                                            <a appRbac featureCode="USRA-UUE" (click)="getSelectedUserData(user.userCode)" class=""><i
                                                                    class="fa fa-edit text-info"></i></a>
                                                            <a *ngIf="user.active == true" appRbac featureCode="USRA-ADUE" (click)="disableUserExternal(user?.userCode, 0, i)" class="px-1"><i class="fa fa-ban text-danger"></i></a>
                                                            <a *ngIf="user.active == false" appRbac featureCode="USRA-ADUE" (click)="disableUserExternal(user?.userCode, 1, i)" class="px-1"><i class="fa fa-check-circle text-info"></i></a>

                                                        </td>

                                                        <!-- <td>

                                                            <a (click)="getSelectedUserData(user.userCode)" class=""><i
                                                                    class="fa fa-edit text-info"></i></a>
                                                            <a *ngIf="user.active == true"  (click)="disableUserExternal(user.userCode, 0, i)" class="px-1"><i class="fa fa-ban text-danger"></i></a>
                                                            <a *ngIf="user.active == false" (click)="disableUserExternal(user.userCode, 1, i)" class="px-1"><i class="fa fa-check-circle text-info"></i></a>
                                                        </td> -->
                                                      </tr>

                                                    </tbody>
                                                    <tbody>
                                                      <!-- <tbody *ngIf="data?.length == 0">
                                                        <tr>
                                                          <td colspan="3" class="no-data-available">No data!</td>
                                                        </tr>
                                                      </tbody> -->

                                                </table>
                                                <!-- <table id="clientUsers-nested" datatable [dtOptions]="dtOptions2" class="row-border hover">
                                                  <thead>
                                                    <tr>
                                                      <th></th>
                                                      <th>ID</th>
                                                      <th>First name</th>
                                                      <th>Last name</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody *ngIf="data?.length != 0">
                                                    <tr #trRef *ngFor="let person of data">
                                                      <td (click)="expandRow(trRef, person)"></td>
                                                      <td>{{ person.id }}</td>
                                                      <td>{{ person.firstName }}</td>
                                                      <td>{{ person.lastName }}</td>
                                                    </tr>
                                                  </tbody>
                                                  <tbody *ngIf="data?.length == 0">
                                                    <tr>
                                                      <td colspan="3" class="no-data-available">No data!</td>
                                                    </tr>
                                                  </tbody>
                                                </table> -->


                                            </div>
                                            <div class="collapse" id="collapseContact">
                                              <div class="card card-body">

                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
<!-- <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a> -->
<!-- Contact Detail Modal Modal-->
<div class="modal fade" id="contactDetailModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deactivate">Clients</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
              <table id="clientUsers-external" class="table display table-sm table-bordered" style="width:100% ">
                  <thead>
                      <tr style=" background: #eaecf4;">
                          <th>Client</th>
                          <th>Client Provided Email</th>
                          <th>Client Provided Fax</th>
                          <th>Practice Code</th>
                          <th>Default</th>
                          <th *ngIf="viewClientUserAction != false">Action</th>
                      </tr>
                  </thead>
                  <tbody>


                      <tr *ngFor="let client of showClientData; let i = index" id="TR-{{client?.clientId}}">
                            <td>{{client?.name}}</td>
                            <td>
                                <a *ngIf="client?.contactDetails[0] != '' && viewClientUserAction == false" >{{client.contactDetails[0]?.value}}</a>
                                <a *ngIf="client?.contactDetails[0] == '' && viewClientUserAction == false" > </a>
                                <input *ngIf="client?.contactDetails[0] != '' && viewClientUserAction != false"  (focusout)="addClientProvidedEmail(client?.userCode, $event, client?.clientId)" name="clientProvidedEmail"  type="text" class="form-control"
                                     placeholder="Enter valid email" value="{{client.contactDetails[0]?.value}}"
                                     [attr.cu-contactId]="client.contactDetails[0]?.contactId" maxlength="254">
                               <input *ngIf="client?.contactDetails[0] == '' && viewClientUserAction != false"  (focusout)="addClientProvidedEmail(client?.userCode, $event, client?.clientId)" name="clientProvidedEmail"  type="text" class="form-control"
                                    placeholder="Enter valid email" value=""
                                    [attr.cu-contactId]="" maxlength="254">
                                <div id="email-error-{{client?.userCode}}" class="invalid-feedback-custom" style="display:none;">Invalid Email Address.</div>
                                <div id="email-spiner-{{client?.userCode}}" class="spinner-border" style="display:none;" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                            </td>
                            <td>
                                <a *ngIf="client?.contactDetails[1] != '' && viewClientUserAction == false" >{{client?.contactDetails[1]?.value}}</a>
                                <a *ngIf="client?.contactDetails[1] == '' && viewClientUserAction == false" > </a>
                              <input *ngIf="client?.contactDetails[1] != '' && viewClientUserAction != false" (focusout)="addClientProvidedFax(client?.userCode, $event, client?.clientId)" name="clientProvidedFax" type="text" class="form-control"
                                     placeholder="Enter valid Fax" maxlength="50"
                                     value="{{client.contactDetails[1]?.value}}"
                                     [attr.cu-contactId]="client.contactDetails[1]?.contactId"
                                      (keyup)="formateFaxUScusers($event)">
                              <input *ngIf="client?.contactDetails[1] == '' && viewClientUserAction != false" (focusout)="addClientProvidedFax(client?.userCode, $event, client?.clientId)" name="clientProvidedFax" type="text" class="form-control"
                                     placeholder="Enter valid Fax" maxlength="50"
                                     value=""
                                     [attr.cu-contactId]=""
                                      (keyup)="formateFaxUScusers($event)">
                                     <!-- <div id="fax-error-{{client?.userCode}}" class="invalid-feedback-custom" style="display:none;">Invalid Email Address.</div> -->
                              <div id="fax-spiner-{{client?.userCode}}" class="spinner-border" style="display:none;" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </td>
                            <td>
                                <a *ngIf="viewClientUserAction == false" >{{client?.practiseCode}}</a>
                                <input *ngIf="viewClientUserAction != false" (focusout)="addClientProvidedPracticeCode(client?.userCode, $event, i, client?.clientId)"
                                     name="clientProvidedPCode" type="text" class="form-control"
                                     placeholder="Enter practice Code" value="{{client?.practiseCode}}">
                                    <div id="practice-spiner-{{client?.userCode}}" class="spinner-border" style="display:none;" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                  </td>
                                    <!--  -->
                            <td >
                                <input disabled *ngIf="client.clickedUser?.userRoles.search('Attending Physician') != -1 && viewClientUserAction == false"  (click)="addClientProvidedDefault(client?.userCode, $event, i, client?.clientId)" name="clientProvidedDefault"
                                type="radio" id="default-1" [checked]="client?.defaultPhysician" name="default">
                              <input *ngIf="client.clickedUser?.userRoles.search('Attending Physician') != -1 && viewClientUserAction != false"  (click)="addClientProvidedDefault(client?.userCode, $event, i, client?.clientId)" name="clientProvidedDefault"
                              type="radio" id="default-1" [checked]="client?.defaultPhysician" name="default">
                              <div id="default-spiner-client?.userCode" class="spinner-border" style="display:none;" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </td>
                            <td *ngIf="viewClientUserAction != false">
                                <div class="btn-group check-multiple">
                                    <button
                                        class="btn submit-button btn-sm dropdown-toggle"
                                        type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bars "></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input type="checkbox"
                                                    class="form-check-input" [checked]="client?.superUser" name="superUCheck" (change)="superUserCheck(client?.userCode, $event, i, client?.clientId)"
                                                    >
                                                <label class="form-check-label"
                                                    for="dropdownCheck">
                                                    <i
                                                        class="fa fa-user-circle text-info"></i>
                                                    Super User
                                                </label>
                                            </div>
                                        </li>
                                        <li class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input type="checkbox"
                                                    class="form-check-input" [checked]="client?.isClientPortalAccess"
                                                     name="cpAccessCheck" (change)="clientPortalAccessCheck(client?.userCode, $event, i, client?.clientId)">
                                                <label class="form-check-label"
                                                    for="dropdownCheck">
                                                    <i
                                                        class="fas fa-chalkboard-teacher text-info"></i>
                                                    Client Portal
                                                    Access
                                                </label>
                                            </div>
                                        </li>
                                        <li class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input type="checkbox"
                                                    class="form-check-input" [checked]="client?.visibleInCases"
                                                     name="visibleCheck" (change)="visibleInCasesCheck(client?.userCode, $event, i, client?.clientId)">
                                                <label class="form-check-label"
                                                    for="dropdownCheck">
                                                    <i
                                                        class="fa fa-calendar-plus-o text-info"></i>
                                                    Visible in Cases
                                                </label>
                                            </div>
                                        </li>
                                        <!-- <li class="dropdown-item" href="#">
                                            <div class="form-check">
                                                <input type="checkbox"
                                                    class="form-check-input"
                                                     name="visibleCheck" [checked]="client?.active" (change)="activeInactiveCheck(client?.userCode, $event, i, client?.clientId)">
                                                <label class="form-check-label"
                                                    for="dropdownCheck">
                                                    <i
                                                        class="fa fa-check-circle text-info"></i>
                                                    Active
                                                </label>
                                            </div>
                                        </li> -->
                                        <a *ngIf="!client?.defaultPhysician" (click)="deleteModal(client?.userCode,client?.clientId,i,client?.name)" style="cursor: pointer" class="dropdown-item" >
                                            <i class="fa fa-trash text-danger"></i>
                                            Delete
                                        </a>
                                        <a *ngIf="client?.clickedUser.active == true" (click)="disableUserExternal(client?.userCode, 0, i)" style="cursor: pointer" class="dropdown-item"><i title="disable user" class="fa fa-ban text-danger"></i>Disable User</a>
                                        <a *ngIf="client?.clickedUser.active == false" (click)="disableUserExternal(client?.userCode, 1, i)" style="cursor: pointer" class="dropdown-item"><i title="enabel user" class="fa fa-check-circle text-info"></i>Enable User</a>


                                    </ul>
                                    <div class="symbols">
                                      <i *ngIf="client?.superUser"  title="Super User"
                                          class="fa fa-user-circle text-info ml-1"></i>
                                      <i *ngIf="client?.superUser" title="Client Portal Access" style="display:none"
                                          class="fas fa-chalkboard-teacher text-info ml-1"></i>
                                      <i *ngIf="client?.visibleInCases" title="Visible in Cases"
                                          class="fas fa-calendar-plus-o text-info ml-1"></i>
                                          <i *ngIf="client?.isClientPortalAccess" title="Client Portal Access"
                                              class="fas fa-chalkboard-teacher text-info ml-1"></i>
                                      <!-- <i *ngIf="client?.active" title="Active"
                                          class="fa fa-check-circle text-info"></i> -->
                                    </div>
                                </div>
                                <!-- <i title="Super User"
                                    class="fa fa-user-circle text-info"></i>
                                <i title="Client Portal Access"
                                    class="fas fa-chalkboard-teacher text-info"></i> -->
                            </td>

                      </tr>

                  </tbody>

              </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
                <!-- <a (click)="deleteClientUser()" class="btn btn-danger" style="cursor: pointer">Delete</a> -->
            </div>
        </div>
    </div>
</div>
<!-- delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deactivate">Delete</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">Are you sure to delete this user’s association to the client {{clientToDeleteName}} ?</div>
            <input type="hidden" [(ngModel)]="deleteUserID"  name="deleteUserID" value="">
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
                <a (click)="deleteClientUser()" class="btn btn-danger text-white" style="cursor: pointer">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModalold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
      <a class="btn btn-primary" href="login.html">Logout</a>
    </div>
  </div>
</div>
</div>
