<ul class="navbar-nav bg-admin-gradiant sidebar sidebar-dark accordion toggled" id="accordionSidebar">
<notifier-container></notifier-container>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" (click)="showAgreement()">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" [hidden] = "addUserAction == false && manageUserAction == false && manageUserExternalAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-target="#navbarDropdownMenuLink"
      data-toggle="collapse" aria-expanded="true" aria-controls="assignmentsmodule">
      <i class="fas fa-fw fa-user"></i> <span>Users</span>
    </a>
    <div class="collapse" id="navbarDropdownMenuLink" aria-labelledby="headingPages"
      data-parent="#accordionSidebar">
      <div class="collapse-inner">
        <a class="collapse-item" (click)="removeStorage()" routerLink="/add-user" appRbac featureCode="USRA-AUI"><i class="fas fa-fw fa-plus"></i> Add Users (Internal)</a>
        <a class="collapse-item" (click)="removeStorage()" routerLink="/all-users" [hidden] = "manageUserAction == false && manageUserExternalAction == false"><i class="fas fa-fw fa-tasks"></i> Manage Users</a>
        <!-- <a class="collapse-item" routerLink="/all-users" *ngIf = "manageUserAction == true || manageUserExternalAction == true"><i class="fas fa-fw fa-tasks"></i> Manage Users</a> -->
        <!-- <a class="collapse-item" routerLink="/dashboard"><i class="fas fa-fw fa-tasks"></i> User Dashboard</a> -->

      </div>
    </div>
  </li>
  <li class="nav-item" [hidden] = "addClientAction == false && manageClientAction == false && viewClientAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#clientsmodule" aria-expanded="true"
      aria-controls="clientsmodule">
      <i class="fas fa-fw fa-user"></i>
      <span>Clients</span>
    </a>
    <div id="clientsmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" (click)="removeStorage()" routerLink="/add-client" appRbac featureCode="CLTA-AC"><i class="fas fa-fw fa-plus"></i> Add Clients</a>
        <a class="collapse-item" (click)="removeStorage()" routerLink="/all-clients" [hidden] = "manageClientAction == false && viewClientAction == false"><i class="fas fa-fw fa-tasks"></i> Manage Clients</a>
      </div>
    </div>
  </li>
  <li class="nav-item" *ngIf="viewExternalUserAction == false" [hidden] = "addPatientAction == false && managePatientAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#patientsmodule" aria-expanded="true"
      aria-controls="patientsmodule">
      <i class="fas fa-fw fa-user"></i>
      <span>Patients</span>
    </a>
    <div id="patientsmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" (click)="gotoAddPatient()" appRbac featureCode="PNTA-AP"><i class="fas fa-fw fa-plus"></i> Add Patient</a>
        <a class="collapse-item"  (click)="removeStorage()"  routerLink="/all-patients" appRbac featureCode="PNTA-MP"><i class="fas fa-fw fa-tasks"></i> Manage Patient</a>
        <!-- <a class="collapse-item" (click)="gotoPatient()" [routerLink]=""><i class="fas fa-fw fa-tasks"></i> Manage Patient</a> -->
      </div>
    </div>
  </li>
  <li class="nav-item" [hidden] = "createDetailCaseAction == false && manageCaseAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#specimenmodule" aria-expanded="true"
      aria-controls="specimenmodule">
      <i class="fa fa-medkit"></i>
      <span>Cases</span>
    </a>
    <div id="specimenmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" (click)="removeStorage()" routerLink="/add-case" appRbac featureCode="SPCA-CD"><i class="fas fa-fw fa-plus"></i> Create Detail Case</a>
        <!-- <a class="collapse-item" routerLink="/manage-cases"><i class="fas fa-fw fa-tasks"></i> Manage Cases</a> -->
        <a class="collapse-item" (click)="removeStorage()" routerLink="/manage-cases" appRbac featureCode="SPCA-MC"><i class="fas fa-fw fa-tasks"></i> Manage Cases</a>
      </div>
    </div>
  </li>
  <li class="nav-item" [hidden] = "manageIntakeAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#intakenmodule" aria-expanded="true"
      aria-controls="intakenmodule">
      <i class="fa fa-folder"></i>
      <span>Intake</span>
    </a>
    <div id="intakenmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" (click)="removeStorage()" routerLink="/create-intake" appRbac featureCode="SPCA-MI"><i class="fas fa-fw fa-tasks"></i> Manage Intakes</a>
        <!-- <a class="collapse-item" routerLink="/edit-intake/1"><i class="fas fa-fw fa-tasks"></i> edi Intakes</a> -->
      </div>
    </div>
  </li>

  <li class="nav-item" [hidden] = "createBatchAction == false && manageBatchAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#covidmodule" aria-expanded="true"
      aria-controls="covidmodule">
      <i class="fa fa-medkit"></i>
      <span>Batches</span>
    </a>
    <div id="covidmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" (click)="removeStorage()" routerLink="/add-batch/1"  appRbac featureCode="TWMA-CNB"><i class="fas fa-fw fa-plus"></i> Create New Batch</a>
        <a class="collapse-item" (click)="removeStorage()" routerLink="/manage-batches"  appRbac featureCode="TWMA-MBC"><i class="fas fa-fw fa-tasks"></i> Manage Batches</a>
      </div>
    </div>
  </li>
  <li class="nav-item" [hidden] = "manageReportAction == false">
    <a class="nav-link collapsed" [routerLink]="" data-toggle="collapse" data-target="#reportmodule" aria-expanded="true"
      aria-controls="specimenmodule">
      <i class="fa fa-medkit"></i>
      <span>Reports</span>
    </a>
    <div id="reportmodule" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" (click)="removeStorage()" routerLink="/manage-reports" appRbac featureCode="MRMA-MR"><i class="fas fa-fw fa-plus"></i> Manage Reports</a>
      </div>
    </div>
  </li>
  <!-- <li class="nav-item recent-link">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#recentmodule" aria-expanded="true"
      aria-controls="recentmodule">
      <i class="fas fa-fw fa-folder"></i>
      <span>Recent Visited</span>
    </a>
    <div id="recentmodule" class="collapse open" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner">
        <a class="collapse-item" href="add-user.html"><i class="fas fa-fw fa-plus"></i> Add Users (Internal)</a>
        <a class="collapse-item" href="all-users.html"><i class="fas fa-fw fa-eye"></i> Manage Users</a>
      </div>
    </div>
  </li> -->


  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle mt-3 border-0" id="sidebarToggle"></button>
  </div>
</ul>

<div class="modal fade" id="wizardsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->

      <div class="modal-body">

        <ul class="nav nav-tabs nav-continue-back d-none" id="progresstab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#useragreement_panel" data-toggle="tab" aria-expanded="true">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#partneragreement_panel" data-toggle="tab" aria-expanded="true">
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="useragreement_panel">
            <div class="header-wizards">
              <h5>Users Agreement </h5>
            </div>

            <div class="card shadow mb-2">
              <!-- Card Body -->
              <div class="card-body">
                <p>{{agreementText}}</p>
                <!-- <p>Agrees to and does guarantee the direct payment of employee-leasing company benefits in accordance
                  with the
                  employee-leasing law of New Hampshire, RSA 277-B, as amended and all rules and regulations
                  promulgated thereunder, of
                  (Name of Corporation), of
                  (Home Address), being a subsidiary of the aforesaid parent company, an employer and an
                  employee-leasing company in the
                  said state.</p>
                <p>
                  It is further agreed that the liability of the parent corporation shall be that of the
                  employee-leasing company and that
                  upon default of the employee-leasing company the labor commissioner of the said state may demand of
                  the said guarantor
                  payment of the said benefits in manner prescribed by him.</p>
                <p>
                  This agreement shall not be terminated without a sixty-day prior written notice to the said
                  commissioner. Written notice
                  of such termination shall not relieve the parent corporation of its liability under this agreement
                  for obligations that
                  occurred prior to the effective date of such termination.
                </p> -->
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input [(ngModel)]="termsConditions"  type="checkbox" class="custom-control-input" id="checkterm">
                <label class="custom-control-label" for="checkterm">I accept the Terms and
                  Condition <span class="text-danger">*</span></label>
              </div>
            </div>
            <a type="submit" (click)="acceptAgreement()" class="btn submit-button float-right continue" id="agreement_continue">Continue</a>
            <a class="btn btn-info float-right mr-2" href="#" data-toggle="modal" data-target="#logoutModalold">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
          <div role="tabpanel" class="tab-pane" id="partneragreement_panel">
            <div class="header-wizards">
              <h5>Partner Agreement </h5>
            </div>

            <div class="card shadow mb-2">
              <!-- Card Body -->
              <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard
                  dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen
                  book. It has survived not only five centuries, but also the leap into electronic typesetting,
                  remaining essentially
                  unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                  Ipsum passages, and more
                  recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p>Agrees to and does guarantee the direct payment of employee-leasing company benefits in accordance
                  with the
                  employee-leasing law of New Hampshire, RSA 277-B, as amended and all rules and regulations
                  promulgated thereunder, of
                  (Name of Corporation), of
                  (Home Address), being a subsidiary of the aforesaid parent company, an employer and an
                  employee-leasing company in the
                  said state.</p>
                <p>
                  It is further agreed that the liability of the parent corporation shall be that of the
                  employee-leasing company and that
                  upon default of the employee-leasing company the labor commissioner of the said state may demand of
                  the said guarantor
                  payment of the said benefits in manner prescribed by him.</p>
                <p>
                  This agreement shall not be terminated without a sixty-day prior written notice to the said
                  commissioner. Written notice
                  of such termination shall not relieve the parent corporation of its liability under this agreement
                  for obligations that
                  occurred prior to the effective date of such termination.
                </p>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkterm">
                <label class="custom-control-label" for="checkterm">I accept the Terms and
                  Condition <span class="text-danger">*</span></label>
              </div>
            </div>
            <a href="" type="submit" class="btn submit-button float-right">Continue</a>
            <a class="btn btn-info float-right mr-2" href="#" data-toggle="modal" data-target="#logoutModalold">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
