<!-- <app-navbar></app-navbar> -->
<!-- <div id="wrapper"> -->
    <!-- Sidebar -->


    <!-- <app-sidebar></app-sidebar> -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" >
      <!-- Main Content -->

      <div id="content">

        <!-- Begin Page Content -->
        <nav aria-label="breadcrumb navbar-light bg-light">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="small active"><span>Worksheet-COVID-19</span></li>
          </ol>
        </nav>

        <!-- End of Topbar -->

        <!-- menu tab -->

        <!-- End of menu tab -->
        <!-- Page tab -->
         <div class="container-fluid p-2">
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                  <h6 class="m-0 font-weight-bold float-left">COVID-19</h6>
                  <div class="dropdown no-arrow" *ngIf="selectedBatch?.batchDetails?.batchStatusId == 1" >
                    <a appRbac featureCode="TWMA-SR" (click)="openSubmitModal(selectedBatch?.batchDetails?.batchId)" [routerLink]="" class="btn submit-button btn-sm float-right ">Submit to Reporting</a>
                    <a appRbac featureCode="TWMA-SB" [routerLink]="" (click)="saveBtch()" data-toggle="modal" class="btn float-right submit-button btn-sm mr-2">Save Batch</a>
                    <a appRbac featureCode="TWMA-CB" [routerLink]="" class="text-danger ml-1" (click)="showCancelModal(selectedBatch)" class="btn btn-warning float-right btn-sm mr-2">Cancel Batch</a>

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-sm table-hover table-bordered " style="width:60%; margin: 0 auto;">
                      <thead>
                        <tr class="table-secondary">
                          <th>Batch ID</th>
                          <th>Creation Date</th>
                          <th>Created By</th>
                          <th *ngIf="selectedBatch?.batchDetails?.batchStatusId == 1">Update Date</th>
                          <th *ngIf="selectedBatch?.batchDetails?.batchStatusId != 1" >Submitted Date</th>
                          <th *ngIf="selectedBatch?.batchDetails?.batchStatusId == 1">Updated By</th>
                          <th *ngIf="selectedBatch?.batchDetails?.batchStatusId != 1">Submitted By</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{selectedBatch?.batchDetails?.batchId}}</td>
                          <td>{{selectedBatch?.batchDetails?.createdTimestamp | momentDate}}</td>
                          <td>{{selectedBatch?.batchDetails?.createdByName}}</td>
                          <td *ngIf="selectedBatch?.batchDetails?.batchStatusId != 1">{{selectedBatch?.batchDetails?.submittedTimestamp | momentDate}}</td>
                          <td *ngIf="selectedBatch?.batchDetails?.batchStatusId != 1">{{selectedBatch?.batchDetails?.submittedByName}}</td>
                          <td *ngIf="selectedBatch?.batchDetails?.batchStatusId == 1">{{selectedBatch?.batchDetails?.updatedTimestamp | momentDate}}</td>
                          <td *ngIf="selectedBatch?.batchDetails?.batchStatusId == 1">{{selectedBatch?.batchDetails?.updatedByName}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <div class="table-responsive">
                    <div class="bg-sired-withoutgrad mt-2 p-3">
                        <p class="m-0 text-white"><b>Batch Tray</b></p>
                    </div>
                    <table  class="table table-sm table-hover table-bordered text-center table-batch-tray" style="width:100%">
                          <thead>
                            <tr class="table-secondary">
                              <th></th>
                              <th>1</th>
                              <th>2</th>
                              <th>3</th>
                              <th>4</th>
                              <th>5</th>
                              <th>6</th>
                              <th>7</th>
                              <th>8</th>
                              <th>9</th>
                              <th>10</th>
                              <th>11</th>
                              <th>12</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <ng-container *ngFor="let item of specimenTableData; let i = index"> -->
                              <tr>
                                <td class="table-secondary">A</td>
                                <ng-container *ngFor="let item of aGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                </ng-container>
                              </tr>
                              <tr>
                                <td class="table-secondary">B</td>
                                <ng-container *ngFor="let item of bGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                </ng-container>

                              </tr>
                              <tr>
                                <td class="table-secondary">C</td>
                                <ng-container *ngFor="let item of cGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                </ng-container>

                              </tr>
                              <tr>
                                <td class="table-secondary">D</td>
                                <ng-container *ngFor="let item of dGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                </ng-container>

                              </tr>
                              <tr>
                                <td class="table-secondary">E</td>
                                <ng-container *ngFor="let item of eGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                </ng-container>

                              </tr>
                              <tr>
                                <td class="table-secondary">F</td>
                                <ng-container *ngFor="let item of fGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                </ng-container>

                              </tr>
                              <tr>
                                <td class="table-secondary">G</td>
                                <ng-container *ngFor="let item of gGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null && i <11">{{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                  <td *ngIf="item?.data?.caseNumber != null && i == 11">{{item?.data?.caseNumber}}</td>
                                </ng-container>
                              </tr>
                              <tr>
                                <td class="table-secondary">H</td>
                                <ng-container *ngFor="let item of hGrid; let i = index" >
                                  <td *ngIf="item?.data?.caseNumber == null">---</td>
                                  <td *ngIf="item?.data?.caseNumber != null && i <11"> {{item?.data?.caseNumber}}<span><br/>{{item?.data?.pLName}},{{item?.data?.pFNameShort}}</span></td>
                                  <td *ngIf="item?.data?.caseNumber != null && i == 11"> {{item?.data?.caseNumber}}</td>
                                </ng-container>
                              </tr>
                            <!-- </ng-container> -->



                            <!-- <tr> -->

                          </tbody>

                    </table>
                  </div>

                </div>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                  <h6 class="m-0 font-weight-bold float-left">Test Results</h6>
                  <div class="dropdown no-arrow">
                    <!-- <a  data-target="" data-toggle="modal" class="btn submit-button pull-right mr-2 ">Add New Batch</a>                     -->
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- <button class="btn btn-block submit-button" id="btnFileUpload" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                    </button> -->
                    <a appRbac featureCode="TWMA-DR" [hidden]="selectedBatch?.batchDetails?.batchStatusId == 1" [routerLink]="" (click)="downloadResults(selectedBatch?.batchDetails?.batchId)" class="btn btn-sm submit-button  mb-2"><i class="fa fa-download" title="Download Original Results File"></i> Download Original Results File</a>

                 <a appRbac featureCode="TWMA-UR" [hidden]="selectedBatch?.batchDetails?.batchStatusId == 2" id="btnFileUpload" (click)="triggerUpload()" class="btn btn-sm submit-button float-left mb-2"><i class="fa fa-upload" title="Upload Results"></i> Upload Results</a>
                    <span id="spnFilePath" class="ml-2"></span>
                    <input (change)="uploadResults($event.target,selectedBatch?.batchDetails?.batchId)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.csv" id="resultUpload" type='file' hidden/>
                 <a appRbac featureCode="TWMA-PB" [routerLink]="" (click)="printPDF(selectedBatch?.batchDetails?.batchId,selectedBatch?.batchDetails?.batchStatusId)" class="btn btn-sm submit-button float-right mb-2"><i class="fa fa-print" title="Print"></i> Print</a>
                 <a appRbac featureCode="TWMA-EEB" [routerLink]="" (click)="exportToExcel(selectedBatch?.batchDetails?.batchId,selectedBatch?.batchDetails?.batchStatusId)" class="btn btn-sm submit-button float-right mb-2 mr-2"><i class="fa fa-file-export" title="Export to Excel"></i> Export to Excel</a>
                 <div class="table-responsive" [hidden]="selectedBatch?.batchDetails?.batchStatusId == 2">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-hover text-center align-items-center" style="width:100%">
                          <thead>
                            <tr class="table-secondary">
                              <!-- <th scope="col">#</th> -->
                              <th>Remove</th>
                              <th></th>
                              <th>Well #</th>
                              <th>Case #</th>
                              <th>Last Name</th>
                              <th>First Name</th>
                              <th>Status</th>
                              <th>Interpretation</th>
                              <th appRbac featureCode="TWMA-RT">Repeat</th>

                            </tr>
                          </thead>
                          <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
                            <tr *ngFor="let item of specimenTableData; let i = index" [ngClass]="{'bgGreen': item?.data?.testStatusId == 6 || item?.data?.repeatedStatus == true, 'disabledRow': item?.constWell == 'G12' || item?.constWell == 'H12'}"  cdkDrag cdkDragLockAxis="y">
                              <!-- <th class="col-xs">
                                <div class="drag-handle">
                                  <ng-container [ngTemplateOutlet]="dragHandleTmpl">
                                  </ng-container>
                                  {{ item?.order }}
                                </div>
                              </th> -->
                              <td align="center">

                                <a [routerLink]="" (click)="showRemoveModal(item,i)" class="text-danger ml-1"><i class="fas fa-times" title="Remove"></i></a>
                               </td>
                               <td align="center">
                                 <a [routerLink]="" (click)="rowMoveArrow('up',i, item)"><i class="fas fa-long-arrow-alt-up"></i></a>
                                 <a [routerLink]="" (click)="rowMoveArrow('down',i, item)"><i class="fas fa-long-arrow-alt-down"></i></a>
                              </td>
                              <td >{{item?.constWell}}</td>
                              <!-- <td>{{item}}</td> -->
                              <td *ngIf="item?.data?.caseNumber != null" >{{item?.data?.caseNumber}}</td>
                              <td *ngIf="item?.data?.caseNumber == null">---</td>
                              <td *ngIf="item?.data?.pFName != null" >{{item?.data?.pLName}}</td>
                              <td *ngIf="item?.data?.pFName == null">---</td>
                              <td *ngIf="item?.data?.pLName != null" >{{item?.data?.pFName}}</td>
                              <td *ngIf="item?.data?.pLName == null" >---</td>
                              <td *ngIf="item?.data?.testStatusName != null" >{{item?.data?.testStatusName}}</td>
                              <td *ngIf="item?.data?.testStatusName == null">---</td>
                              <td *ngIf="item?.data?.InterceptionName != null" >{{item?.data?.InterceptionName}}</td>
                              <td *ngIf="item?.data?.InterceptionName == null">---</td>
                              <td align="center" appRbac featureCode="TWMA-RT">
                                <a  *ngIf="item?.data?.testStatusId != 6"  (click)="repeatTest(item,i)" class="text-primary" id="repeat-icon1"><i class="fas fa-redo"></i></a>
                                <a *ngIf="item?.data?.testStatusId == 6"   id="repeat-icon1">Repeated</a>
                              </td>

                            </tr>

                          </tbody>

                    </table>
                  </div>
                  <ng-template #dragHandleTmpl>
                    <svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
                  </svg>
                </ng-template>

                  <div class="table-responsive" *ngIf="selectedBatch?.batchDetails?.batchStatusId == 2">
                     <table class="table table-sm table-bordered table-hover text-center align-items-center" style="width:100%">
                           <thead>
                             <tr class="table-secondary">

                               <th>Well #</th>
                               <th>Case #</th>
                               <th>Last Name</th>
                               <th>First Name</th>
                               <th>Status</th>
                               <th>Interpretation</th>

                             </tr>
                           </thead>
                           <tbody id="report_tbody" >
                             <tr *ngFor="let item of specimenTableData; let i = index" [ngClass]="{'bgGreen': item?.data?.testStatusId == 6}">


                               <td >{{item?.constWell}}</td>
                               <!-- <td>{{item}}</td> -->
                               <td *ngIf="item?.data?.caseNumber != null" >{{item?.data?.caseNumber}}</td>
                               <td *ngIf="item?.data?.caseNumber == null">---</td>
                               <td *ngIf="item?.data?.pFName != null" >{{item?.data?.pLName}}</td>
                               <td *ngIf="item?.data?.pFName == null">---</td>
                               <td *ngIf="item?.data?.pLName != null" >{{item?.data?.pFName}}</td>
                               <td *ngIf="item?.data?.pLName == null" >---</td>
                               <td *ngIf="item?.data?.Status != null" >{{item?.data?.Status}}</td>
                               <td *ngIf="item?.data?.Status == null">---</td>
                               <td *ngIf="item?.data?.InterceptionName != null" >{{item?.data?.InterceptionName}}</td>
                               <td *ngIf="item?.data?.InterceptionName == null">---</td>


                             </tr>

                           </tbody>

                     </table>
                   </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  <!-- </div> -->
  <div class="modal fade" id="changesbatchModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Save</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><p>You have some unsaved data in the Batch, Do you want to save it?</p></div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Discard</button>
          <a class="btn submit-button" href="#">Save</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Save</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><p>Batch changes has been saved successfully</p></div>
        <div class="modal-footer">
          <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Cancel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to cancel, all cases will go back to pending list again</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" [routerLink]="" (click)="cancelBatch()">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Cancel</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure to remove this case from the batch?</div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
          <a class="btn submit-button" [routerLink]="" (click)="removeCase()">remove</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivate">Submit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">You can’t update or edit the batch once submitted. Are you sure?</div>
        <div class="modal-footer">
          <a (click)="backTomanage()" class="btn btn-warning" data-dismiss="modal">Close</a>
          <a class="btn submit-button" (click)="submitToReporting()" [routerLink]="">Submit</a>
        </div>
      </div>
    </div>
  </div>
