/* You can add global styles to this file, and also import other style files */
/* body {
  font-family: 'Arial';
} */
@import "~angular-notifier/styles";
.notifier__notification--material {
    /* border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default; */
    padding-top: 5px !important;
    padding-right: 26px !important;
    padding-bottom: 5px !important;
    padding-left: 26px !important;
    color: black !important;
}
