<!-- Content Wrapper -->
<!-- <div id="content-wrapper" class="d-flex flex-column">
  <div id="content"> -->

    <div class=" container-fluid p-0">
      <notifier-container></notifier-container>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <!-- <div class="dropdown no-arrow">
            <a  data-toggle="collapse" href="#collapsecases_list" aria-expanded="false" class="btn btn-link pull-right mb-1 collapsed">Create New Case</a>
          </div> -->
          <div class="clearfix"></div>
          <div class="card shadow">
            <form [formGroup]="caseForm">
              <div class="card-header d-flex justify-content-between align-items-center flex-row ">
                <h6 class="m-0 font-weight-bold float-left">Create New Case
                </h6>
                <div class="no-arrow">


                <a  [routerLink]="" (click)="showSaveModal(2)" class="btn btn-sm submit-button float-right  ">Save & Print</a>
                <a  [routerLink]="" (click)="showSaveModal(1)" class="btn btn-sm submit-button float-right mr-2 ">Save & New</a>
                <a *ngIf="hideDraftButton == false"  (click)="showSaveModal(0)" [routerLink]="" class="btn btn-sm submit-button float-right mr-2">Save as Draft</a>
                <a class="btn btn-warning btn-sm mr-2" (click)="resetFields()" type="button" data-dismiss="modal">Cancel</a>

            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body pt-2 pb-1">

            <div id="normal-view">
              <div class="row">
                <div class="col-md-4 ">
                  <div class="form-group row">
                    <label for="clientname-select" class="col-md-4 col-form-label  ">Client Name <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <ng-select
                      [items]           ="allClientName"
                      bindLabel         ="name"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #client_name_search
                      placeholder       ="Select Client Name"
                      formControlName   ="clientName"
                      class             ="form-control"
                      [multiple]        ="false"
                      [loading]         ="clientLoading"
                      (keyup)           ="clientLoading = true && [searchTerm$.next($event.target.value)]"
                      (change)          ="clientChanged()"
                      [(ngModel)]       ="clientSearchString"
                      [ngClass]         ="{ 'is-invalid': submitted && f.clientName.errors }" required>
                    </ng-select>
                    <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">You did not select Client Name.</div>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="attendphy-select" class="col-md-4 col-form-label  ">Attending Physician <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <ng-select
                      [items]           ="allAtdPhysicians"
                      bindLabel         ="name"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #case_category
                      placeholder       ="Select Attending Physician"
                      formControlName   ="atdPhysician"
                      class             ="form-control"
                      [multiple]        ="false"
                      [(ngModel)]       ="selectedAttPhysician"
                      [ngClass]         ="{ 'is-invalid': submitted && f.atdPhysician.errors }" required>
                    </ng-select>
                    <div *ngIf="submitted && f.atdPhysician.errors" class="invalid-feedback">You did not select Default Physician.</div>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="casecategory-select" class="col-md-4 col-form-label  ">Case Category <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <ng-select
                      [items]           ="allCaseCategories"
                      bindLabel         ="caseCategoryName"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #case_category
                      placeholder       ="Select Case Category"
                      formControlName   ="caseCategory"
                      class             ="form-control"
                      [multiple]        ="false"
                      (change)          = "setCaseCatPrefix()"
                      [(ngModel)]       ="selectedCaseCat"
                      [ngClass]         ="{ 'is-invalid': submitted && f.caseCategory.errors }" required>
                    </ng-select>
                    <div *ngIf="submitted && f.caseCategory.errors" class="invalid-feedback">You did not select Case Category.</div>

                    </div>
                  </div>

                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label for="p-lastname" class="col-md-4 col-form-label ">Patient Last Name <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <input type="text" name="pLastName" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" formControlName="pLastName" minlength="1" maxlength="100" required class="form-control " placeholder="Last Name" id="p-lastname1"
                        aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.pLastName.errors }" [(ngModel)]="patientLName"  (change)="checkPatient()">
                        <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                        <div *ngIf="submitted && f.pLastName.errors?.required" class="invalid-feedback">You did not provide Patient Last Name.</div>
                        <div *ngIf="submitted && f.pLastName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="p-firstname" class="col-md-4 col-form-label ">Patient First Name <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <input type="text" pattern="^((?![\s])[^\$%\^&*()_\-=\+@#!~`{}\[\]|\\\/:;\\'\?\.,<>]+)$" name="pFirstName" formControlName="pFirstName" minlength="1" maxlength="100" required class="form-control " placeholder="First Name" id="p-firstname1"
                        aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.pFirstName.errors }" [(ngModel)]="patientFName"  (change)="checkPatient()">
                        <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                        <div *ngIf="submitted && f.pFirstName.errors?.pattern" class="invalid-feedback">Special Characters not allowed.</div>
                        <div *ngIf="submitted && f.pFirstName.errors?.required" class="invalid-feedback">You did not provide Patient First Name.</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="p-dob11" class="col-md-4 col-form-label">Patient Date of Birth <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <input type="date" required class="form-control "  id="p-dob11" name="pDOB" formControlName="pDOB"
                        aria-describedby="basic-addon1" max="{{maxDate}}" [ngClass] ="{ 'is-invalid': submitted && f.pDOB.errors }" [(ngModel)]="patientDOB"  (change)="checkPatient()">
                        <i class="fa fa-circle-o-notch fa-spin existCheck-loadergif" style="display: none;"></i>
                    <div *ngIf="submitted && f.pDOB.errors" class="invalid-feedback">You did not provide Patient Date of Birth.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <label for="spectype-select" class="col-md-4 col-form-label  ">Specimen Type <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <ng-select
                      [items]           ="allSpecimenTypes"
                      bindLabel         ="labelToShow"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #SpecimenType_select
                      placeholder       ="Select Specimen Type"
                      formControlName   ="specimenType"
                      [(ngModel)]       ="specimenType"
                      (change)          ="changespecimenType()"
                      class             ="form-control"
                      [multiple]        ="false"
                      [ngClass] ="{ 'is-invalid': submitted && f.specimenType.errors }">
                    </ng-select>
                      <!-- <ng-select
                      [items]           ="allSpecimenTypes"
                      bindLabel         ="name"
                      bindValue         ="id"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #SpecimenType_select
                      placeholder       ="Select Specimen Type"
                      formControlName   ="specimenType"
                      [(ngModel)]       ="saveRequest.data.caseSpecimen[0].specimenTypeId"
                      class             ="form-control custom-select"
                      [multiple]        ="false"
                      [ngClass] ="{ 'is-invalid': submitted && f.specimenType.errors }">
                    </ng-select> -->
                      <div *ngIf="submitted && f.specimenType.errors" class="invalid-feedback">You did not select Specimen Type.</div>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="p-colldate" class="col-md-4 col-form-label ">Collection Date <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <input type="datetime-local" required class="form-control" max="{{maxDate}}T00:00:00"
                      [(ngModel)] ="saveRequestCollectionDate" id="p-colldate22" name="collectionDate" formControlName="collectionDate" (change)="collectDateChange($event)"
                        aria-describedby="basic-addon1" [ngClass] ="{ 'is-invalid': submitted && f.collectionDate.errors }">
                        <div *ngIf="submitted && f.collectionDate.errors" class="invalid-feedback">You did not select Collection Date.</div>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="p-collby" class="col-md-4 col-form-label ">Collected By <span class="text-danger">*</span></label>
                    <div class="col-md-8">
                      <div class="custom-control custom-radio custom-control-inline" id="collby1">
                        <input type="radio" class="custom-control-input " formControlName="collectedBy" name="collectedBy"
                         id="sip" value="1" checked [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                        <label class="custom-control-label " for="sip" >siP</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="client222" formControlName="collectedBy" name="collectedBy"
                         value="2" [ngClass] ="{ 'is-invalid': submitted && f.collectedBy.errors }" [(ngModel)] ="saveRequest.data.collectedBy">
                        <label class="custom-control-label" for="client222">Client</label>
                        <div *ngIf="submitted && f.collectedBy.errors" class="invalid-feedback">Please Selct one Personel.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="intake-select" class="col-md-4 col-form-label  ">Intake ID</label>
                    <div class="col-md-8">
                      <ng-select
                      [items]           ="allIntakesForClient"
                      bindLabel         ="intakeId"
                      bindValue         ="intakeId"
                      [virtualScroll]   ="true"
                      dropdownPosition  ="auto"
                      #case_category
                      placeholder       ="Intake ID"
                      formControlName   ="intakeid"
                      [loading]         ="intakeLoading"

                      class             ="form-control"
                      [multiple]        ="false"
                      [(ngModel)]       ="saveRequest.data.intakeId"
                      >
                      <!-- (keyup)           ="intakeLoading = true && [searchTermIntake$.next($event.target.value)]" -->
                    </ng-select>


                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>



    </div>
  </div>

  <!-- Content Row -->

</div>
<!-- /.container-fluid -->

<!-- </div> -->


<!-- </div> -->
<!-- End of Content Wrapper -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Cancel</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to cancel the case?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="#">Cancel</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="specimenlabel-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Printed successfully</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Case No: <a routerLink="/edit-case/{{printedCaseNumber}}/1">NV20-0010</a> has been created successfully</p>
      <!-- <img src="assets/img/label-print.jpg" width="100%"> -->
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="save-draftModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Save as Draft</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">The case has been saved as Draft</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="add-case?.html">Save</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deactivate">{{saveModalTitle}}</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">{{saveModalText}}</div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
      <a class="btn submit-button" (click)="saveCase(saveTypeGlobal)" [routerLink]="">Submit</a>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="submitnewModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Submit</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to submit, the case cannot be deleted after submission</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a onclick="reset_function()" class="btn submit-button" data-dismiss="modal">Submit</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="spec-labelhistory-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Label Print History</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="spec-col-history" class="table nowrap table-sm table-hover table-bordered"
          style="width:100%">
          <thead class="bg-light">
            <tr>
              <th>Printed by</th>
              <th>Date/Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ahmed Khan</td>
              <td>08-05-2020/06-23-PM</td>
            </tr>
            <tr>
              <td>John Sam</td>
              <td>08-05-2020/06-23-PM</td>
            </tr>
            <tr>
              <td>Jack Bob</td>
              <td>08-05-2020/06-23-PM</td>
            </tr>

          </tbody>

        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Cancel</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to remove the case?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" href="add-case?.html">Remove</a>
      </div>
    </div>
  </div>
</div>
