
<!-- <router-outlet></router-outlet> -->
<app-navbar></app-navbar>
  <div id="wrapper">
    <router-outlet></router-outlet>
    <ngx-ui-loader bgsColor="#df4661" fgsColor="#df4661" pbColor="#c45b25" overlayColor= "rgba(40,40,40,0.45)" bgsPosition= "center-center"></ngx-ui-loader>
  </div>

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Submit</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to submit, the case cannot be deleted after submission</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" routerLink="/manage-reports">Submit</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newswab-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send to Printer</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/img/new-slab.png">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Cancel</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to cancel the case?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" routerLink=" #">Cancel</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="consolidated-reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="m-0"><b> Consolidated Report</b></h4>
       <div class="form-group dropdown no-arrow">
        <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn submit-button btn-sm mr-2" target="_blank"  routerLink="assets/img/table-report.pdf">Send</a> <!--  onclick="printDiv('print-table');" -->
       </div>
      </div>
      <div class="modal-body" > <!--  id="print-table" name="abcs" -->
        <div class="bg-custom-gray">
          <a class="navbar-brand">
            <img src="assets/img/sip_logo_bluewhite.png" width="200">
            
          </a>
          
          <div class="float-right">
              <p class="m-1 font-weight-bold">Express Healthcare, LLC</p>
              <p class="m-1 font-weight-bold">Reported Date : 08/10/2020</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <p class="m-2 text-center font-weight-bold">The table contain the result of the specimens collected on 08/10/2020</p>
        <div class="table-responsive">
          <table class="table nowrap display table-sm table-hover table-bordered mb-0" style="width:100%">
            <thead>
              <tr class="table-secondary">
                <th>#</th>                              
                <th>Last Name</th>
                <th>First Name</th>
                <th>Case #</th>                              
                <th>Specimen Type</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td>1</td>
                <td>Grossman</td>
                <td>Teri</td>
                <td>NV20-0001</td>
                <td>Nasopharyngeal swab</td>
                <td>Negative</td>
              </tr> 
              <tr>   
                <td>2</td>
                <td>Cain</td>
                <td>Franklin</td>
                <td>NV20-0002</td>
                <td>Nasopharyngeal swab</td>
                <td>Negative</td>
              </tr>
              <tr>   
                <td>3</td>
                <td>Juan</td>
                <td>Araujo</td>
                <td>NV20-0003</td>
                <td>Nasopharyngeal swab</td>
                <td>Negative</td>
              </tr> 
              <tr>   
                <td>4</td>
                <td>Linda</td>
                <td>Brown</td>
                <td>NV20-0004</td>
                <td>Nasopharyngeal swab</td>
                <td>Negative</td>
              </tr>
            </tbody>

          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="detailconsolidated-reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="m-0"><b>Detail Consolidated Report</b></h4>
       <div class="form-group dropdown no-arrow">
        <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Cancel</button>
        <a routerLink="assets/img/NGLIS-multi.pdf" target="_blank" class="btn submit-button btn-sm mr-2" >Send</a>  
       </div>
      </div>
      <div class="modal-body " >
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-md-4 align-self-center text-center">
              <img src="assets/img/sip_logo_bluewhite.png" width="150">
              
            </div>
            <div class="col-md-8">
              <div class="bg-custom-gray">
                <div class="form-heading-report">
                  <p>SPECIMEN</p>
                </div>
                <!-- <h5 class="text-dark font-weight-bold">Patient Information</h5> -->
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class="">Your No : <span class="font-weight-bold">54645 </span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Case No : <span class="font-weight-bold">NV20-0001</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class="">Req No : <span class="font-weight-bold">3434</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Collected : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Sent : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class="">Received : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class="">Prelim : <span class="font-weight-bold">None</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Final : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Addendum : <span class="font-weight-bold">None</span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
           <div class="col-md-4">
              <div class="bg-custom-gray">
                <div class="form-heading-report">
                  <p>PATIENT</p>
                </div>
                <!-- <h5 class="text-dark font-weight-bold">Patient Information</h5> -->
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="p-name" class="">Name : <span class="font-weight-bold">Grossman Teri</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="p-name" class=" ">DOB : <span class="font-weight-bold">03/15/1993</span></label>
                  </div>
                  <div class="col-md-6">
                    <label for="p-name" class=" ">Sex : <span class="font-weight-bold">Male</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="p-name" class=" ">ID : <span class="font-weight-bold">43423</span></label>
                  </div>
                  <div class="col-md-6">
                    <label for="p-name" class=" ">Tell : <span class="font-weight-bold">912473948329</span></label>
                  </div>
                </div>
                
                
              </div>
            </div>
            <div class="col-md-8">
              <div class="bg-custom-gray">
                <div class="form-heading-report">
                  <p>PHYSICIAN</p>
                </div>
                <!-- <h5 class="text-dark font-weight-bold">Patient Information</h5> -->
                <div class="form-group row">
                  <div class="col-md-8">
                    <label for="p-name" class="">Facility : <span class="font-weight-bold"></span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class="">Account : <span class="font-weight-bold">10705-1</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class="">Administrator : <span class="font-weight-bold">Alex</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Tel : <span class="font-weight-bold">94234325</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Fax : <span class="font-weight-bold">94234325</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="p-name" class=" ">Address : <span class="font-weight-bold"></span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="bg-custom-gray w-100 text-center">
                <p class="text-info mb-0">A copy of this report can be viewed at siParadigm.com under requisition # _____ and Case # ______</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-heading-report">
                <p>COVID-19</p>
              </div>
              <div class="bg-custom-gray w-100 text-center">
                <p class="text-info mb-0">Nasopharyngeal swab : Negative for SARS-CoV-2 (COVID-19)</p>
                <hr class="mb-0">
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="bg-custom-gray">
                    <label  class="text-justify"><span class="font-weight-bold">Comments : </span> Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                    containing  Ipsum passages, and more recently with desktop publishing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. software and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. like Aldus PageMaker including versions of Lorem 
                    Ipsum.</label>
                  </div>
                  
                </div>
                <div class="col-md-6 pt-2">
                  <p class="m-0 text-primary">siPardigm Diagnostics Informatics</p>
                  <p class="m-0 text-primary">25 Riverside Drive, Suite 2</p>
                  <p class="m-0 text-primary">Pine Brook NJ-07058</p>
                  <p class="m-0 text-primary">Tel:888-555-LABS</p>
                  <p class="m-0 text-primary">Fax:201-599-9066</p>
                </div>
                <div class="col-md-6 text-right">
                  <p class="m-0 text-primary">Medical Director : XYZ</p>
                  <p class="m-0 text-primary">NY state PF-#:8124</p>
                  <p class="m-0 text-primary">NJ state licence #:3432</p>
                  <p class="m-0 text-primary">NJ state CLIS ID #:15452</p>
                  <p class="m-0 text-primary">CCLIA # : 4324324</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="container-fluid p-0" style="page-break-before: always;"> 
          <div class="row">
            <div class="col-md-12">
              <div class="form-heading-report">
                <p>SPECIMEN INFORMATION</p>
              </div>
              <p class="float-left text-siteblue font-weight-bold">Patient Name : Grossman Teri</p>
              <p class="float-right text-siteblue font-weight-bold">Case # : NV20-0001</p>
              <div class="clearfix"></div>
              <div class="bg-custom-gray">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class=" "> <span class="font-weight-bold">Clinical History :</span> Lorem Ipsum is simply dummy text of the printing 
                      and typesetting industry. Lorem Ipsum has been the industry's standard</label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label  class=" "> <span class="font-weight-bold">Received :</span> </label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label  class=" "> <span class="font-weight-bold">CPT Codes :</span> </label>
                  </div>
                </div>
                <hr class="m-0">
                <label  class="text-justify small">This test has not been PTA approved Lorem Ipsum is simply dummy text of the printing 
                  and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                  into electronic typesetting, resurvived not only five centuries, but also the leap 
                  into electronic typesetting, remaining essentially unchanged. software and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                  into electronic typesetting, remaining essentially unchanged. like Aldus PageMaker including versions of Lorem 
                  Ipsum.</label>
              </div>
              <div class="bg-custom-gray w-100">
                <p class="text-siteblue mb-0">End of Report</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container-fluid p-0" style="page-break-before: always;">
          <div class="row">
            <div class="col-md-4 align-self-center text-center">
              <img src="assets/img/sip_logo_bluewhite.png" width="150">
              
            </div>
            <div class="col-md-8">
              <div class="bg-custom-gray">
                <div class="form-heading-report">
                  <p>SPECIMEN</p>
                </div>
                <!-- <h5 class="text-dark font-weight-bold">Patient Information</h5> -->
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class="">Your No : <span class="font-weight-bold">54645 </span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Case No : <span class="font-weight-bold">NV20-0001</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class="">Req No : <span class="font-weight-bold">3434</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Collected : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Sent : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class="">Received : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class="">Prelim : <span class="font-weight-bold">None</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Final : <span class="font-weight-bold">05/19/20 11:00 PM</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Addendum : <span class="font-weight-bold">None</span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
           <div class="col-md-4">
              <div class="bg-custom-gray">
                <div class="form-heading-report">
                  <p>PATIENT</p>
                </div>
                <!-- <h5 class="text-dark font-weight-bold">Patient Information</h5> -->
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="p-name" class="">Name : <span class="font-weight-bold">Grossman Teri</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="p-name" class=" ">DOB : <span class="font-weight-bold">03/15/1993</span></label>
                  </div>
                  <div class="col-md-6">
                    <label for="p-name" class=" ">Sex : <span class="font-weight-bold">Male</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="p-name" class=" ">ID : <span class="font-weight-bold">43423</span></label>
                  </div>
                  <div class="col-md-6">
                    <label for="p-name" class=" ">Tell : <span class="font-weight-bold">912473948329</span></label>
                  </div>
                </div>
                
                
              </div>
            </div>
            <div class="col-md-8">
              <div class="bg-custom-gray">
                <div class="form-heading-report">
                  <p>PHYSICIAN</p>
                </div>
                <!-- <h5 class="text-dark font-weight-bold">Patient Information</h5> -->
                <div class="form-group row">
                  <div class="col-md-8">
                    <label for="p-name" class="">Facility : <span class="font-weight-bold"></span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class="">Account : <span class="font-weight-bold">10705-1</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label for="p-name" class="">Administrator : <span class="font-weight-bold">Alex</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Tel : <span class="font-weight-bold">94234325</span></label>
                  </div>
                  <div class="col-md-4">
                    <label for="p-name" class=" ">Fax : <span class="font-weight-bold">94234325</span></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="p-name" class=" ">Address : <span class="font-weight-bold"></span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="bg-custom-gray w-100 text-center">
                <p class="text-info mb-0">A copy of this report can be viewed at siParadigm.com under requisition # _____ and Case # ______</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-heading-report">
                <p>COVID-19</p>
              </div>
              <div class="bg-custom-gray w-100 text-center">
                <p class="text-info mb-0">Nasopharyngeal swab : Negative for SARS-CoV-2 (COVID-19)</p>
                <hr class="mb-0">
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="bg-custom-gray">
                    <label  class="text-justify"><span class="font-weight-bold">Comments : </span> Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                    containing  Ipsum passages, and more recently with desktop publishing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. software and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially unchanged. like Aldus PageMaker including versions of Lorem 
                    Ipsum.</label>
                  </div>
                  
                </div>
                <div class="col-md-6 pt-2">
                  <p class="m-0 text-primary">siPardigm Diagnostics Informatics</p>
                  <p class="m-0 text-primary">25 Riverside Drive, Suite 2</p>
                  <p class="m-0 text-primary">Pine Brook NJ-07058</p>
                  <p class="m-0 text-primary">Tel:888-555-LABS</p>
                  <p class="m-0 text-primary">Fax:201-599-9066</p>
                </div>
                <div class="col-md-6 text-right">
                  <p class="m-0 text-primary">Medical Director : XYZ</p>
                  <p class="m-0 text-primary">NY state PF-#:8124</p>
                  <p class="m-0 text-primary">NJ state licence #:3432</p>
                  <p class="m-0 text-primary">NJ state CLIS ID #:15452</p>
                  <p class="m-0 text-primary">CCLIA # : 4324324</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="container-fluid p-0" style="page-break-before: always;"> 
          <div class="row">
            <div class="col-md-12">
              <div class="form-heading-report">
                <p>SPECIMEN INFORMATION</p>
              </div>
              <p class="float-left text-siteblue font-weight-bold">Patient Name : Grossman Teri</p>
              <p class="float-right text-siteblue font-weight-bold">Case # : NV20-0001</p>
              <div class="clearfix"></div>
              <div class="bg-custom-gray">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class=" "> <span class="font-weight-bold">Clinical History :</span> Lorem Ipsum is simply dummy text of the printing 
                      and typesetting industry. Lorem Ipsum has been the industry's standard</label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label  class=" "> <span class="font-weight-bold">Received :</span> </label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label  class=" "> <span class="font-weight-bold">CPT Codes :</span> </label>
                  </div>
                </div>
                <hr class="m-0">
                <label  class="text-justify small">This test has not been PTA approved Lorem Ipsum is simply dummy text of the printing 
                  and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                  into electronic typesetting, resurvived not only five centuries, but also the leap 
                  into electronic typesetting, remaining essentially unchanged. software and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                  took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                  into electronic typesetting, remaining essentially unchanged. like Aldus PageMaker including versions of Lorem 
                  Ipsum.</label>
              </div>
              <div class="bg-custom-gray w-100">
                <p class="text-siteblue mb-0">End of Report</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="delivery-historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Delivery History</b></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="spec-col-history" class="table nowrap table-sm table-hover table-bordered"
            style="width:100%">
            <thead class="bg-light">
              <tr>
                <th>Sent By</th>
                <th>Sent Date</th>                  
                <th>Report</th>                  
                <th>Download</th>                  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ahmed Khan</td>
                <td>08-05-2020/06-23-PM</td>  
                <td>Consolidated</td>  
                <td><a routerLink="assets/img/NGLIS231.pdf" target="_blank" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></a></td>
                          
              </tr>
              <tr>
                <td>John Sam</td>
                <td>08-05-2020/06-23-PM</td>  
                <td>Detail Consolidated</td>  
                <td><a routerLink="assets/img/NGLIS-multi.pdf" target="_blank" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></a></td>
                           
              </tr>
              <tr>
                <td>Jack Bob</td>
                <td>08-05-2020/06-23-PM</td>  
                <td>Consolidated</td>  
                <td><a routerLink="assets/img/NGLIS231.pdf" target="_blank" class="ml-1"><i class="fa fa-download" title="Download Latest Report"></i></a></td>
                        
              </tr>

            </tbody>

          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-sm" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
<!-- deactivate Modal-->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivate">Remove</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure to remove the case?</div>
      <div class="modal-footer">
        <button class="btn btn-warning" type="button" data-dismiss="modal">Close</button>
        <a class="btn submit-button" routerLink="/manage-reports">Remove</a>
      </div>
    </div>
  </div>
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModalold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" routerLink="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>