
    <!-- Sidebar -->

    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-arrow">
            <li class="small"><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="small active"><span>Dashboard</span></li>
          </ol>
        </nav>

        
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
